[2021-07-30 15:42] nik-andreev opened #971 "ddtrace/tracer: possible memory leak with very large traces (50MB+)"
**What**

Using the v1.31.1 version of `dd-trace-go` I sometimes see leaked serialized trace content consuming very large amounts of memory:

 ![image](https://user-images.githubusercontent.com/56276843/127675800-d07c3174-b8ed-4b32-895f-675cd1ef674c.png)

**Replication**
The issue could be demonstrated by running this little script that constructs artificially bloated trace:
[code]

The resulting

[2021-08-02 10:52] nik-andreev commented on #971
I'm probably missing something, but where is the `payload` reused? It seems like it is discarded the moment it is scheduled for flushing - https://github.com/DataDog/dd-trace-go/blob/63dea358a04d495f0b0f25b363b77eabe4e09153/ddtrace/tracer/writer.go#L77-L105

[2021-08-02 11:05] gbbr commented on #971
Oh my! Indeed you are right. My bad.

[2021-08-03 03:00] samlof commented on #507
There is https://github.com/99designs/gqlgen-contrib/blob/master/gqlopencensus/tracer.go which has DataDog bool. It's not plug and play but should help for users who need tracing to datadog

[2021-08-04 14:38] shannontan-bolt commented on #971
@nik-andreev - I wasn't the only one! https://github.com/DataDog/dd-trace-go/issues/948#issuecomment-875176257

[2021-08-04 14:42] shannontan-bolt commented on #971
@gbbr, any possibility of a fix for this?

[2021-08-04 15:17] nik-andreev commented on #971
Yep, sorry for missing your comment on #948. FWIW, our workaround was to find the "large" traces and fix them so that they are smaller.

[2021-08-04 17:51] knusbaum commented on #971
I'm OK with removing the `p.waitClose()` since it looks like it works around an issue we don't have anymore.

I'm not sure why removing that line reduces the memory consumption. `waitClose` was just there to prevent reusing the payload until the transport was done with it. Even though we don't reuse the payload, the transport will still hang onto the payload as long as it wants, keeping it from be

[2021-08-04 17:54] knusbaum commented on #969
@nzin-appdirect Thanks for this.

From a quick look, your integration seems to follow the style of our other http integrations.
I think we can go forward with a PR and review.

[2021-08-04 17:55] knusbaum commented on #620
@Mangosteen-Yang None yet, but we're happy to have help if anyone is interested in doing this.

[2021-08-04 18:00] knusbaum commented on #957
@isbang I will take a look at this.

[2021-08-04 18:02] knusbaum commented on #954
We can start another discussion about target coverage elsewhere. For now this is done.

[2021-08-04 18:02] #954 closed

[2021-08-04 18:05] knusbaum commented on #958
@kyfk, Whatever starts the child span in `GetContext` may not run immediately. There may be startup operations, scheduling latency, lots of other stuff that could cause that gap, especially when there is high load.

This looks like a perfect use case for profiling. That should help you determine what is taking so long in the process.

[2021-08-04 18:15] knusbaum commented on #957
@isbang It looks like `WithRequestTags` is only implemented for the 'UnaryServerInterceptor':
https://github.com/DataDog/dd-trace-go/blob/d62beaae492db2d8d56277e2fa97533e9f2e142e/contrib/google.golang.org/grpc/server.go#L149-L156

If this can be implemented for the streaming server (it's not clear from the types), we would have to add it here:
https://github.com/DataDog/dd-trace-go/blob/d62beaae49

[2021-08-04 19:38] shannontan-bolt commented on #971
Ah no worries! I'm just thankful that you tried something else out too. I was thinking about that, but to @knusbaum's comment, I couldn't figure out _why_ that releases the memory. After all, Golang's HTTP client implementation should call close on the request body?

[2021-08-04 19:57] nik-andreev commented on #971
I spent some time going through `net/http` but also couldn't spot the bug. Using the script from the description and some tweaks I found that it doesn't really matter what is in `p.waitClose` - as long as another function is called `p.anything` it hits some edge case where some of the `transport` internals need a reference to `payload`. This happens only if the request is too large and `httpClient

[2021-08-04 20:46] knusbaum commented on #971
@nik-andreev I've seen other spurious reports of the http client leaking, but nothing concrete.

Can you tell me which version of Go you are using?

[2021-08-04 21:30] knusbaum commented on #971
It looks like if the agent responds but not with a parseable json, the trace client can forget to close the response body:
https://github.com/DataDog/dd-trace-go/blob/d62beaae492db2d8d56277e2fa97533e9f2e142e/ddtrace/tracer/sampler.go#L121-L124

I'm not sure if this ever happens in practice. Do you ever see the metric `datadog.tracer.decode_error` > 0?
https://github.com/DataDog/dd-trace-go/blob/d6

[2021-08-04 21:30] nik-andreev commented on #971
[code]

I'm curious whether you can reproduce in your environment with the script that I pasted.

[2021-08-04 21:33] nik-andreev commented on #971
Nope, don't have this one:
![image](https://user-images.githubusercontent.com/56276843/128257892-9519db9b-9318-414a-a298-8de5b0438082.png)

[2021-08-04 21:34] omh1280 commented on #946
Yep, that’s right.

[2021-08-04 21:35] knusbaum commented on #971
Thanks for the response.
Running your test locally, I get this, which does not look problematic to me:
[code]

[2021-08-04 21:47] nik-andreev commented on #971
Yep, that seems normal. Maybe try to ratchet `times` so the size and the corresponding delay is larger? I saw some variability there (I was doing the test on a shared machine).

[2021-08-04 22:26] shannontan-bolt commented on #971
Isn't the issue with the request body not being closed? Based on the memory profile, the allocation of the memory is in the payload that stores traces.

[2021-08-05 00:48] knusbaum commented on #971
@nik-andreev
I tried increasing `times` to 80 and see hundreds of MB of memory just sitting there.

I've been digging in the code, but can't figure out what is holding the reference.
Adding a `p.reset()` to the case here seems to fix it, and looks like the cleanest solution to me:
https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/payload.go#L125

Can you confirm?

[2021-08-05 01:02] knusbaum commented on #971
@shannontan-bolt

Yes, that issue is with the request body not being closed, but we're suspecting some http machinery is holding onto the request, which is holding onto the payload, since there are no references to the payload kept by the tracer once the payload is sent. Incorrectly closing the request could potentially cause it to linger.

[2021-08-05 01:22] isbang commented on #957
Thanks @knusbaum!

[2021-08-05 14:06] nik-andreev commented on #971
Calling just `p.reset()` didn't help but manually resetting the buffer seems to work for me:
[code]

It seems like `Reset` on the buffer is not [enough](https://pkg.go.dev/bytes#Buffer.Reset)

This makes sense to me since before the `payload` was reused so reset but keeping the storage around made since. It is not reused anymore so `reset` could be more aggressive.

[2021-08-06 13:42] shannontan-bolt commented on #971
[code]

Datadog v1.31.1

[2021-08-06 13:42] shannontan-bolt commented on #971
Figured I'd get this running so I can jump into the debugging myself :)

[2021-08-06 15:37] shannontan-bolt commented on #971
I did a few rounds of debugging myself (sorry if this was already known):
- I found that closing channels didn't help
- waitClose does actually wait for the channel, and close is run asynchronously from client.Do(...)
- the only other usage (i see) of the channel is for reset, which is only used within tests. Is there a strong case for why we can't remove it?

[code]

[2021-08-08 04:17] nzin-appdirect commented on #969
Wonderful @knusbaum .

I created https://github.com/DataDog/dd-trace-go/pull/974

[2021-08-08 07:49] nzin-appdirect commented on #969
can you tell me how to set the milestone in my PR?

[2021-08-09 10:37] gbbr commented on #971
The only reason for it to be there is to follow documentation and wait for the Close call. I'd prefer keeping it for correctness. But as @knusbaum [also said](https://github.com/DataDog/dd-trace-go/issues/971#issuecomment-892853349), if we can understand more exactly what's causing the memory leak and that results in us removing this call, I have no problem with that.

I don't think it's a good id

[2021-08-09 17:25] shannontan-bolt commented on #971
I've spent quite a few hours trialing a few solutions and diving into the depths of the standard library to try to understand why this might be happening - so I generally agree that if we can understand exactly why this causes a memory leak, it'd be great to do.

However, this is a ticking time bomb in our production systems too - we don't have complete visibility or audit of all code paths within

[2021-08-09 22:14] shannontan-bolt commented on #971
A few additional, interesting, but not conclusive findings. Contrary to @nik-andreev's statement above regarding

I found that not using a channel in waitClose has solved the memory issue (but no clue why):

[code]

I'd invite folks to test it and see if this fixes the memory issue (if you can replicate it) using the snippet @nik-andreev provided. Additionally, buffer.Reset not working seems to be

[2021-08-09 22:34] shannontan-bolt commented on #971
I feel very unconfident in this solution, but somehow this "works on my machine".

[code]

[2021-08-09 23:22] knusbaum commented on #965
@tsvtitan If you can describe your use case, we might be able to figure something out to support it.

As it is, this proposal does not fit with our supported use cases and is likely to cause problems.

[2021-08-10 00:27] knusbaum commented on #971
Issues like this are very difficult to solve without a heap explorer. Nothing in our code is holding the reference, and it's difficult to trace the standard library's http client code to detect what might be holding the reference.

Like @gbbr said, we don't want to start changing documented behavior (waiting for the `payload` to be closed) without knowing why it affects the issue.

However, resett

[2021-08-10 00:29] knusbaum commented on #969
@nzin-appdirect Sorry, I think that's controlled by maintainers. I've set it for you. We'll start reviewing your PR.

[2021-08-10 00:30] knusbaum commented on #946
Good, I think this implementation will work.

[2021-08-10 03:29] shannontan-bolt commented on #971
I'm not sure I understand this rationale - what is the need for the wait to be closed? If that were common and/or good practice, wouldn't the standard library take this into account rather than wait for it to complete asynchronously? I also think that a good Close() would consider reading the bytes.Buffer in its entirety since we seem to have this problem mostly with 413s (payload-too-large) error

[2021-08-10 03:42] shannontan-bolt commented on #971
Sorry @gbbr, what documentation are you referring to with this comment?

[2021-08-10 07:19] gbbr commented on #971
@shannontan-bolt:

From https://github.com/golang/go/blob/go1.16/src/net/http/client.go#L134-L138:

I guess we are not reusing the body anymore, so we can remove the call? What do you think @knusbaum? Based on the documentation it seems we'd still be fine.

The only possible (complete guess) explanation I have is that the transport (be it standard library or custom to some package in the program)

[2021-08-10 07:46] gbbr commented on #971
I created a proposal PR. Let me know if that solution works for you, if you could please try it out. In the meantime let's wait to hear @knusbaum's thoughts on it.

[2021-08-10 07:51] gbbr commented on #971
One further note is that the goroutine in which we are sending the payload is not synchronised, doesn't have any waiting mechanisms nor any counters. It could easily happen for these goroutines to grow in number and end up blocking and we wouldn't know. @shannontan-bolt have you managed to extract a blocking profile? We might be surprised what we see 🙂

We should likely add at least a statsd count

[2021-08-10 14:48] shannontan-bolt commented on #971
I took the script and added
[code]

[code]

But I don't really know what I'm looking for out of the produced files - any help would be appreciated.

[2021-08-11 07:00] gbbr commented on #971
@shannontan-bolt thanks for doing that! Could you save it to a file and send it to us? You can use any support means you prefer from here: https://www.datadoghq.com/support/. Simply attach the file, mention this issue and myself and/or Kyle and it should reach us. In the meantime, the PR stays up and will likely resolve the issue based on what I'm reading in this thread.

Additionally, is there an

[2021-08-11 12:21] nik-andreev commented on #971
@gbbr , FWIW the PR resolves the problem in my test environment. Thanks for the speedy response & PR!

[2021-08-11 12:35] nzin-appdirect commented on #969
cool!
Thank you

[2021-08-11 12:56] shannontan-bolt commented on #971
Yep - it fixes the problem. I'll submit the file via support.

Thanks @gbbr and @knusbaum!

[2021-08-11 13:21] gbbr commented on #971
Excellent! Thanks for your patience and support with this!

[2021-08-11 19:35] tsvtitan commented on #965
It would be great to have an example of TextMapReader usage between 2 apps that work over custom TCP protocol to propagate TraceID. Bare in mind that the first app generates TraceID (has no DataDog integration), the second one consumes it and push traces to DataDog.

By the way, there is the custom TraceID support in [Jaeger](https://github.com/devopsext/sre/blob/main/provider/jaeger.go#L278) or [

[2021-08-12 01:00] knusbaum commented on #971
Yeah, thanks everyone for the assistance and patience on this. When we get this merged I'll put out a patch release since this seems to be a serious issue for multiple users.

[2021-08-12 08:30] gbbr commented on #971
I've looked at the profile, here's an overview of what's in it:
* 32% Sending dogstatsd metrics
* 17% Serving delta profiles by the profiler
* 15% Main worker routinue
* 11% Concentrator/APM stats flushing - this should arguably be off when disabled, although probably no impact
* 11% Health metrics goroutine

I think all of these are fine and active goroutines in the system, which should be blocki

[2021-08-13 06:19] #971 closed

[2021-08-13 12:06] dubonzi opened #978 "proposal: contrib/gofiber/fiber.v2: improve error handling"
Right now the fiber integration doesn't set the error information on the spans, like it's done for echo. Instead of seeing the actual error info, the span is only marked with a status code error. Is there some specific reason for it or could it be improved? I'd be happy to work on a PR if possible :)

Echo: https://github.com/DataDog/dd-trace-go/blob/v1/contrib/labstack/echo.v4/echotrace.go#L55
Fi

[2021-08-17 15:08] bboyrankingz opened #980 "proposal: contrib/olivere/elastic: Allow http.RoundTripper interface instead off *http.Transport"
Hello,

Just want to know if I could PR for this update ?

# Code
[code]

# exemple usage
[code]

And it should still work with a classic http.Transport

Thank you

[2021-08-18 07:56] gbbr commented on #980
Hi there 👋🏻 Thanks for opening an issue to discuss. Would the below code not have the exact same outcome?

[code]
(adapted from your example)

[2021-08-18 07:58] gbbr commented on #980
Would you not be able to simply wrap the returned `http.Client` and augment it as you wish? This integration replaces the `Transport` in the client so it would be misleading to offer the illusion that one could use a custom one (at least as far as the `RoundTrip` method goes).

[2021-08-18 18:22] omh1280 opened #982 "contrib/confluentinc/confluent-kafka-go: Set producerServiceName if svc is set"
When using the Kafka tracer, one expects `DD_SERVICE` environment variable to set both the Kafka Consumer and Producer tracer `serviceName` properly.

Instead, only the Consumer service name is set.

[2021-08-18 19:59] bboyrankingz commented on #980
thanks for the quuick response. I will think about it later

[2021-08-19 11:20] MrDOS opened #983 "proposal: “resource namer” for `net/http` wrapper"
I've instrumented my application for Datadog tracing using the `net/http` wrapper from `gopkg.in/DataDog/dd-trace-go.v1/contrib/net/http`. None of the more specific tracers work for us, and wrapping the `http.Handler` like this means I can start tracing each request very early in its lifecycle. It's convenient, minimally-invasive, and really easy to implement. The most significant drawback is that

[2021-08-19 21:25] knusbaum commented on #982
We do not want to set global service name on client integrations. We only do this for server integrations (see: https://github.com/DataDog/dd-trace-go/pull/970#pullrequestreview-733632696)
https://github.com/DataDog/dd-trace-go/blob/c0f4b736808a09e0716171201f968927c232da5e/internal/globalconfig/globalconfig.go#L45

Please note you can set the integration's service name for both consumer and produc

[2021-08-19 23:09] afarbos opened #984 "proposal contrib/net/http: add StartSpanOption to RoundTripperOption"
When wrapping a `http.Client` or `http.RoundTripper`, we cannot any additional provide start span options.
This block the use of some functions, for example `Tag.Measured()`.

Example:
[code]

[2021-08-20 02:49] knusbaum opened #985 "proposal: default connection to agent via UDS"
Per the internal RFC here: (https://github.com/DataDog/architecture/blob/master/rfcs/trace-autodetect-agent-config/rfc.md)

## Goal
We want to connect to the agent via unix domain sockets when they are available. This is designed to reduce onboarding configuration by auto-connecting to a local agent without the need for configuring host and port, or relying on the agent to be listening on the defa

[2021-08-20 05:03] knusbaum commented on #965
Hi, @tsvtitan
The `TextMapCarrier` can be used to carry trace information over any transport you like. It is just a `map[string]string` that can be serialized using whatever format you like and transported over whatever protocol you use.

On the other end, it can be deserialized and used to create child spans.

Alternatively, `TextMapReader` and `TextMapWriter` can be implemented by you if you wou

[2021-08-20 05:20] knusbaum commented on #983
Thanks for the proposal, @MrDOS.

This looks very useful and would be a good addition. However, I think we should change how we're incorporating the resource namer. Rather than having a separate function it would be good to implement this as an `Option` like we do in other integrations, for example the [gin integration](https://github.com/DataDog/dd-trace-go/blob/d326bfb295a7c76347e5866bb349b9fb8e

[2021-08-20 05:25] knusbaum commented on #984
This seems OK. We would just need to add a `RoundTripperOption` for span options similar to the one already there for the server integration: https://github.com/DataDog/dd-trace-go/blob/d326bfb295a7c76347e5866bb349b9fb8e6fe7b1/contrib/net/http/option.go#L90-L96

[2021-08-20 05:33] knusbaum commented on #978
@dubonzi
I don't see a reason why we shouldn't be capturing the error from the `Next` call here: https://github.com/DataDog/dd-trace-go/blob/v1/contrib/gofiber/fiber.v2/fiber.go#L56

If you would like to put up a PR for that we'd be happy to review it.

[2021-08-20 07:59] felixge commented on #985
@knusbaum I don't see any issues with this proposal. The only suggestion I have is to consider logging a warning when `!userProvidedAgentAddress && c.httpClient != nil` saying that we're not defaulting to UDS because a custom http client has been configured or something like that. But we can hash out details like this in the PR.

[2021-08-20 08:21] gbbr commented on #985
The only issue here is that we do not have any guarantee on the [receiver socket path](https://github.com/DataDog/datadog-agent/blob/main/pkg/config/config_template.yaml#L835-L839) that the user will choose. Assuming that he is using UDS based on a file path will not be a very good approach.

Instead, the right way to do this is to add this information to the discovery endpoint (`/info`) of the tr

[2021-08-20 08:24] gbbr commented on #985
P.S. I'm not sure we should religiously follow an RFC which was merged in a PR labelled as `draft` that has 0 reviews.

[2021-08-20 08:31] felixge commented on #985
@gbbr I thought the main goal of this proposal is to reduce issues with connecting to the agent to begin with? If you're already able to hit the `/info` endpoint from the tracer, switching to UDS doesn't seem to be a big win anymore?

[2021-08-20 08:35] gbbr commented on #985
My bad. I TL;DR-ed (is this an expression?) through the RFC. In that case, when there is no way to connect, I think that attempting this is definitely a good approach.

[2021-08-20 10:51] MrDOS commented on #983
Digging back in my memory to when I implemented this, the Gin integration was certainly my inspiration. I'm trying to remember, but I'm fairly certain the reason I chose not to make the resource namer an `Option` was because of this exact problem with the existing argument to `WrapHandler`. And also because `ServeHTTP` gets the resource name from the mux configuration, so customizing the resource

[2021-08-20 10:53] MrDOS commented on #983
As far as the ID replacement patterns are concerned: Datadog RUM does something similar to try to generalize URLs into resources. Do you happen to know if those patterns are documented somewhere? It would probably be ideal to match that behaviour if possible.

[2021-08-20 12:46] dubonzi commented on #978
Thanks for taking a look @knusbaum!

It will! I'll open a PR soon for it.

[2021-08-20 14:26] ckyko opened #987 "Question: Datadog trace for echo is giving useless trace stack for 4xx and 5xx status code."
Hi, I am using Datadog trace for my go echo server. And, I saw there is a trace stack for 4xx and 5xx status codes on the Datadog APM traces tag tab. But, looks like it is showing the same error stack. And, it is not my error stack. Looks like it is the trace stack where we set the error-tag.

should we should it if it is not the real error trace stack? is there any way to disable it for the wrong

[2021-08-20 17:37] omh1280 commented on #982
Thanks for the explanation! I don't entirely get the reasoning for `ServiceName` to be only for non-client integrations, but that's a different issue. Wouldn't a generic `grpc.client` service defeat the purpose of tracing since it wouldn't be clear what the client is?

I'll close this issue & PR.

[2021-08-20 17:37] #982 closed

[2021-08-21 02:36] dubonzi commented on #987
I might be wrong, but I believe this line of the stack
[code]
refers to your handler defined in
[code]

Its not clear because its an anonymous function. Try defining a actual function and check the stack again. Something like
[code]

[2021-08-23 14:20] ckyko commented on #987
I try the actual function and the stack looks the same.
[code]

[code]

The stack doesn't show my handler.

[2021-08-23 16:49] afarbos commented on #984
Exactly and it got me confused at the beginning since I was looking for it.
I am guessing in this case it would be something like: `RTWithSpanOptions`.

[2021-08-25 15:26] knusbaum commented on #985
@felixge @gbbr To be clear, the proposed method is:
1. For the tracer:
a. Use any user-provided configuration
b. Try UDS at `/var/run/datadog/apm.socket`
c. Fall back to current default of `localhost:8126`
1. For the statsd client:
a. Use any user-provided configuration
b. (After the tracer connection is configured) - Attempt to configure via the `/info` endpoint.
c. Try UDS at `/var/run/datadog/d

[2021-08-26 05:42] prasad-marne opened #989 "proposal: contrib/twitchtv/twirp: serviceName should be read from global config"
https://github.com/DataDog/dd-trace-go/blob/v1/contrib/twitchtv/twirp/option.go#L32

add a check to see if global config ServiceName is not empty before assigning the default serviceName.
I can create a PR if the proposal is accepted.

[2021-08-26 21:26] JamesChung opened #990 "proposal: contrib/gofiber/fiber.v2: reference to initial middleware span/context"
As far as I can tell the middleware currently is throwing away the context from the initial `tracer.StartSpanFromContext` here:

https://github.com/DataDog/dd-trace-go/blob/4cc670944564d33a6bca2cefa21226de0ef800f1/contrib/gofiber/fiber.v2/fiber.go#L44

As a result the subsequent trace isn't linked to the initial request so you end up with one trace `http.request GET /` and another disjointed trace

[2021-08-29 20:31] AHHussain569 commented on #620
@knusbaum Within the `go.mod` dependencies I noticed that elastic version 3 and 5 are referenced and also within the unit tests within `contrib/olivere/elastic/example_test.go` though `config.yml` also references `elasticsearch:2` and `elasticsearch:5`. With regards to elasticsearch specifically what are we testing through `config.yml`?

[2021-08-30 17:14] knusbaum commented on #971
Since `v1.33.0` has just been tagged and released, I don't see a need to put up patch releases for previous versions.

[2021-08-30 17:43] knusbaum commented on #620
@AHHussain569
The `.circleci/config.yml` sets up `elasticsearch:2` and `elasticsearch:5` to listen on port `9200` and `9201` respectively, and are then used for integration tests such as [here (v5)](https://github.com/DataDog/dd-trace-go/blob/4cc670944564d33a6bca2cefa21226de0ef800f1/contrib/olivere/elastic/elastictrace_test.go#L39) and [here (v3)](https://github.com/DataDog/dd-trace-go/blob/4cc670

[2021-08-30 17:59] knusbaum commented on #990
Hi, @JamesChung. Thanks for the report.

I would go so far as to consider this a bug. Your fix looks good and we'd be happy to accept a PR for it.

[2021-08-30 18:02] #978 closed

[2021-08-30 19:19] knusbaum opened #993 "proposal: ddtrace/opentracer: allow alternate behavior for `FollowsFrom` relationship"
The current `FollowsFrom` behavior is to create a `ChildOf` link between the follower and followee.
This is not always ideal. [from @itaysabato](https://github.com/DataDog/dd-trace-go/pull/905#issuecomment-900270970):
* A classic FollowsFrom relationship would be an async task, e.g. publishing a message in a queue and having some other process do something with it.
* While it is useful to be able

[2021-08-30 19:33] knusbaum commented on #989
This looks correct to me. Server integrations should take the global service name if it's defined.

[2021-08-30 19:39] dubonzi opened #995 "contrib/go.mongodb.org/mongo-driver/mongo: tag "db.statement" containing sensitive data"
The mongo integration adds a "db.statement" tag which contains the entire query being executed. This leads to a problem since the data isn't obfuscated and sensitive data ends up being sent to datadog.

https://github.com/DataDog/dd-trace-go/blob/v1/contrib/go.mongodb.org/mongo-driver/mongo/mongo.go#L47

Could we maybe make it so it can be disabled or find a way to hide the data inside the query?

[2021-08-30 20:14] knusbaum commented on #995
Absolutely, yes.
This has been in the queue for a little while.

[2021-08-30 20:39] knusbaum commented on #983
Quantizing the URLs looks attractive. I'm not aware that RUM's behavior is documented anywhere.

Our existing integrations rely on the router to tell us what the generic route is, like Gin's [FullPath](https://pkg.go.dev/github.com/gin-gonic/gin#Context.FullPath) and Gorilla Mux's [GetPathTemplate](https://pkg.go.dev/github.com/gorilla/mux#Route.GetPathTemplate)

[2021-08-30 22:19] dubonzi commented on #995
Great, thanks @knusbaum!

[2021-08-31 07:15] gbbr commented on #993
This looks good to me. I took the liberty to edit your comment and rename the function argument to `parent`, along with adding some documentation to the definition. I hope that's ok.

@itaysabato is this solution acceptable to you?

[2021-08-31 08:31] MrDOS commented on #983
I agree. As an API user, I'm pretty uncomfortable when I come across that.

When I can find the time, I'll start working what I already had into PR-able form, including a default implementation of a resource namer. If we get any further recommendations – on the API names, on patterns to mask in URLs, or on anything else – I'll be happy to incorporate them.

[2021-08-31 09:42] peay commented on #833
@andrewsouthard1 I considered this, but it leads to filtering happening directly in the Datadog cloud, and I am interested in reducing traffic to that to start with. Other SDKs (e.g., `ddtrace-py`) provide the ability to do a rather flexible sampling about specifics of the span, and I'd find it useful in the Go SDK as well.

[2021-08-31 10:32] gbbr commented on #833
One way you could most reliably do this today is to selectively create spans based on those aspects. For example, if you'd like 60% of errors to be sent, you could do something like this:
[code]
Would this be acceptable?

Note however that doing this will cause APM stats to be incorrect because the trace-agent will be unaware of 40% of spans. For this reason, we do not recommend such behaviour.

L

[2021-08-31 19:42] #990 closed

[2021-08-31 19:50] knusbaum commented on #983
I keep going back and forth on quantization and defaults. I've spoken to other teams internally and some try to quantize but others don't.

We're also running into this issue in the new negroni integration (see here: https://github.com/DataDog/dd-trace-go/pull/974#discussion_r698827861)

It would be great to be able to put this quantization logic into some common place if we are in fact going to u

[2021-08-31 20:13] #995 closed

[2021-09-02 07:33] itaysabato commented on #993
This is seems like a reasonable workaround, yes.
I also found myself adding `span_id` and `trace_id` tags to all spans in order to enable "traversal" of all the linked traces.

[2021-09-02 07:58] gbbr commented on #993
Wait, since you are already able to do this today (unless I misunderstood you), why do we need any changes? 😄

[2021-09-02 08:10] itaysabato commented on #993
:)
I am able to do this because I control all the spans that my app creates, but:
1. This does not hold for spans created by 3rd parties or the tracer.
2. I am only faking it, because there is no real FollowsFrom reference created - I would like there to be one, so that any future support will be enabled without rewiring everything again.

[2021-09-02 08:55] gbbr commented on #993
Ok. Fine by me to implement custom behaviour for this type of relationship. So let's consider this proposal accepted.

@itaysabato is there any interest on your end to submit a PR or would you like us to schedule it internally? Any is fine.

[2021-09-02 09:05] gbbr commented on #993
Coming back to this after exploring the code a little bit, it seems it's not as easy as we thought. We won't be able to use a `StartOption` such as the one proposed here (`WithFollowsFrom`) because it operates on top of an unexported config structure (`(ddtrace/tracer).(*config)`) which is not available within `ddtrace/opentracer`.

We need to explore another way, for example, we could have both `

[2021-09-02 16:06] knusbaum commented on #606
@AnhTaFP
This issue was closed earlier, but v7 support is in now.

[2021-09-02 18:26] knusbaum commented on #993
@gbbr I don't follow the infinite loop concern. Maybe a code example would help.

It would be nice to avoid adding to the Datadog tracer API since we don't *actually* support `FollowsFrom` yet. I'm OK with adding it if we have to, but it's not ideal. Hopefully we can keep this all inside `ddtrace/opentracer`.

In order to keep this inside `ddtrace/opentracer`, we may need to add some configuration

[2021-09-03 04:38] krosen040 opened #998 "proposal: ddtrace/opentracer: implementation should return errors specified in opentracing-go"
[opentracing-go defines some errors](https://github.com/opentracing/opentracing-go/blob/bdbb7cc3a1c08db5cc8b3296ec4447544fb43fe3/propagation.go#L12-L35) that are meant to be returned by implementations, but the Datadog OT implementation returns [errors specified in dd-trace-go](https://github.com/DataDog/dd-trace-go/blob/d62beaae492db2d8d56277e2fa97533e9f2e142e/ddtrace/tracer/propagator.go#L42-L57

[2021-09-03 11:49] gbbr commented on #993
I wonder bother giving the example, because I agree with this statement. Let's try hard to avoid this if possible, and resort to it only as a last option.

I don't know if that's possible without causing a breaking change. If `StartOption` would've been an interface, we could've had an `opentracer` flavour of it, but it's not the case.

Maybe we should simply add a feature flag for this, which cau

[2021-09-03 12:46] peay commented on #833
Thanks for the thoughts @gbbr, that makes sense. Selectively creating spans is definitely an option, although if you're using one the integration (e.g., to trace HTTP requests of a web server), then there's already an automatically created span and you cannot resort to that.

The rationale for not allowing more general filtering of traces makes sense. My use case is to use APM mostly for the "Erro

[2021-09-06 06:28] gbbr commented on #833
Got it. Thanks for clarifying and for sharing the link to the Python tracer. I'll check in with the team and mark this as a feature request. I propose we continue discussing options to do this here in this issue.

[2021-09-07 14:35] ckyko commented on #987
Thanks, I don't think disabling stack traces for the entire program is a good solution. I would expect there is an option to disable the stack traces when the traces are completely unhelpful.

[2021-09-08 02:45] knusbaum opened #999 "proposal: contrib/labstack/echo.v4: add NoDebugStack option"
It would be useful to add an `Option` to the echo integration similar to `NoDebugStack` from [goji](https://github.com/DataDog/dd-trace-go/blob/d62beaae492db2d8d56277e2fa97533e9f2e142e/contrib/zenazn/goji.v1/web/option.go#L50-L57) or [grpc](https://github.com/DataDog/dd-trace-go/blob/4cc670944564d33a6bca2cefa21226de0ef800f1/contrib/google.golang.org/grpc/option.go#L97-L103) and several others.

Se

[2021-09-08 02:46] knusbaum commented on #987
@ckyko No problem, I've opened a proposal (#999) to add that option.

[2021-09-08 03:05] knusbaum commented on #993
@gbbr I'm ok with that. That definitely does seem less invasive.

Question, though. What's the difference between something that should go in feature flags and something that should be a configuration option?

This seems like it straddles the line into tracer behavior configuration. I'm totally happy to have it as a feature flag, but I'm curious in general how we should decide between feature flag

[2021-09-08 05:39] gbbr commented on #999
From the original issue:

Don't you think that this is the problem we need to fix? 4xx and 5xx responses should not return an error stack, or should they? Lastly, why this duplicate issue?

[2021-09-08 05:47] gbbr commented on #993
I would consider it something we do not want to promise compatibility nor support for, because it is enhancing a functionality which Datadog does not technically support, and the approach taken here is not an official one either. It should be considered a beta feature that is subject to change or disappear at any time based on how the product develops and evolves (e.g. we decide to fully support F

[2021-09-08 09:58] gbbr commented on #833
It seems that the Python tracer uses these filters to completely avoid sending these to the agent. This basically means that no APM stats nor APM Analytics events will be generated for these. They will be completely disregarded as if having never existed. Is this outcome acceptable to you @peay? If not, the alternative is to simply mark the filtered traces using [`ext.PriorityAutoReject`](https://

[2021-09-08 14:14] knusbaum commented on #833
I agree with dropping altogether. It would be more consistent with dd-trace-py and is also more in the direction we're already trying to go with the client - reducing traffic to the agent.

On the same note, we already have [client-computed stats behind a feature flag](https://github.com/DataDog/dd-trace-go/blob/a8c99b56c5bf2545da7e38f4ad97b1da5cfe73b7/ddtrace/tracer/span.go#L354-L366), so it woul

[2021-09-08 15:43] knusbaum commented on #999
@gbbr
I don't think it's possible to fix the original issue of stack traces not being complete. We've looked at that a number of times and it's something that we can't do without support from Go.

You're right, though, that 4xx status codes should not return an error stack. 5xx *should*.

I opened this issue to avoid heavy editing of the other issue, or having the actual proposal be unclear or bur

[2021-09-08 17:58] knusbaum commented on #987
I looked more closely into this. Aside from the stack traces not being useful, the echo integration is doing some things wrongly that it shouldn't:

* [Recording any returned `error` as an error in the span](https://github.com/DataDog/dd-trace-go/blob/178ecf4f0e396cf4709e6b04290bc6e72718541d/contrib/labstack/echo.v4/echotrace.go#L54-L55) - this should only apply to `5xx` errors.
* [Calling `c.Erro

[2021-09-08 18:56] knusbaum commented on #998
Thanks @krosen040.
This seems like a reasonable suggestion. We would just need to map certain known datadog errors to known opentracing errors here:
https://github.com/DataDog/dd-trace-go/blob/178ecf4f0e396cf4709e6b04290bc6e72718541d/ddtrace/opentracer/tracer.go#L68-L90

I don't see any other error-returning functions in `ddtrace/opentracer` that would need to convert the errors, do you?

[2021-09-08 19:01] #969 closed

[2021-09-08 21:59] knusbaum opened #1001 "proposal: ddtrace/tracer: document how to create spans and trace size limit"
We have had users asking that we document the 100,000 span limit in traces.
While nobody should be approaching this limit, it doesn't hurt to document it.

[2021-09-08 23:28] ryanschneider opened #1003 "ext.ServiceName tag not marking spans as "Service Entry Spans""
We recently updated a project from from dd-trace-go v1.29.2 to v1.33.0 and noticed this change in behavior.

Previously, we could use `span.SetTag(ext.ServiceName, "foo")` to give a span a new service name, and this would result in both the spans having a different color in the APM flame graph *and* a new `foo` service would show up in our list of APM services.

With 1.33.0, this only works if we

[2021-09-09 08:16] gbbr commented on #999
Makes sense to me. Thanks.

[2021-09-09 08:17] gbbr commented on #833
Cool. Thanks @knusbaum. Let's wait for confirmation from @peay that this approach is ok and if so, close this issue and create a fresh proposal with the suggested design.

[2021-09-10 21:17] krosen040 commented on #998
No, I believe `Extract`/`Inject` are the only ones. If you think this seems reasonable I might be able to submit a PR.

[2021-09-10 21:18] krosen040 commented on #998
I don't see any other error-returning functions in ddtrace/opentracer that would need to convert the errors, do you?

[2021-09-13 15:53] hexa00 opened #1006 "Can we clarify why external services spans are not Measured ?"
See this commit : https://github.com/DataDog/dd-trace-go/commit/8fb554ff7cf694267f9077ae35e27ce4689ed8b6

It mentions "We also don't measure spans that are for integrations for external service clients. This is a very generic class of integrations, and includes any integration for a package that is primarily an API to an external service. This includes SQL integrations, the aws integration, the cl

[2021-09-14 15:29] knusbaum commented on #1006
Hi, @hexa00.

Sorry for the frustration. The basic reasoning is that metrics today are calculated based on `service name` and `operation name`. This can cause clashes when a client and server both use the same `operation name`.

e.g. `net/http` server tracing: https://github.com/DataDog/dd-trace-go/blob/f86a82b0ae679be3bbd2fe3652ae17f06aabd960/contrib/internal/httputil/trace.go#L52

and `net/http`

[2021-09-14 18:18] hexa00 commented on #1006
@knusbaum Thanks for the clarification about the conflicts, that makes more sense to me now!

I would be in favor of adding a WithSpanOptions attribute for this use case and likely others.

However I guess this doesn't help in the conflicting situation you described, since we can't override the operation name with an option :(

I think the only way out of this would be to prefix/namespace the oper

[2021-09-15 20:25] jpeeler commented on #507
Perhaps now that a [new release](https://github.com/99designs/gqlgen/releases/tag/v0.14.0) as of about a week ago was done, this can be revisited?

@vektak can you provide some assurance that the tracing implementation is nearing stability at this point?

[2021-09-16 01:16] knusbaum commented on #1006
@hexa00
Thanks for the feedback. Let's start with adding the `WithSpanOption` `Option` and potentially a span name override if necessary, in case someone is using both client and server and wants to change the operation name of one.

Prefixing the operation names is not a bad idea, but the issue is that they are currently standard across the product (i.e. `http.request` is the same across Go, Pyth

[2021-09-16 01:50] knusbaum commented on #998
@krosen040 A PR would be very welcome, thanks.

[2021-09-16 03:50] prasad-marne commented on #989
PR: https://github.com/DataDog/dd-trace-go/pull/1008

[2021-09-16 05:24] knusbaum commented on #1003
Hi, @ryanschneider.

I'll take a look at this and get back to you.

[2021-09-16 05:53] knusbaum commented on #1003
@ryanschneider, I am not able to reproduce this.
With `gopkg.in/DataDog/dd-trace-go.v1 v1.33.0` and the following code:
[code]
I still see the spans in the `Service Entry Spans` list:
![Screen Shot 2021-09-16 at 12 40 47 AM](https://user-images.githubusercontent.com/1819836/133556312-9eae8edd-be72-4c71-b893-ea70db36e55e.png)

When the other span is a child of the first span, I *do not* see both sp

[2021-09-16 14:51] randallt commented on #1006
In the Java tracer, incoming HTTP spans typically have the operation name "http.request" and outgoing HTTP calls are typically "http.client.request". Why is it different in different languages?

[2021-09-16 14:51] #989 closed

[2021-09-16 19:28] knusbaum commented on #1006
@randallt This is likely a decision that was made a long time ago. The various tracers used to be a lot less cohesive in their implementations and tag choices. We've made a concerted effort to unify them over time, but there are still numerous deviations here and there. I think Python might also use `http.client.request` in some cases.

`http.client.request` wouldn't necessarily be a bad choice, b

[2021-09-16 19:31] knusbaum commented on #1006
CC: @andrewsouthard1
There's interest from multiple customers in this issue, but it requires cross-team planning.

[2021-09-16 19:32] randallt commented on #1006
Yeah, that's regrettable since the Datadog APM UI doesn't let you choose span.kind=client. You only get the operation name and the resource name. So it's important to distinguish incoming vs outgoing using either operation name or resource name.

[2021-09-16 19:33] knusbaum commented on #1006
@randallt
Expanding the metrics aggregation key to include a `span.kind` as well as `operation` and `service` is one option being discussed. I think that would largely solve the issue.

[2021-09-16 20:56] knusbaum commented on #861
Done!

[2021-09-16 20:56] #861 closed

[2021-09-16 21:46] afarbos opened #1011 "profiler: support for DD_PROFILE_TYPES environment variable"
- Allow for profilers to be enabled based on an environment variable

Example:
[code]

Today this is only possible using the option [WithProfileTypes](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.33.0/profiler#WithProfileTypes).

[2021-09-17 22:40] #998 closed

[2021-09-21 16:33] knusbaum commented on #1011
@felixge Would you take a look?

[2021-09-22 15:24] j-sv opened #1014 "proposal: contrib/database/sql: add Option to prevent starting new traces"
When using the package for adding traces to an HTTP server it allows for disabling traces for certain requests. This means no span will exist in the context being passed to the request handler. If this ends up in the contrib/database/sql package it ends up creating a span that is not connected to any request span, leading to a lot of dangling database traces.

E.g., we disable all traces for the h

[2021-09-22 17:08] knusbaum commented on #1014
Hi @j-sv,
Thanks for the issue and PR.

It's a valid use case to trace sql calls without parent spans, and we don't want to break the integration for anyone using it that way.

If we want to implement this, we should add an `Option` that sets this behavior. It should not be the default.

[2021-09-23 07:47] j-sv commented on #1014
Thanks for the input! I've updated the PR to add an `Option` to enable the check, with the default being the current behavior.

[2021-09-23 08:09] felixge commented on #1011
@afarbos sorry for the late reply. I think this is a great idea. I've marked this proposal as accepted. Would you be interested in sending a PR for this? If not I'll try to get this done on my end in the near future.

[2021-09-24 14:08] ellisonleao commented on #936
Any updates on this?

[2021-09-26 02:57] knusbaum commented on #936
@ellisonleao I'm working on setting an appropriate priority on this.
This will get picked up and have some response or PR in the near-term.

[2021-09-27 15:06] tobstarr opened #1018 "WithIgnoreRequest not respected with WrapHandler"
When passing `WithIgnoreRequest` to `WrapHandler` the ignore function is not called at all. This is due the fact that it is only called in `func (mux *ServeMux) ServeHTTP` and `WrapHandler` directly goes to `TraceAndServe`.

Is there a specific reason for this?

[2021-09-27 17:54] knusbaum commented on #1018
@tobstarr This looks to me like an oversight in the implementation.

We'd be happy to accept a PR to fix this, or I'll put it in my queue.

[2021-09-27 17:55] #1001 closed

[2021-09-28 06:12] peay commented on #833
Makes sense for our use case (error tracking) @gbbr, thanks for considering this!

[2021-09-28 11:02] felixge commented on #958
I actually just ran into the same issue with an application I use for testing the profiler.

![image](https://user-images.githubusercontent.com/15000/135074941-89545d40-b00e-402a-b7d6-031159a29142.png)

My conclusion is that the current sql tracing implementation does not track time spend waiting on a new connection to be available. This can happen in two cases:

1. A new connection to the databas

[2021-09-28 11:02] #958 closed

[2021-09-29 13:25] admarko commented on #849
Hey -- wondering if there's any update on this? Have other people found it a blocker from using? I want to upgrade from Gorm 1.0 to 2.0 but need to make sure the gorm2 wrapper for ddtrace is usable

[2021-09-29 16:44] kyrozetera opened #1021 "Update sketches-go to latest version to resolve swag init issues"
When running `swag init` on our projects, we are seeing this error
[code]

This was fixed in master of sketches-go, but it hasn't been tagged yet so that this lib can be updated to use the latest version. Is there anything blocking that update?

A reference to the issue can be found here: https://github.com/swaggo/swag/issues/948

[2021-09-29 16:53] shannontan-bolt opened #1022 "contrib/go-redis/redis.v8: Allow Option To Remove Raw Tag"
I believe there's a case where if the command is sufficiently large, this will cause serious memory issues on the client. Not only that, I believe this should be optional because in certain cases, this could be a security issue. Therefore, we should allow an option to remove the raw tag.

To refresh, see snippet from the contrib hook. See the `raw_command` part.
[code]

The implementation of `cmd.

[2021-09-30 06:33] PonzaMatteo opened #1023 "proposal: allow configuration of Trace Agent URL with DD_TRACE_AGENT_URL"
# Problem Statement
Other SDKs (like the js and python one) allow to configure the trace agent URL using the env variable `DD_TRACE_AGENT_URL` while the Go SDK only allows using the combination of `DD_AGENT_HOST` + `DD_TRACE_AGENT_PORT`, this results in the following issues for our needs:
- [the hardcoded protocol](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/transport.go#L105) is

[2021-10-04 23:58] zlcaique commented on #1023
`func WithAgentAddr(addr string)` does this?
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.26.0/ddtrace/tracer

[2021-10-06 23:59] nik-andreev opened #1025 "Possible memory leak from the profiler"
Starting with version v1.33.0 there appears to be a memory leak in the profiler. I can't reproduce yet but I'm basing the observation on series of profile snapshots taken from a prod application that ran overnight and in the last 30 minutes was mostly idle.

I saw that there was a large refactor in v1.33.0 (https://github.com/DataDog/dd-trace-go/pull/842) but I'd like not to downgrade to v.1.32.1

[2021-10-07 10:43] hush-hush commented on #1023
This would also solve the issue of customer not being able to configure both a DogStatsD client and the tracer on the same host when using UDS:

ref: https://github.com/DataDog/datadog-go/issues/201

[2021-10-07 22:25] shannontan-bolt commented on #1022
@knusbaum, @felixge - only raising because this actually could produce security issues for customers.

[2021-10-15 10:23] felixge commented on #1025
@nik-andreev sorry for the late reply, I was on vacation. This is indeed an unexpected amount of memory usage and I consider it high priority to figure out the root cause for it.

1. Did the memory usage continue to grow? Or does it sometimes shrink and eventually settle on a certain value?
1. Is this application using a lot of recursion?
1. Does the application have a huge code base?
1. Can you c

[2021-10-15 10:40] nik-andreev commented on #1025
No worries @felixge, thanks for looking!

We ended up reverting to v1.32.1 + #976 and that solved the immediate problem. I won't be able to go back to v1.33 for at least few weeks so the data on 4 might be delayed.

To answer your questions:
1. We publish new versions of our application about 30+ times per day, so the only time I can notice it is in the early mornings/weekends when there was no de

[2021-10-15 10:49] felixge commented on #1025
@nik-andreev thanks for the fast response. If you can instrument `BuckHashSys`, there should be no need to go back to v1.33.0. I suspect it will be enough to tell us if there is a real memory leak here or not. Even if it's not a "real" memory leak, the amount of memory usage would definitely be problematic.

I just thought about another thing worth instrumenting: Can you pass a statsd client to th

[2021-10-20 10:30] #915 closed

[2021-11-03 20:35] jaltavilla opened #1040 "contrib/google.golang.org/grpc: Client service name doesn't respect global service name"
When making a gRPC request, the global tracer's service name is not used. This appears to be deliberate; the `clientServiceName` function differs from the `serverServiceName` function by just that.  (see https://github.com/DataDog/dd-trace-go/blob/154367045f5cea6dfa80d0bf72f49702250fa1cc/contrib/google.golang.org/grpc/option.go#L44).

Not having the client service name be that of the calling servi

[2021-11-04 17:28] nick-behrens opened #1041 "Is there a way to get the Active Root Span from the Tracer?"
Hi,
In the Ruby Datadog trace gem, there is a method that can be used to get the [current root span](https://github.com/DataDog/dd-trace-rb/blob/v0.53.0/lib/ddtrace/tracer.rb#L348-L350). Can this functionality be added to the Go version of the tracer?

Currently, I have (I think) hacked around this by defining a wrapper and doing something like this.
[code]

This solution isn't the best and requir

[2021-11-05 08:13] gbbr commented on #1041
Hey there! 👋🏻

The only way to obtain a span within a context in Go, is by using the `context` and maintaining a reference to it throughout. We already have this type of functionality by means of [SpanFromContext](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#SpanFromContext) and [StartSpanFromContext](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#StartSpanF

[2021-11-05 09:11] marilangaas opened #1043 "contrib/database/sql: error for named parameters when using mssql driver for sqltrace"
We are trying to add dd-trace-go for tracing our sql queries. We are using the [database/sql package](https://pkg.go.dev/database/sql) and the driver is https://github.com/denisenkom/go-mssqldb.

When importing the driver as a blank identifier and not using tracing, i.e.

[code]

it works fine, but when switching this out with

[code]

the following error occurs:

[code]

We use `QueryRowContext`

[2021-11-05 09:18] gbbr commented on #1022
Sorry for the late reply. This is fine. Thanks for opening the PR.

[2021-11-05 09:23] gbbr commented on #1022
However, the resource is mandatory. Also - can you explain in more detail how this causes problems? The agent quantizes and obfuscates these values, so ultimately a command will look exactly like this (including the ellipsis): `SET ...`. Everything is truncated in the resource, and the `redis.raw_command` tag is obfuscated to eliminate all sensitive information. Is this not the case? The only plac

[2021-11-05 21:01] nick-behrens commented on #1041
Thanks for getting back to me quickly @gbbr! We actually are using `SpanFromContext` but I think `StartSpanFromContext` could save me some boilerplate, thanks for the suggestion.

I think I'm going use `StartSpanFromContext` to start nested spans and store the root one myself so I can reference it later.

[2021-11-05 21:01] #1041 closed

[2021-11-08 06:29] gbbr commented on #1022
From @shannontan-bolt in #1026:

Let's solve this issue then, if this is the _real issue_. First, I'd like to understand what about it is the issue:

* Is it your concern about sensitive data, in which case, it shouldn't be because this blob should get obfuscated by the agent. You should've already noticed if you looked at this data in Datadog. Is this not the case? If not, that's a bug in the age

[2021-11-08 06:36] shannontan-bolt commented on #1022
Both are/were issues.

I'm on my phone, apologies for the terseness. To be clear, if it is obfuscated for resource name, that's fine. I'm not sure how it would intelligently obfuscate based on the raw command, but if it does great.

1. The current release took down multiple instances with tracing on, and there were no memory issues once we disabled this specifically redis tracing.

2. I saw the pr

[2021-11-08 06:45] shannontan-bolt commented on #1022
I didn't get notified for your comment a few days ago.

Within the UI, I suppose it is possible that the resource name is fine with the raw command, but I'm not certain now since I've had to disable the Redis trace. Maybe it was Redis.raw_command that was the source of both memory issues and presenting sensitive data.

I also can't provide a snippet but I would believe that a sufficiently large JS

[2021-11-08 07:02] gbbr commented on #1022
Ok. Thanks for explaining. I am also sorry for taking so long to respond. I can assure you it was not intentional.

I'd really appreciate it if we could try a few things first so we can clearly define the issue before we start thinking about the right solution.

The resource name should be quantized in the Datadog Agent, basically if you have something like `SET key value`, the UI will only show `

[2021-11-08 16:42] shannontan-bolt commented on #1022
@gbbr, I can't test the resource name part without the change to the DisableRawCommand, at least not in any live env. I suppose I can make it work.

Before I do that though, `tracer.ResourceName(raw[:strings.IndexByte(raw, ' ')]),` is already in the code snippet I linked above and is unchanged in my PR. Why do these two have different behaviors? They seem to update the same tag too.

[2021-11-09 13:32] gbbr commented on #1022
What I'm proposing is that your PR adds two options:

* `DisableRawCommand` which completely removes the setting of `redis.raw_command`
* `WithResourceNamer` which takes a callback allowing to modify the resource that gets set, before it is set. Similar to the ones we already have in our other integrations (you can get inspired from [any of them](https://github.com/MichaelMure/dd-trace-go/blob/d86

[2021-11-09 13:36] gbbr commented on #1022
Sorry if my previous answer is confusing, to summarise: I'm proposing to change your PR to only remove the raw command, but leave the resource as it is. Would that be fine for you?

[2021-11-09 19:23] afarbos commented on #1011
I gave it a try, I think the mentioned PR should work @felixge. Let me know what you think.

[2021-11-11 22:34] #984 closed

[2021-11-11 22:37] #1014 closed

[2021-11-11 23:05] #778 closed

[2021-11-12 05:45] soh335 opened #1047 "contrib/internal/httputil: can we make it public?"
Hi, I think `contrib/internal/httputil` is very useful to adapt tracing for any go server application.So I hope it make public.

For example, if user use minor web framework, sometime difficult to adapt datadog tracing to it.
Off course user can send p-r to this repository adding to contrib, but  I feel it its not practical for everything.

Other case, it's our case, currently we use [julienschmid

[2021-11-12 08:59] gbbr commented on #1047
I think that's a good idea. I don't see any issues with it. Since it's strongly related to the `net/http` package, I'd say `contrib/net/http` is the best place for it.

[2021-11-12 12:43] gbbr commented on #985
@felixge @knusbaum if you'd like to take a look, I've put up a PR (#1048)

[2021-11-12 14:23] soh335 commented on #1047
@gbbr Thanks ! Can I contribute ?

[2021-11-12 14:47] knusbaum commented on #1047
@soh335 Contributions are very welcome, thanks!

Since this proposal is accepted and we basically know what we're going to do, please take a look at the [Contribution Guidelines](https://github.com/DataDog/dd-trace-go/blob/v1/CONTRIBUTING.md) and open a PR when you're ready.

[2021-11-12 15:41] #946 closed

[2021-11-12 15:54] knusbaum commented on #1021
@kyrozetera would you be able to point me to the issue or commit where this issue is fixed in `sketches-go`?
I see a release published for `DataDog/sketches-go` on September 30 (`v1.2.1`) which should be available now, but want to confirm it actually contains the fix.

We can bump our version in go.mod once there's been a release with the fix in `sketches-go`.

[2021-11-12 16:10] knusbaum commented on #1023
I think `DD_TRACE_AGENT_URL` would be a more useful and consistent option than the current host + port combination for all the reasons mentioned here.

I think in addition to introducing `DD_TRACE_AGENT_URL` and having it override the other existing environment variables, we should deprecate the old ones and discourage their use.

[2021-11-12 16:35] kyrozetera commented on #1021
It's this commit: https://github.com/DataDog/sketches-go/commit/df181ec336794b1cec5ebe19efb6e7e71204d4ba#diff-56bb1622041d2159ac1379da2bc2fd60ca75ff2bcc0367da33815bed651c974f

It does look like that made it into v1.2.1

[2021-11-12 16:37] knusbaum commented on #1043
Hi, @marilangaas.

This looks like a potential bug in our sql tracing. In order to solve it, it would be extremely helpful to have a simple, compilable reproduction case along with library versions, etc.

We'll work on investigating this issue.

[2021-11-13 04:45] soh335 commented on #1047
@gbbr @knusbaum Should I merge `contrib/internal/httputil` to `contrib/net/http` ? or move to `contrib/net/http/httputil` ?
If the first one, some contrib package use `net/http` and `contrib/internal/httputil`, so I want to know what alias name for `contrib/net/http` is good.

[2021-11-15 23:53] danielwhite opened #1055 "proposal: Require vendoring of static `libddwaf` to be opt-in"
While tracking the latest release, I've noticed that https://github.com/DataDog/dd-trace-go/pull/1007/ has resulted in `libddwaf.a` is being included when vendoring `dd-trace-go`.

It would be nice to avoid incurring the cost of an additional ~35MB of unused binaries on downstream repositories. I assume these will continue to change over time, too, so this will continue to accrue. This also has kn

[2021-11-16 08:19] #985 closed

[2021-11-16 09:09] Julio-Guerra commented on #1055
Hello @danielwhite,

Thanks a lot for letting us know about this issue.

I guess you are using `go mod vendor` and this is indeed due to AppSec being integrated into the tracer since the latest v1.34.0 release. This feature is opt-in via a build tag `appsec` but `go mod vendor` doesn't take them into account, so you still end up vendoring it (discussed in https://github.com/golang/go/issues/25873)

[2021-11-16 22:11] pedropdv opened #1058 "proposal: support for DD_SERVICE_MAPPING environment key"
Hi. I'm missing DD_SERVICE_MAPPING environment key support. It's useful to customize services names across applications. Eg.:
DD_SERVICE_MAPPING="aws.kinesis:my-kinesis-app,oracle:oracle-app-v5".

Is it possible to add support for this variable?

[2021-11-17 01:57] danielwhite commented on #1055
Thanks for the consideration.

Yes. I find vendoring to be extremely useful for hermetic builds and auditing dependencies.

I'm not certain that build tags are well suited for this use case. They share a global namespace, so tend to be better suited for "global" things (e.g. GOOS, GOARCH). Admittedly, `appengine` seems like an outlier, but describes a runtime target for the binary.

In this case,

[2021-11-17 09:03] Julio-Guerra commented on #1055
Moving this on top as it's off topic: it's basically a matter of compiling it for the target (arm64 being already in the build artefacts of https://github.com/DataDog/libddwaf/releases) and copying the resulting static lib in this repo as you saw.

Which is a good reason for vendoring indeed. But note that since go 1.16, go.mod/go.sum files are now read-only and you could get this same "hermetic b

[2021-11-17 12:57] soh335 commented on #1047
@gbbr @knusbaum how about ?

[2021-11-17 13:39] marilangaas commented on #1043
Hi!
Thanks for your answer!

I have made a simple reproduction in this repo: https://github.com/marilangaas/dd_mssql_example.

We are using the same versions for the packages as listed in the `go.mod` file.
go version go1.17.2

[2021-11-17 16:28] gbbr commented on #1047
I'd vote for keeping it in `net/http`.

[2021-11-18 18:24] prithvihv opened #1060 "proposal: contrib/gin-gonic: add WithIgnoreRequest"
Add option to ignore traces  for routes.

Approach:

Define `WithIgnoreRequest` in options with definition:
[code]

function will run at the start of the middleware.

[2021-11-18 18:27] prithvihv commented on #1060
@piochelepiotr could you help with this?

[2021-11-23 12:35] xrn commented on #861
Hi,

I am a bit lost here. On each lambda start, I am receiving

[code]

[code]

I believe this are StartupLogs and I can disable them.

 Here is my configuration:

[code]

And then I am using Xray in my lambdas - for a logger, I am using

[code]

Is there any option in such configuration to disable logs using WithLogStartup ?

[2021-11-26 10:19] ishworg opened #1067 "gRPC `peer.address` in traces"
Can someone tell me what that value should be?

Should we expect the value to be HTTP/1.1'esq `X-Real-IP` / `X-Forwarded-For` or should should it be `127.0.0.1:<ephemeral_source_port>` ?

I am seeing the latter in my traces which is _definitely_ not what we are after :)

![image](https://user-images.githubusercontent.com/31202986/143564824-71722d6d-6d2e-4312-9b36-09d01e87fc44.png)

If I put a k8s

[2021-11-26 20:10] shannontan-bolt commented on #1022
This is still confusing :)

ResourceName tag appears to be set twice.

1) https://github.com/DataDog/dd-trace-go/blob/v1/contrib/go-redis/redis.v8/redis.go#L141
2) https://github.com/DataDog/dd-trace-go/blob/v1/contrib/go-redis/redis.v8/redis.go#L144

tracer.ResourceName is:

[code]

I think my end state here would be:

1) Only include the resource set in L141 since that only includes up to the fi

[2021-11-29 14:05] felixge commented on #1025
Closing this since https://github.com/DataDog/dd-trace-go/pull/1038 mitigates this problem and will be included in the next release.

As discussed, there are more improvements that could be made here to lower the memory usage of delta profiles, but right now it seems like it would only benefit a very small number of customers (using code generation and/or lots of recursion). That being said, I'm h

[2021-11-29 14:05] #1025 closed

[2021-12-01 22:11] #1060 closed

[2021-12-02 04:12] renanrt opened #1074 "Add support to http router github.com/bouk/httprouter"
Hello,

We currently use github.com/bouk/httprouter.

It would be great if we could add traces like https://github.com/DataDog/dd-trace-go/tree/v1.34.0/contrib/julienschmidt/httprouter.

I have a PR ready to go if you guys accept.

We tried to use https://github.com/DataDog/dd-trace-go/blob/v1.34.0/contrib/net/http/http.go#L59-L76 - but it didn't work very well because we the resource_name was alw

[2021-12-02 10:18] Julio-Guerra commented on #1067
Hello @ishworg,

Our gRPC tracing doesn't add this span tag. But it is indeed the peer TCP address connecting to your service.

Regarding the actual client IP address taken from IP headers, this is something Application Security (AppSec) adds to the traces.

If you are interested by this, I will be working on adding AppSec to our gRPC tracing in the next two weeks to come. Once ready, it will repo

[2021-12-02 22:41] renanrt opened #1076 "Wrong response writer is being returned in func wrapResponseWriter"
Hello friends,

We currently have a specific type that implements `http.ResponseWriter`.

As a result, [this](https://github.com/DataDog/dd-trace-go/blob/9046c68111f5fb69400bfa5912412eb65ef8883b/contrib/internal/httputil/trace_gen.go#L24) func returns our own type instead of the traced response writer ([this](https://github.com/DataDog/dd-trace-go/blob/9046c68111f5fb69400bfa5912412eb65ef8883b/cont

[2021-12-03 13:30] Julio-Guerra commented on #1076
Hey @renanrt,

Sorry about that. It's a problem that got introduced in my last changes of it and the default return value should be the monitored writer `mw` indeed.

Happy to review your PR if it's ready 👍

[2021-12-03 20:34] renanrt commented on #1076
https://github.com/DataDog/dd-trace-go/pull/1078

[2021-12-04 00:47] chrisforrette opened #1079 "question: Datadog- and opentracing-style tracing header interoperability"
Hello there, I'm looking for a bit of guidance and I'll caveat: I'm not super knowledgeable about tracing instrumentation so some of my terminology might be a bit fuzzy.

So we run a number of services (~20 or so) and we're spinning up a 3rd party/OSS service that uses Zipkin for tracing and can be configured to emit opentracing-style headers. Unfortunately all of our other services use Datadog-st

[2021-12-06 18:35] knusbaum commented on #1079
In order to use Opentracing with Datadog, Zipkin should be configured to use the Datadog tracer with opentracing, at which point it *should* be emitting Datadog-style headers. If your Zipkin is using Opentracing with some other tracer, I wouldn't expect distributed tracing to work, even if you translate the headers.

Before going down the road of translating headers, check that Zipkin's opentracer

[2021-12-06 23:43] chrisforrette commented on #1079
@knusbaum Thanks for getting back to me! It's great to learn about how to create and configure custom propagators.

The main blocker in this case is that the Zipkin tracing client is baked into a 3rd party application so we have limited controls over the instrumentation details. They have a few tracing header options: opentracing, B3, Jaeger, etc., but not Datadog.

I'm actually at this point work

[2021-12-08 18:40] shannontan-bolt commented on #1022
@gbbr, I reread your comment - maybe I'm confused because you edited your comment. Are you saying that we should still remove the _second_ ResourceName set completely and use the flag as originally proposed on whether to send the raw command?

[2021-12-09 10:20] gbbr commented on #1022
Oh my! I think we've likely missed this and is most likely an error! I agree with your end state proposal. I think we're on the same page. To reiterate, what I'm understanding:

* We remove L144
* We add `DisableRawCommand`

IIUC, let's do it 🚀

[2021-12-09 10:21] #1058 closed

[2021-12-10 01:59] shannontan-bolt commented on #1022
I agree - would it be possible if you could put the PR together or edit my PR? I still find it a bit of struggle to get my local system working and it keeps insisting on a ton of changes to go.mod/sum + not running tests. I'm not sure why but don't quite have the time to address it whereas I'm sure it is trivial for you.

[2021-12-10 14:58] Julio-Guerra opened #1088 "Missing container id with cgroup v2 + docker 20.10 and up"
See https://github.com/DataDog/dd-trace-rb/issues/1810
The system tests are covering this, but don't fail on our CI because docker isn't so up to date.
Running them locally make this [system test](https://github.com/DataDog/system-tests/blob/0137770c4549d5e392da3767b93cb3df04ba93d7/tests/test_data_integrity.py#L17) fail.

[2021-12-13 18:53] arishlabroo opened #1090 "contrib/net/http: Roundtripper should not mutate request"
According to the documentation,
https://pkg.go.dev/net/http#RoundTripper
[code]
[code]

Here is an old discussion which mentions you should copy the request instead of changing the existing one.
https://groups.google.com/g/golang-dev/c/zDX3zSC0Sm8

Does this mean, this https://github.com/DataDog/dd-trace-go/blob/v1/contrib/net/http/roundtripper.go#L53 is wrong or am I understanding incorrectly?

S

[2021-12-14 11:00] gbbr commented on #1022
@shannontan-bolt please review it: https://github.com/DataDog/dd-trace-go/pull/1091

[2021-12-14 15:59] knusbaum commented on #1067
@ishworg I am closing this as solved. If you have further questions about this, please feel free to reopen this or open a new issue.

[2021-12-14 15:59] #1067 closed

[2021-12-15 17:34] knusbaum opened #1094 "proposal: ddtrace/tracer: enable runtime metrics by default"
Corresponding to a new dashboard for Go Runtime metrics in the Datadog UI, we want to enable runtime metrics in the Go Tracer by default.

[2021-12-16 11:03] #1022 closed

[2021-12-16 14:22] knusbaum commented on #1094
False alarm. We want these to remain opt-in for multiple reasons:
1. Requires Statsd to be configured for them to work anyway
2. Consumes extra resources for the customer for a feature they may not use
3. Consumes extra resources for Datadog for a feature they may not use

[2021-12-16 14:22] #1094 closed

[2021-12-16 20:36] knusbaum commented on #1079
@chrisforrette
We actually accept B3 headers in the tracer by default (https://github.com/DataDog/dd-trace-go/blob/58598b1cd458abaaabea320cb298b8bd4fbea47b/ddtrace/tracer/textmap.go#L293-L368), so if the client can support B3, you might be able to just configure your application that way.

You can also see here how the tracer encodes the ID integers - basically just uses FormatUint to write them o

[2021-12-16 20:56] knusbaum commented on #1090
@arishlabroo +1 for finding this.

It looks like our `RoundTripper` breaks the spec for `RoundTripper`s.

We should look at the [oauth2 example given in that thread](https://github.com/golang/oauth2/blob/d3ed0bb246c8d3c75b63937d9a5eecff9c74d7fe/transport.go#L77-L89) and use it if possible. We should be very careful we're not accidentally leaving things out of the request when we duplicate it.

[2021-12-16 21:08] knusbaum commented on #1088
Acked and scheduled.

[2021-12-16 21:09] knusbaum commented on #1076
Fixed in #1078

[2021-12-16 21:09] #1076 closed

[2021-12-16 21:25] knusbaum commented on #1040
@jaltavilla We have seen requests to have the client use the server's service name regularly and understand the use case.
 Please see our FAQ about this: https://github.com/DataDog/dd-trace-go/blob/v1/FAQ.md#why-do-client-integration-spans-not-use-the-global-service-name

 Unfortunately this is a product-level decision and not a change we can make ATM, but please feel free to reach out to Datadog

[2021-12-16 21:47] knusbaum commented on #980
I am going to close this as stale.
Please reopen if we can help, or open a new issue.

[2021-12-16 21:47] #980 closed

[2021-12-16 21:48] knusbaum commented on #965
I am going to close this issue now as stale.

Please reopen this if we can help or discuss further.

[2021-12-16 21:48] #965 closed

[2021-12-16 21:51] knusbaum commented on #914
I am going to close this now for being stale.

Please reopen or start a new issue if you would like to propose a new API or syntax for distributed tracing.

[2021-12-16 21:51] #914 closed

[2021-12-16 22:04] knusbaum commented on #772
Closing as stale.

We can create a new proposal when test tracing comes back up.

[2021-12-16 22:04] #772 closed

[2021-12-16 22:06] knusbaum commented on #765
Closing as rejected.

Datadog supports OTel today through our OTel exporter and collectors. Please feel free to open a new proposal if there's something specific dd-trace-go can improve with respect to OTel.

[2021-12-16 22:06] #765 closed

[2021-12-16 22:16] knusbaum commented on #741
After discussing, there's little benefit to changing the API and making users alter their code, even if we do so in a `v2` update.

Instead, I want to make this a "going-forward" proposal for all future options.

This proposal will be to agree upon and document conventions for new Options in the Tracer (and hopefully the other projects).

@gbbr @felixge @Julio-Guerra

[2021-12-16 22:19] knusbaum commented on #729
Closing this. We've not needed this beyond gqlgen.

[2021-12-16 22:19] #729 closed

[2021-12-16 22:28] knusbaum commented on #655
@roopakv
A lot has changed in the CI pipeline since this issue was filed and there are a bunch more changes to make CI/test running easier in the near future. I'm going to close this now, but feel free to reopen it or open a new issue about CI/testing troubles.

[2021-12-16 22:28] #655 closed

[2021-12-16 22:28] knusbaum commented on #640
Closing this for now.

Please reopen if we need to revisit this.

[2021-12-16 22:28] #640 closed

[2021-12-17 12:03] jirikuncar commented on #772
Follow https://github.com/DataDog/dd-sdk-go-testing for information about test tracing.

[2021-12-17 16:50] jack-at-circle opened #1099 "proposal: extend contrib/gocql/gocql to support more gocql operations (Scanner and Batch)"
I've started using cassandra databases more and wanted to add tracing to my queries. The `contrib/gocql/gocql` package supports some operations but it does not provide enough features to trace all the gocql operations. Particularly: the package does not support tracing calls to `ExecuteBatch` or using a `Scanner` derived from the `Iter` struct (calling `Scanner.Err` does not close the `Iter` trace

[2021-12-20 14:24] brinchj opened #1100 "Stop() does not flush synchronously"
Hi folks, hope you're doing great!

I am suspecting that the `tracer.Stop()` is not actually flushing queued up traces as expected. I'm referring to this function:
https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/tracer.go#L129

I believe this is the one the guide is talking about in this example:
https://docs.datadoghq.com/tracing/setup_overview/setup/go/

It seems this `*tracer` met

[2021-12-20 14:41] brinchj commented on #1100
Ok, I think this may be working as expected. In fact, my own graceful shutdown API is not working as expected here 👍
Closing.

[2021-12-20 14:41] #1100 closed

[2021-12-21 11:49] xrn opened #1102 "contrib/go-redis/redis: With env and version"
Following: https://docs.datadoghq.com/getting_started/tagging/unified_service_tagging/?tab=logs

In redis tracer we can find

[code]

But there is no option to set env and version which is required in my case

[2021-12-21 20:42] jfbramlett opened #1104 "cannot use custom SpanContext as parent when creating new span"
I have a situation where I am starting a span in one process and finishing it in another (kong plugin in go). I am saving the state of the span into a shared buffer and re-creating the span for closing with something like:

[code]

where `kongSpan` is an internal struct. `parentSpan` is a custom type that implements `ddtrace.SpanContext`. Unfortunately while you define such an interface when utili

[2022-01-04 11:28] gbbr commented on #1102
Environment and version are specific to the running application. You set these when starting the tracer using [`tracer.WithEnv`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#WithEnv) and [`tracer.WithService`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#WithService). The Redis client will inherit these, which is correct given that client is part of the or

[2022-01-04 11:33] gbbr commented on #1104
Hi there 👋🏻

If you wish to share a span's context cross-process you need to use [`tracer.Inject`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#Inject) and [`tracer.Extract`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#Inject). The `ddtrace/tracer` package gives some insight into how this is used.

The [`TextMapCarrier`](https://pkg.go.dev/gopkg.in/DataDo

[2022-01-04 13:04] xrn commented on #1102
Thanks, I will test it

[2022-01-04 16:03] jack-at-circle commented on #1099
I implemented a wrapper that gives some of the functionality that I needed, but I'd rather use the maintained package than my wrapper. I can open a draft pr at some point soon with the changes I made, at least as a starting point for this work... I'll go read the contributing guidelines first : )

[2022-01-04 23:21] jack-at-circle commented on #1099
@gbbr I opened a pr with changes that add initial batch and scanner support: https://github.com/DataDog/dd-trace-go/pull/1111

[2022-01-05 08:37] ytakaya commented on #983
@knusbaum @MrDOS
I too am eagerly awaiting the introduction of this feature.
I'm curious about your progress since then, what is the status of this issue now?

[2022-01-05 08:59] xrn commented on #1102
@gbbr I am trying to use it with my lambda but have there no tracer itself

[code]

Any Idea how to add env and version to redistracer?

[2022-01-05 11:31] gbbr commented on #1099
That was quick & pro. Thanks a lot 🙂

[2022-01-05 11:55] MrDOS commented on #983
Thanks for the interest, @ytakaya. I haven't gotten any further since then.

FWIW, if you're chomping at the bit to use this functionality, you can get it from [this fork](https://github.com/therounds-contrib/dd-trace-go/tree/feature/add-net-http-wrapper-with-resource-namer). I would recommend _not_ using that fork directly, as the feature branch may be rebased (force-pushed) or moved. Also, it wi

[2022-01-05 12:05] gbbr commented on #1102
I see. This repository is `dd-trace-go`. Can you please close this issue and open it in `datadog-lambda-go`? They should likely add the ability for you to set service, env, and version when starting (`golambda.Start`). However, this is just an assumed solution since I am not aware with that project. Perhaps they should be made part of `ddlambda.Config`.

[2022-01-06 08:57] ytakaya commented on #983
@MrDOS
Thanks for responding!
Also, thanks for the useful information about using replace in go.mod!
Until this great feature is added to the mainstream, I will try to use that way.

[2022-01-06 16:34] jcogilvie commented on #983
I have a fork built on 1.33 that does this with an Option of static/dynamic namer.

I guess this is just a long-winded +1, unless somebody sees [my variant](https://github.com/DataDog/dd-trace-go/compare/v1...GetTerminus:add-resource-namer-1.33) and thinks it's worth running with.

[2022-01-07 13:05] fenriz07 opened #1119 "proposal: contrib: add integration for github.com/gogearbox/gearbox"
Hi.

I hope that all team are good. Happy new year. I open this issue with to Idea to make a contrib package for suport apm in gearbox web framework: You can see the web framework in this link: [gearbox](https://github.com/gogearbox/gearbox)

The idea is will make a middleware for open the tracer when some handler was invoke.

PR: [1116](https://github.com/DataDog/dd-trace-go/pull/1116)

Regards.

[2022-01-10 10:00] #1099 closed

[2022-01-10 19:37] knusbaum commented on #983
Update here: This work is not scheduled at the moment, but we are happy to accept a PR for the work.

About the quantization, we'd prefer not to implement the URL quantization for resource names. There's too many problems associated with doing that, no matter how good the logic is.

[2022-01-10 23:18] MrDOS commented on #983
That does simplify the implementation of a default resource namer purely based on the request method and URL path (like @jcogilvie has provided). But it also seems like a somewhat odd take, given that Datadog has a first-party product offering – RUM – which does implement quantization, and magic black box quantization at that. I was really hoping this could be an opportunity to uncover not only a

[2022-01-11 16:05] knusbaum commented on #983
@MrDOS
I also have not looked into RUM quantization, but I'll bring this up with some others internally.

Ideally all of this would be consistent and comprehensible across the entire product. Seeing as the product is so large and managed by so many teams, there are bound to be discrepancies, but we resolve them as we are able.

Please also reach out to support about this. That sometimes helps get

[2022-01-11 16:06] MrDOS commented on #983
That's a great suggestion, and something I should've done long ago. Thank you!

[2022-01-11 19:17] knusbaum commented on #1104
This will not work. While you can transfer the `SpanContext` around as @gbbr suggested, you cannot start a span in one process and finish it in another. There are many technical reasons for this. A `span` is intimately tied to the `trace` instance, the `tracer` instance, and the `service` in which it is started. The `SpanContext` is just there to pass enough info so that a parent span in one servi

[2022-01-12 09:03] Anvay-Rajhansa opened #1121 "proposal: contrib/go-chi add option to ignore requests."
Add option to ignore traces for selected requests. If proposal is accepted I would like to implement it.

[2022-01-13 14:18] gbbr opened #1125 "proposal: contrib/google.golang.org/grpc: add WithSpanOptions"
The proposal is to add support for a `WithSpanOptions` option to interceptors, so that users can set additional tags or options on started spans, without using additional interceptors to wrap.

The request is coming from Datadog internally.

[2022-01-14 17:19] #1121 closed

[2022-01-14 17:37] knusbaum commented on #1079
I don't think it matters for this issue, but I thought I should correct myself. I said that we support B3 headers by default, but that is not true.

They need to be configured using the environment variables `DD_PROPAGATION_STYLE_INJECT` and `DD_PROPAGATION_STYLE_EXTRACT`:
https://github.com/DataDog/dd-trace-go/blob/307fc73cc29125423c0f9e0e9295ce659d8fe69d/ddtrace/tracer/textmap.go#L66-L70

By def

[2022-01-14 17:51] chrisforrette commented on #1079
@knusbaum Thanks! Yeah, I had seen the docs on B3 headers here: https://docs.datadoghq.com/tracing/setup_overview/setup/go/?tab=containers#b3-headers-extraction-and-injection

The problem for us is that we're running this one 3rd party service that we can configure to emit B3 style tracing headers but it does not support Datadog headers, and all of our other services use Datadog headers. So we cou

[2022-01-14 17:51] #1079 closed

[2022-01-14 18:09] #1018 closed

[2022-01-14 18:29] #999 closed

[2022-01-17 14:39] #1047 closed

[2022-01-17 14:40] nacho692 opened #1128 "How do you configure automatic APM metrics correctly?"
I've been using custom metrics to discriminate `http.status_code` and `http.method`.

According to
https://docs.datadoghq.com/tracing/guide/metrics_namespace/ I should have access to at least `http.status_code`, but the tag is missing in the metric.

I am using the opentracing API and setting the tags manually.

<img width="219" alt="Screen Shot 2022-01-17 at 11 38 09" src="https://user-images.git

[2022-01-19 19:42] markgmilner opened #1132 "Version 1.35.0 does not respect `DD_AGENT_HOST` var for feature loading"
We noticed that in the new version (1.35.0) that we get a new error message when only setting the agent host address via the `DD_AGENT_HOST` environment variable:

[code]
For clarity, we are setting the `DD_AGENT_HOST` to an ip other than localhost.

It looks like the call to get info does not respect the `DD_AGENT_HOST` variable, and only works when the tracer uses the `withAgentAddr` start optio

[2022-01-20 10:28] gbbr commented on #1132
I think this was just fixed in https://github.com/DataDog/dd-trace-go/pull/1126. Can you confirm? If so, please close the issue and we will be releasing this soon. If it's more urgent and blocking you, please let me know.

[2022-01-20 21:47] Julio-Guerra commented on #1055
Some updates on this issue: we decided we should remove our dependency to CGO mainly to drastically simplify our installation process. It is low priority for now but I should start evaluating the alternatives in the next few weeks.

[2022-01-21 04:37] ebilling opened #1136 "github.com/golang/protobuf/proto was deprecated"
The library github.com/golang/protobuf/proto was deprecated over a year ago.

The new home is google.golang.org/protobuf/proto

Also, "github.com/golang/protobuf/jsonpb" has been deprecated by "google.golang.org/protobuf/encoding/protojson"

I have updated quite a few repos recently and I'll try to get a PR to you soon.

[2022-01-21 15:17] JHartman5 commented on #1132
I had the same issue; I tested https://github.com/DataDog/dd-trace-go/pull/1126 and it worked perfectly for me (in fact, I had more or less the same change queued up in a local fork before I found this issue).

Do you have some idea when this will make its way into a release?

[2022-01-21 21:40] afarbos opened #1141 "proposal contrib/cloud.google.com/go/pubsub.v1: add StartSpanOption to pubsub.Publish"
When sending a message with pubsub we cannot any additional start span options.
This block the use of some functions, for example Tag.Measured().

Example:
[code]

Notes: This is one tag that would not be here with default behaviors and block the measure of error rates for examples.

[2022-01-24 10:13] ytakaya commented on #983
@jcogilvie
Do you plan to put up a PR?
If not, can I create a PR on your behalf? I would like to contribute to this project.

[2022-01-24 15:36] jcogilvie commented on #983
@ytakaya I just created a PR.  The branch is out of date, though, as it's built on 1.33.

[2022-01-24 17:32] knusbaum opened #1144 "proposal: ddtrace/tracer: enable B3 propagation without environment variables"
Answer for customer:

In order to enable B3 headers without using environment variables, I propose that we add a new field to `PropagatorConfig` called `B3` which would be a boolean value that you could set to true and enable support for B3.

Then, you could do something like the below:
[code]

[2022-01-25 01:08] ytakaya commented on #983
@jcogilvie Thanks for creating the PR!

[2022-01-25 11:44] gbbr commented on #1132
Thanks for confirming! The release should be out soon. We have started the process. I predict 1-2 weeks.

I'm going to close the issue since it is fixed, but if there are any further concerns please feel free to continue commenting.

[2022-01-25 11:44] #1132 closed

[2022-01-26 18:41] vhganga opened #1147 "On including ddtrace library, Go Services Bazel build fails"
**Describe what happened:**
We are trying to add DataDog Custom Metrics by referring to https://docs.datadoghq.com/tracing/setup_overview/setup/go/?tab=containers for the Golang Microservices by including following code snippet with import as mentioned in first line

import ( "gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer" )

	tracer.Start(
		tracer.WithEnv("prod"),
		tracer.WithService("test-go"

[2022-01-26 21:13] vhganga commented on #1147
Hi All, after including sketches_go library dependency, we get different error as following:
ERROR: /private/var/tmp/_bazel_gangavh/b7b51011abc161034e1e1e818ba502ef/external/com_github_datadog_sketches_go/ddsketch/mapping/BUILD.bazel:3:11: GoCompilePkg external/com_github_datadog_sketches_go/ddsketch/mapping/mapping.a failed: (Exit 1): builder failed: error executing command bazel-out/host/bin/ext

[2022-01-26 21:19] jacobfoard commented on #1147
I'm able to use bazel with the tracer, I just needed to disable the automatic proto building since the `*.pb.go` files are committed to the repo.

[code]

[2022-01-26 22:04] vhganga commented on #1147
Thank you @jacobfoard , I am getting build error as following:
imports "github.com/DataDog/sketches-go/ddsketch/pb/sketchpb" which matches multiple rules: //ddsketch/pb/sketchpb and //ddsketch/pb:sketchpb. # gazelle:resolve may be used to disambiguate

[2022-01-26 22:11] #1147 closed

[2022-01-28 20:36] #1144 closed

[2022-01-28 23:33] marcind opened #1153 "v1.35.0 breaks any program trying to use a `-v` flag"
The following simple program breaks when dd-trace-go is upgraded to v1.35.0

[code]

The output when executing `go run main.go` is something like

[code]

This has been traced to the usage of the `github.com/golang/glog` package (which [also uses the -v flag](https://github.com/golang/glog/blob/9ef845f417d839250ceabbc25c1b26101e772dd7/glog.go#L401))

Glog is imported via the following chain
[code]

[2022-01-31 20:06] marcind commented on #1153
For what it's worth it appears that Google has [no intention](https://github.com/golang/glog/pull/52) of fixing the underlying problem and libraries should just avoid depending on the glog package.

[2022-02-01 11:37] magnetikonline commented on #1055
Thanks for the update @Julio-Guerra - appreciated 👍

[2022-02-01 13:32] felixge commented on #1153
@marcind sorry you're hitting this issue. I think it's reasonable to expect that upgrading `dd-trace-go` doesn't break your application.

That being said, it's a tricky situation. glog seems tricky to prune from our dependency graph without giving up on ristretto. We also can't use a `replace` directive to point to a fork from within `dd-trace-go` as only works for the main module according to the

[2022-02-01 17:31] marcind commented on #1153
@felixge seems like the easiest might be to lobby for https://github.com/dgraph-io/ristretto/pull/292 and/or https://github.com/dgraph-io/ristretto/pull/293 as it appears dd-trace-go is not the only thing affected.

Outside of that, have you considered not using ristretto?

[2022-02-02 23:42] marcind opened #1157 "Please expose NoopSpan to enable nil-object pattern"
I find myself writing the following code:

[code]

It would be great if NoopSpan was exposed so that I could return it from the helper and avoid the `if span != nil` check.

[2022-02-02 23:47] marcind commented on #1157
Note that I can obtain a NoopContext by calling `tracer.SpanFromContext(nil)` but then I have to discard the bool, which makes the code more verbose than it needs to be:

[code]

[2022-02-03 09:28] gbbr commented on #1157
I think you can avoid that... Why do you need the additional function? You could just have:

[code]
Furthermore, do you know that if you skip calling `tracer.Start`, the entire API still works but causes no traces? For example:

[code]

[2022-02-03 17:23] marcind commented on #1157
The code I posted is a simplified example. The `startSpanConditionally` helper does a lot more work (including Extracting/Injecting metadata from a carrier, etc) so I was attempting to avoid allocations in case tracing is not enabled. Here's an example of a benchmark that shows the cost, even if the tracer was never started:

[code]

And the output is
[code]

Returning a Noop span causes no alloca

[2022-02-03 17:28] marcind commented on #1157
And to further clarify the conditionality is on a per-subsystem basis (so the global tracer might be Started, but I want to control the whether tracing is on in a particular part of the code, for example to measure perf impact)

[2022-02-04 07:47] gbbr commented on #1157
I understand. I think it should be fine in that case to expose the `NoopSpan`. It should probably be part of the `ddtrace` package, in a `noop.go` file together with the `NoopTracer`. Any other placement could result in circular dependencies.

Would you be interested to submit a PR or should we mark this internally as a feature request?

[2022-02-04 10:06] r3code opened #1158 "Question: why wrapped contrib/net/http client produces spans named http.request?"
I wonder why we do not split the http server and client requests span naming?

If we look at the grpc wrapper we see that it has a name "[grpc.client](https://github.com/DataDog/dd-trace-go/blob/f9857447ec431dface61642cb27107af08c3006b/contrib/google.golang.org/grpc/client.go#L171)" and "[grpc.server](https://github.com/DataDog/dd-trace-go/blob/bfaa50cb4ec60d9f5ed44aaa5ca2480ee62f8871/contrib/goog

[2022-02-04 15:32] #760 closed

[2022-02-09 00:24] matlegit opened #1164 "ddtrace/tracer: null DD_SERVICE_MAPPING is overriding service name"
Hi there,

We ran into this issue in both v1.35 and v1.36. There is potentially a bug around which DataDog Service the agent reports data back to. In v1.34 we were sending APM data to `my-service` but after upgrading the tracer, it now sends to a Service called `echo` which looks to be the default [set here](https://github.com/DataDog/dd-trace-go/blob/5b6e61b993/contrib/labstack/echo.v4/option.go#

[2022-02-10 12:02] rangelrealecb opened #1166 "proposal: contrib/net/http: make roundTripper propagation (inject, extract) optional"
I need to make an http call to a vendor, and I would like to trace this call (and its parameters), but using the current roundTripper would "leak" the trace_id / parent_id as headers, as they are inject automatically on the call.

I propose adding an option (true by default):

[code]

and check this before injecting

[code]

I can submit a PR if it's ok.

[2022-02-11 10:39] felixge commented on #1158
Thanks for the suggestion! cc-ing @DataDog/tracing-go to take a closer look.

[2022-02-15 02:47] aidansteele opened #1168 "contrib/aws/aws-sdk-go: tricky to pass trace context through to Lambda functions"
## Background

I have a system that I am trying to instrument using DataDog APM. The two main components are a long-lived Docker container (running on AWS ECS Fargate) and an Lambda function invoked by that container. Specifically, it is invoked using the direct Lambda [Invoke](https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html) API, not via an intermediate AWS API Gateway.

## Problem

[2022-02-15 21:32] iamnande opened #1171 "contrib/chi/chi: seeing panic failures in gRPC gateway service"
Howdy 👋🏻

I have an API serving both gRPC and REST endpoints with a [gateway](https://github.com/grpc-ecosystem/grpc-gateway) in between. For some reason we're running into a panic failure after swapping our OTel for DD:

[code]
specifically: `/go/pkg/mod/gopkg.in/!data!dog/dd-trace-go.v1@v1.36.0/contrib/go-chi/chi/chi.go:69 +0xbc5`

in our main we have the following:
[code]

in our REST router se

[2022-02-15 22:54] #1171 closed

[2022-02-16 12:57] theory opened #1173 "service.name tag should not replace service"
I set up these two environment variables:

[code]

And was surprised to find that my traces all had `service:howdy` instead of `service:greet-howdy`, and that `service.name` did not exist. Seems as though the `service.name` tag replaces the `service` tag, even if the `service` tag is set separately.

ISTM that `service.name` should not replace an explicit setting of `service`, and that even if it

[2022-02-16 13:40] felixge commented on #1168
Thanks for the proposal @aidansteele. I'll leave it to team @DataDog/tracing-go to comment, but feel free to ping me if this gets stuck for some reason.

[2022-02-16 19:57] iamnande opened #1174 "proposal: contrib/google.golang.org/grpc: make MDCarrier public"
The [MDCarrier](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/google.golang.org/internal/grpcutil/mdcarrier.go) is generally sufficient for non-custom metadata implementations.

My proposal would be to either include the MDCarrier inside of the grpc folder(s), `grpc` and `grpc.v12`, or move the `grpcutil` package under `contrib/google.golang.org` so that consumers can use it without havin

[2022-02-23 10:22] martin-sucha opened #1180 "WARN: won't propagate trace tags (err: max trace tags header len (0) reached)"
`PropagatorConfig.MaxTagsHeaderLen` option was introduced in https://github.com/DataDog/dd-trace-go/pull/1082, but we get warnings `WARN: won't propagate trace tags (err: max trace tags header len (0) reached)` after upgrading to 1.36.0 when we don't set this field, but we set other fields in the PropagatorConfig.

The default value is 512 and is set only if the PropagatorConfig is not present.

O

[2022-02-23 19:44] kaitlinr commented on #1136
I'd just like to bump this issue!  We're seeing some security vulns from this package related to `golang.org/x/crypto` and `golang.org/x/text`.

I think this would also involve updating DataDog/sketches-go to 1.3.0.  This means https://github.com/DataDog/dd-trace-go/pull/1051 would need to be merged first.

![image](https://user-images.githubusercontent.com/1081474/155394965-cc3662a6-6377-4523-a0a

[2022-02-28 18:21] #1043 closed

[2022-03-03 11:09] AsgerNoer opened #1197 "proposal: contrib/gofiber/fiber.v2: make resource name use route instead of current path"
## Issue
With the current implementation in the fiber middleware the resource name is set by the following logic that results in very obfuscated endpoint tracing in the Datadog client. The current implementation is alright for static paths, but when path parameters is included, it gets messy.

https://github.com/DataDog/dd-trace-go/blob/85593c8fdac6ecbdcf8b4554eb06c57e9329ff44/contrib/gofiber/fibe

[2022-03-03 11:56] AsgerNoer commented on #1197
For backwards compatibility the changed resource naming logic could be wrapped in a config flag/option function, so it'll default to the old way of naming resources but with the option of using the route name generation.

[2022-03-03 13:36] bitvirago opened #1198 "contrib/contrib/go-chi: set the resource the actual path instead of "unknown" at 404 HTTP code"
I started to use the chi trace middleware and I realized that when the chi gets an unknown path in the HTTP request the middleware set "unknown" in the Datadog resource because in this case the `RoutePattern()` gives back an empty string. My proposal is in this case the resource should be the actual path.

the actual code snippet:
[code]

the changes would be:
[code]

Any idea or suggestion?

[2022-03-03 19:28] fabiano-amaral commented on #700
Hello, have we any plans to implement this?

[2022-03-07 09:14] eugenesinamban opened #1201 "contrib/google.golang.org/grpc: Wrapped context.Canceled error is treated as an error"
Our services wrap errors with a message like below

[code]

and the interceptor cannot tell if context is just canceled or it's a different error altogether.

[Currently](https://github.com/DataDog/dd-trace-go/blob/85593c8fdac6ecbdcf8b4554eb06c57e9329ff44/contrib/google.golang.org/grpc/grpc.go#L43-L45), the condition to check for the error type is just using `==` but `errors.Is()` is now available

[2022-03-08 23:13] grosren commented on #1158
We had to fork the Datadog tracing lib only because of this hard-coded `http.request` arg in
[roundertripper.go:l42](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/net/http/roundtripper.go)
and
[trace.go:l66](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/net/http/trace.go)

We are using `http.server` and `http.client` respectively :)

BTW: the gRPC instrumentation already uses `gr

[2022-03-11 14:55] knusbaum commented on #1197
@AsgerNoer Yes, we should include the route, not the actual path. That's how we do other HTTP integrations and we should do the same here.

[2022-03-11 23:27] andysnowden opened #1216 "contrib/gorm.io/gorm.v1 - Duplicate traces"
Been looking into the gorm v2 tracing and it seems every SQL query via GORM generates two mostly duplicate traces.  This even happens using the library example.  Is this the intended behavior?

[code]

![0ZJIGcs](https://user-images.githubusercontent.com/43858400/157987863-8a7c14ed-b8da-4795-9d24-469fac5a858b.png)

Are gorm and pgx each providing a trace? if so can I disable one or the other?

[2022-03-12 11:18] AsgerNoer commented on #1197
@knusbaum I've opened a PR with a fix, also including the path parameter extraction.

[2022-03-14 17:53] dalmarcogd opened #1219 "Vulnerability on github.com/jinzhu/gorm@1.9.1"
After upgrading to v1.37.0, my vulnerability-dependencies-scanner started to alert this.

[code]

[2022-03-14 18:02] nsrip-dd commented on #1219
Thank you for the report! Does your vulnerability scanner report a minimum version required to mitigate the issue? I can't find anything like that in any of the provided links, though I may have missed it.

[2022-03-15 14:56] nsrip-dd commented on #1219
Breadcrumb: The issue tracker for github.com/jinzhu/gorm was moved to github.com/go-gorm/gorm. Here's the issue where the vulnerability was reported: https://github.com/go-gorm/gorm/issues/2517, and here's a PR that supposedly fixes it https://github.com/go-gorm/gorm/pull/2519.

[2022-03-18 03:32] chchgb opened #1220 "go-chi unknown revision v4.0.0-rc1"
in go.mod, it require github.com/go-chi/chi/v4 v4.0.0-rc1

but I met blow issue, who can help me to handle it. thx~

go list -m: github.com/go-chi/chi/v4@v4.0.0-rc1: invalid version: unknown revision v4.0.0-rc1
go list -m: gopkg.in/DataDog/dd-trace-go.v1@v1.37.0 requires
	github.com/go-chi/chi/v4@v4.0.0-rc1: reading github.com/go-chi/chi/go.mod at revision v4.0.0-rc1: unknown revision v4.0.0-rc1

[2022-03-21 08:39] #1197 closed

[2022-03-24 00:04] dominicfollett opened #1222 "question: Distributed tracing with contrib packages gorm and fiber"
Hello there, I'm looking for a bit of guidance, with a caveat: that I am still learning about tracing and my use of these contrib packages is somewhat fresh to me, so I apologize in advance if any of my questions are a bit off the mark.

I have three services that are successfully reporting traces, but the traces are not correlated when they should be, and they are not 'connected' on the Datadog s

[2022-03-24 16:25] dominicfollett commented on #1216
I am noticing the same thing in my traces. I tried to adjust by removing sqltrace altogether, but I don't know yet if it will impact the quality of my tracing. E.g.

[code]

I still see the `gorm.query` trace. But without the parent `pgx.query` trace. Hope this helps.

[2022-03-25 16:48] dillonstreator opened #1223 "Nil transport should default to http.DefaultTransport"
If a nil transport is provided, could we default to the http.DefaultTransport for the base?

https://github.com/DataDog/dd-trace-go/blob/b5c1e8daa1b66e09249245c728bb0459ad7ef645/contrib/net/http/roundtripper.go#L88-L91

[2022-03-28 13:20] dianashevchenko commented on #1164
@matlegit from what I see, null service mapping can't interfere with the service naming, so I couldn't reproduce. If the problem still persists, please feel free to share more info / snippets 🙌

[2022-03-28 13:27] dianashevchenko commented on #1166
Hi @rangelrealecb , sure, feel free to submit a PR. We'll do our best to review it in timely manner 🙌

[2022-03-28 13:56] dianashevchenko commented on #1168
@aidansteele I've recorded your request, we will try to get back to you with a solution promptly 🙌

[2022-03-30 07:38] nithin-kumar opened #1227 "go get gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer Fails"
`[builder  8/11] RUN go get gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer:

#14 153.2 # gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer

#14 153.2 /go/src/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer/stats.go:294:33: cannot use msg (type *sketchpb.DDSketch) as type protoreflect.ProtoMessage in argument to "google.golang.org/protobuf/proto".Marshal:
#14 153.2       *sketchpb.DDSketch does not imp

[2022-03-30 10:34] felixge commented on #1227
Thanks for submitting this issue.  I'm able to reproduce it like this:

[code]

Additionally I checked:

- `golang:1.15`: Same issue.
- `golang:1.16-alpine`: No issue.
- go1.15 on macOS: No issue.

So this seems to be specific to go1.15 on linux.

@knusbaum assigning this to you for taking a closer look since you're on escalation rotation this week.

[2022-03-31 19:02] natebrennand commented on #1025
High, just pinging with another datapoint as a user that still had delta profiles enabled (since it's the default setting).
Our application includes a good deal of generated code and weighs in ~100mb.

![image](https://user-images.githubusercontent.com/2801090/161129931-ed4caf24-08ef-41ae-ab31-df6332621dbf.png)

We're going to try the recommended mitigation of disabling the delta profiles.

[2022-04-01 19:34] gbooth27 commented on #1227
I am also seeing this issue with `go 1.18` on a mac after upgrading from `go 1.14`

[2022-04-04 11:58] gbbr commented on #1227
I suspect this was caused by https://github.com/DataDog/dd-trace-go/pull/1188

[2022-04-04 12:04] dianashevchenko opened #1231 "ddtrace/tracer: in-code configuration can be overridden by env values"
As of now, environment variables could override in-code settings.
https://github.com/DataDog/dd-trace-go/blob/ea1a2065e69fa74ff53e67832fb0bc579fcc7c3f/ddtrace/tracer/transport.go#L186-L208
This issue is to suggest the precedence order of configuration options to be following, as was discussed previously:

1. Explicit option set by the user (in-code)
2. Env var
3. Default value

[2022-04-04 13:06] Julio-Guerra commented on #1220
Sounds good to me. Let me open a PR for that.

[2022-04-04 13:45] nsrip-dd commented on #1227
I think this is a [GOPATH mode vs module-aware mode](https://go.dev/ref/mod#mod-commands) issue. In GOPATH mode (the default for `golang:1.15`) running `go get` downloads the latest version of this library and of all of its dependencies directly from version control, ignoring all of the version information in the `go.mod` file. The `github.com/DataDog/sketches-go` package [recently regenerated the

[2022-04-04 15:49] #1220 closed

[2022-04-04 17:59] #1040 closed

[2022-04-06 12:50] nsrip-dd commented on #1227
The previously mentioned PR has been merged and this works now.

[2022-04-06 12:50] #1227 closed

[2022-04-06 13:54] ramsay opened #1236 "proposal: Enhance http.host tag handling"
In `contrib/net/http.go` the `http.host` tag is set via the following code:
[code]

But this is not 100% correct. The request.URL is the results of parsing the URI in the HTTP request which will usually be relative to the HTTP Host header. See the following comment from the go docs: https://pkg.go.dev/net/http@go1.18#Request

	// requests) or the URL to access (for client requests).
	//
	// For se

[2022-04-06 18:15] nithin-kumar commented on #1227
Thanks @felixge @gbbr @gbooth27 @nsrip-dd for the quick resolution

[2022-04-12 00:10] nsrip-dd opened #1242 "proposal: profiler: add CPUProfileRate option"
Calling [`runtime.SetCPUProfileRate`](https://pkg.go.dev/runtime#SetCPUProfileRate) with a non-zero value starts profiling at the given rate, if it hasn't already been called. This rate is effective until profiling is stopped (by setting the rate to 0). Because the profiler continually starts and stops CPU profiling, every round of CPU profiling after the first one will instead run with the defaul

[2022-04-15 18:59] knusbaum commented on #1088
See: https://github.com/DataDog/datadog-agent/pull/11584

[2022-04-19 13:27] marcosg-peya opened #1250 "Profiler Fatal Error: signal SIGSEGV: segmentation violation"
Hi all!
We are having the following fatal error sporadically(every day or 2 days):
[code]

We are using dd-trace-go.v1@v1.37.1 and golang1.17 with alpine3.15

[2022-04-19 13:45] nsrip-dd commented on #1250
Thank you for the report! I'll look into this ASAP.

[2022-04-19 19:44] nsrip-dd commented on #1250
So I haven't yet reproduced the crash, and I suspect it may be difficult on your end since it happens infrequently. However, one thing jumps out to me in the stack trace you've shared:

[code]

The two arguments there are the `*profileMerger` (the method receiver) and a `*Location`, both from the `github.com/google/pprof/profile` package. Now, the first argument looks like the address of a heap-al

[2022-04-19 20:09] marcosg-peya commented on #1250
Yes,It happens always on the same lines:
[code]
[code]
[code]

For what I see, the location comes from the src and the profile that is obtained on dd-trace, I understand that is difficult to happen because of something in another routine because the others routines have no way to know the address of this param, and if it is something random its strange to be the same param that breaks right?

[2022-04-19 20:23] marcosg-peya commented on #1250
Maybe I can try to access this address to see what it has? It must be some kind of constant right?

[2022-04-19 20:25] nsrip-dd commented on #1250
Possibly, yes, though the address is _slightly_ different in each crash (see below). If you're able to get the crash under a debugger and look at the arguments going into that function, that would probably clarify quite a bit.

The addresses (the second one) are _almost_ the same. Here they are, pulled out so we can see them side-by-side:

[code]

Interestingly, the last one has a third argument.

[2022-04-19 20:36] marcosg-peya commented on #1250
Hmm just quick looked it, if its not the same its not going to be possible.
We are not able to reproduce it, as you said its infrequent.

About the third argument, I thought that was because of us updating dependencies, but now I see that its always the same version of pprof so it dont haves much sense

[2022-04-19 20:52] marcosg-peya commented on #1250
maybe we can do a version using [SetPanicOnFault] (https://cs.opensource.google/go/go/+/go1.18.1:src/runtime/debug/garbage.go;l=151) that panic can give us the faulty address to access and print it, what you think? where do you think that should be the recover and what should do to dont brake anything else?

[2022-04-19 21:16] jontonsoup commented on #1220
is this fix live? it appears v1 is broken right now

[2022-04-19 23:03] marcosg-peya commented on #1250
Im going to test it with this fork https://github.com/marcosg-peya/dd-trace-go/tree/sigsegv-test

[2022-04-20 02:19] nsrip-dd commented on #1250
Good idea, please report back if you find anything. It might also be worth compiling the program with the address sanitizer (Go 1.18 added the `-asan` flag), though I'm not 100% sure if all the dependencies are available on Alpine Linux.

[2022-04-20 07:46] Hellzy commented on #1220
@jontonsoup could you please try and check if it appears broken using the [latest](https://github.com/DataDog/dd-trace-go/releases/tag/v1.38.0-rc.2) dd-trace release candidate? (v1.38.0-rc.2)?

[2022-04-20 10:27] felixge commented on #1025
@natebrennand thanks, this feedback is really appreciated and helps to bump this higher on our priority list!

One Q: In your case the memory overhead seems to be just 45 MiB? Is this prohibitive for your application? What would be an acceptable amount of memory usage for you? I realize your app has low memory usage in general (just 94 MiB total), so this is quite a lot relatively speaking, but ov

[2022-04-20 14:38] #1231 closed

[2022-04-20 17:50] jontonsoup commented on #1220
it is fixed. Thanks!

[2022-04-20 19:07] natebrennand commented on #1025
Hi @felixge, no worries about timing, thank you for getting back to me.

Fair questions, I believe this is mainly due to the time period that I took that screenshot of.
Unfortunately I cannot access that data in the aggregate form any more because more than a week has passed to obtain a higher signal snapshot.

Our primary application that we observed this issue on typically runs utilizing 100-150

[2022-04-21 03:32] kodams commented on #1220
Hi, @Hellzy

`replace` of go.mod only works at local when `go get` is used.
I have to append `replace` in all vertical dependency repos.
(In other words, I have many microservices and a central framework used this....)

Do you have a plan for an upgrade to v1.37.2 for fixed it?

[2022-04-22 07:58] Hellzy commented on #1220
Hi @kodams, do those repos use a specific version or do they fetch the latest?
If it's the later, v1.38.0 has been released and includes the fix we discussed above.
Also ping @jontonsoup, you should be fine getting rid of the specific RC and using the latest release now.

[2022-04-22 09:40] felixge commented on #1025
Thanks for sharing those details @natebrennand.

Looking at the screenshot, it seems like the actual OOMs happen when there is a significant spike of memory usage which is probably from spikes of traffic? Do you still see those spikes now? Do you have any rate/concurrency limits in place to avoid traffic spikes consuming too much memory resources?

Anyway, 500 MB is a somewhat tight memory limit,

[2022-04-22 14:50] marcosg-peya commented on #1250
We didnt get any logs of the added ones but got a different error now that I think its a clear clue of what its happening:

[code]
Looking if we found something else

[2022-04-22 15:00] nsrip-dd commented on #1250
Ah, very interesting! Thank you for running more tests. This looks like a promising lead. Have you tried compiling and running your program with the `-race` flag to enable the race detector? I am wondering now if the original crash you've reported is also a symptom of a race condition. The race detector doesn't necessarily catch every possible data race but it's worth a shot.

[2022-04-22 15:52] marcosg-peya commented on #1250
We run our tests always with -race, this are the configs reported on logs when starts:
[code]

[2022-04-22 16:25] nsrip-dd commented on #1250
Do you have a similar log starting with `Profiler configuration:`?

[2022-04-22 17:10] marcosg-peya commented on #1250
My bad:
`Datadog Tracer v1.37.1 INFO: Profiler configuration: {"date":"2022-04-22T14:10:07Z","os_name":"Linux (Unknown Distribution)","os_version":"unknown","version":"v1.37.1","lang":"Go","lang_version":"go1.17.9","hostname":"888","delta_profiles":true,"service":"***","env":"live","target_url":"http://***/profiling/v1/input","agentless":false,"tags":["pid:1","***","profiler_version:v1.37.1","runt

[2022-04-22 21:05] marcosg-peya commented on #1250
Did you find it @nsrip-dd ? Is there anything to test at our side?

[2022-04-24 18:53] drornir opened #1256 "Update github.com/miekg/dns to latest in go mod"
New here, sorry in advance :)

In https://github.com/DataDog/dd-trace-go/pull/316 the dependency github.com/miekg/dns was intoduced. I think it was never updated, but it seems like there were some security vulnerabilities then.

I got this error from snyk: https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMMIEKGDNS-537825

Is it possible to update the versions of the main go.mod file?

[2022-04-24 19:00] #1256 closed

[2022-04-25 16:53] yulius-take2 opened #1258 "Feature Request: Add req.RequestID to aws tracer tag"
In the code referenced here, add the aws request id
https://github.com/DataDog/dd-trace-go/blob/c92a84c045f7837b5bbdd34dc96a40ed4915c46c/contrib/aws/aws-sdk-go/aws/aws.go#L80

`span.SetTag(tagAWSRequestID, req.RequestID),`

where `tagAWSRequstID` is defined as `aws.request_id`

[2022-04-25 19:31] marcosg-peya commented on #1250
Hi @nsrip-dd I can't share the full log but here are the traces of the routines that reference dd-trace-go on the `fatal error: concurrent map read and map write`

[code]
 There are others related to the datadog-go lib but I understand that those are not relevant.

[2022-04-26 17:12] nsrip-dd commented on #1250
Thanks, that's helpful. I assume that the goroutines in that stack trace would also include the stack trace you shared in [this comment](https://github.com/DataDog/dd-trace-go/issues/1250#issuecomment-1106592496)?

I see the `(*profiler).send` and `(*profiler).collect` goroutines, which is what I would expect normally. The `send` goroutine is only responsible for uploading the profiles after they'

[2022-04-27 18:01] ajgajg1134 commented on #1201
This seems like a pretty straightforward change for us to make. We're currently determining our go version support policy and it seems likely that we will be dropping support for go 1.12 when that merges (https://github.com/DataDog/dd-trace-go/pull/1239) Once that merges we can switch to `errors.Is()` for this use case

[2022-04-27 18:17] ajgajg1134 commented on #1222
Hello 👋! So if I understand correctly your service map looks like C calls A which Calls B? (C -> A -> B)
And you see the proper propagation from C to A but not to B?

In your usage of gorm are you providing the context when you make a query? e.g. `.WithContext(ctx)` where the context is the one coming from service A (which carries the tracing information)?

Sorry this answer has been a bit slow ge

[2022-04-27 18:37] ajgajg1134 commented on #1258
This seems like a perfectly fine change to me! If you'd like to put up a PR with these change we'll try to review it quickly. Otherwise I'll add it to our enhancement backlog, Thanks!

[2022-04-28 15:50] #983 closed

[2022-04-29 15:02] yulius-take2 commented on #1258
here's the pull request
https://github.com/DataDog/dd-trace-go/pull/1266/files

[2022-05-02 17:32] juran-compass opened #1270 "Synthetic Test cannot see the APM trace"
Hi there,

I use `gopkg.in/DataDog/dd-trace-go.v1 v1.27.1` and go version is 1.15
When I did synthetic testing, it cannot link any trace on it.
<img width="1083" alt="Screen Shot 2022-05-02 at 10 31 15 AM" src="https://user-images.githubusercontent.com/57373941/166295919-67669de7-ab1b-4bc6-95a1-3e204ef511f5.png">
Does anyone know why?

Thanks
Ran

[2022-05-03 16:03] NicklasWallgren opened #1273 "Support for auto-instrumentation via eBPF"
Have DataDog any plans for adding support for auto-instrumentation via eBPF?

[2022-05-03 21:12] bigkraig opened #1276 "Proposal: Update confluent-kafka-go to v1.8.2"
Current v1.4.0 is a couple of years old.

[2022-05-04 17:06] nsrip-dd opened #1279 "profiler: TestSetProfileFraction fails when run multiple times"
If all of the tests are run multiple times, then `TestProfileFraction` fails in all but the first run:

[code]

This appears to have been introduced by https://github.com/DataDog/dd-trace-go/pull/1262

[2022-05-04 17:35] alexbolgov opened #1280 "When DD_AGENT_HOST is set, tracer ignores `WithAgentAddr` start option"
Hello!

`WithAgentAddr` is supposed to set agent address, but environment variable `DD_AGENT_HOST` takes precedence and `WithAgentAddr` option is ignored

This behaviour is not consistent with behaviour of other pairs of environment variables and `StartOptions`: for most (if not all) pairs of `StartOption` + `env`, the `StartOption` takes precedence.

A proposed change is to let `WithAgentAddr` to

[2022-05-05 13:02] #1279 closed

[2022-05-05 18:00] dominicfollett commented on #1222
Hi there @ajgajg1134 thanks for the response.

The service map looks like (C -> A ->B) correct, but I am not seeing proper propagation from C to A, nor from A to B.
Incidentally I did try `.WithContext(ctx)` on the DB queries, but was not observing any correlation either.

All I can confirm is that the required DD trace headers are been correctly sent from C to A.

I'm at a loss as to what else to

[2022-05-06 07:53] felixge commented on #1273
@Julio-Guerra and myself had a lot of discussions about dynamic instrumentation in the past and have explored a few directions.

Right now there are not concrete plans, but I'd be curious on what you had in mind for eBPF auto-instrumentation?

[2022-05-06 08:21] NicklasWallgren commented on #1273
We're primarily looking for support for request and database query tracing via auto-instrumentation.

We're currently evaluating Pixie (https://px.dev/) as an alternative to Datadog, or https://github.com/keyval-dev/opentelemetry-go-instrumentation.

[2022-05-06 12:47] felixge commented on #1273
Pixie and dynamic instrumentation in general is awesome. But it's a tradeoff.

Advantages:
- Dynamically add instrumentation (logging, tracing, ...) without recompiling.
- Avoid polluting your app code with instrumentation stuff.
- Instrument runtime and library internals that would be very hard to observe otherwise.

Disadvantages:
- Overhead: uprobe's cause expensive mode switches, e.g. 3-4usec

[2022-05-06 19:55] DurkinDevelopment commented on #507
Any updates on this that might not of been linked?

[2022-05-09 08:33] Julio-Guerra commented on #1273
Regarding Application Security Monitoring, we already reached the point where we cannot reach the coverage we want for our HTTP monitoring without run-time instrumentation. The current plan is to start working on this topic in Q4 2022.

We will very likely start from the solution [developed at Sqreen](https://blog.sqreen.com/dynamic-instrumentation-go/), bringing run-time instrumentation automatio

[2022-05-10 19:04] knusbaum commented on #1276
Hi, @bigkraig.

We want to keep the version in our go.mod as low as possible so that the integration remains compatible with older versions.

This will not prevent you from using the integration with the latest version of confluent-kafka-go. If you put v1.8.2 into your project's go.mod file, dd-trace-go should work fine with it.

If there are any incompatibilities, we can release a new version of

[2022-05-10 19:18] #1276 closed

[2022-05-12 00:46] CAFxX opened #1287 "Span links support"
Opentelemetry has a useful feature for dealing with batch/async patterns, [links between spans](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#links-between-spans), that would be very useful in certain situations, e.g. in message queue subscribers to link, in the trace, the processing spans with their corresponding message fetch span (and, more in

[2022-05-12 10:36] kodams commented on #1220
Hi, @Hellzy. Sorry for the late.

These repos use `DataDog/dd-trace-go.v1 v1.37.0`. But the version is depend by `go-chi/chi/v4.0.0-rc1`.
I want to use the version if I can.

[2022-05-12 14:34] nsrip-dd opened #1288 "ddtrace/tracer: TestAutoDetectStatsd fails, receives traceproftest metric"
See: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3620/workflows/aa0499a0-d8ab-4454-8027-d849db97a89f/jobs/26473

The failure looks like this:

[code]

Note that the metric is `datadog.trace.traces_dropped` and there's a `service:traceproftest.test` tag. Is `traceproftest` leaking something, or being tested concurrently with `ddtrace/tracer`? That's the package tested before `ddtr

[2022-05-13 05:30] lamanotrama opened #1289 "proposal: Add http.host in HTTP client tracing"
As well as HTTP server.
- https://github.com/DataDog/dd-trace-go/issues/646

req.URL.Path is currently tagged in the span of requests from clients, but req.URL.Host is not.
Of course I know that this information can be injected with the WithBefore option, but I think it would be more convenient if it were always given by default.

[2022-05-13 11:39] felixge commented on #1288
Is this a flaky test? cc @knusbaum from rotation

[2022-05-13 12:12] nsrip-dd commented on #1288
I'm not sure if I'd call it flaky? This failure message suggests that the test was influenced by tests from a completely different package. Maybe there's some way we can make the test more isolated from the effects of other stuff that happens to be running at the same time on the build host?

[2022-05-13 13:34] nsrip-dd opened #1291 "contrib/net/http: TestRoundTripperNetworkError is (still) flaky"
Example failures:

* https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3242/workflows/da7efa91-fcf8-47f9-9de0-b1a857332cd5/jobs/23695/tests#failed-test-0
* https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3628/workflows/aca611f8-a3b1-41bb-a44a-e669811aba79/jobs/26519
* https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3378/workflows/30aef25a-222b-4665-81a0-b606

[2022-05-13 13:43] dianashevchenko commented on #1280
@alexbolgov it was addressed in #1232, will be in the next release 🙌

[2022-05-13 13:43] #1280 closed

[2022-05-13 14:12] #1291 closed, assigned to nobody

[2022-05-13 14:45] dianashevchenko commented on #1173
@theory I have to confirm that this is expected behaviour, and as of now we do not plan to change the logic to accept `service.name` as a tag

[2022-05-13 14:45] #1173 closed

[2022-05-14 14:03] nsrip-dd opened #1294 "profiler: TestStopLatency fails on nightly race detector tests"
[Example failure](https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3649/workflows/e473e7ce-a4f0-438d-b125-8fceec8f7a76/jobs/26644):

[code]

The test timeout was bumped from 20ms to 200ms by #1282 after noticing this same failure, but even a 200ms timeout isn't enough. CPU profiling can take slightly over 200ms to stop for the following reason:

* CPU profiling starts a goroutine that

[2022-05-14 18:42] theory commented on #1173
I would like to argue that `service.name` should not replace `service`. That just seems weird. Perhaps there is a reason for it, in which case some documentation would be welcome. Thanks!

[2022-05-16 06:26] deadok22 commented on #1128
I ran into what appears to be the same issue.

In my setup, the spans with the HTTP metadata that should yield the `http.status_code` and other tags described in https://docs.datadoghq.com/tracing/guide/metrics_namespace/ are rendered by the instrumentation from opentracing-contrib. The `http.status_code` value is added on [this line](https://github.com/opentracing-contrib/go-stdlib/blob/master/ne

[2022-05-16 06:58] felixge commented on #1294
I'm actually having a hard time reproducing this test failure locally:

[code]

Anyway, what about just increasing the timeout to e.g. 500ms? This test is mostly trying to prove that stopping a profiler that was just started takes (much) less time than the configured profiling period.

[2022-05-16 12:35] #1021 closed

[2022-05-16 12:38] dianashevchenko commented on #1136
#1051 is now merged, we'll bump protobuf in a moment 🙌

[2022-05-17 17:52] SympleSynz opened #1299 "question: Distributed tracing with NATS (Kafka, etc)"
Hello,

I'm working on a project where we use NATS to pass events between services.  For instance:
- Service A publishes an event to NATS
- Service B is a subscriber/consumer of that specific event and picks up the event and processes it

When we were using Zipkin, we were able to extract the `TraceId` and add it as a string field on the NATS payload. We would then json.marshal the payload, publis

[2022-05-18 15:07] Julio-Guerra opened #1300 "CI: automatically highlight go.mod diffs"
Explore things like `https://github.com/tailscale/depaware` or maybe just `go list -m all` in order to automatically highlight dependencies (and dependencies of dependencies) changes.

Things we would like to highlight include for example dependencies using CGO, only working on a specific OS, architecture or go version, etc.

[2022-05-20 06:04] nburuzul opened #1303 "bump github.com/go-kit/kit v0.10.0 to v0.12.0"
github.com/go-kit/kit v0.10.0 internally uses older version of jwt library [github.com/dgrijalva/jwt-go@v3.2.0+incompatible].
github.com/go-kit/kit v0.12.0 is upgraded to use community jwt library [github.com/golang-jwt/jwt v3.2.1]

problem with dgrijalva/jwt-go:
dgrijalva/jwt-go allows attackers to bypass intended access restrictions in situations with []string{} for m["aud"] (which is allowed by

[2022-05-20 12:34] nsrip-dd commented on #1303
Hello, thanks for opening this issue. As far as I can tell we don't have any dependency on `github.com/go-kit/kit`:

[code]

We do, however, have indirect dependency on `github.com/dgrijalva/jwt-go@v3.2.0`:

[code]

For the two packages listed here, it looks like `labstack/echo/v4` changed that dependency in version `v4.5.0`: https://github.com/labstack/echo/releases/tag/v4.5.0. Those release note

[2022-05-21 17:39] duxing commented on #697
any update on this thread?
I would love to use `ddtrace` to trace `pgx` but nothing is provided out of the box.

[2022-05-23 17:51] marcosg-peya commented on #1250
Hi @nsrip-dd, sorry for the lack of response, I had to shift to others issues, in resumee we are not using unsafe package on our code, there were no other stacks calling mapassign or mapdelete. We turned off the profiler and it stopped happening, I will turn it on again to see if it happens again and contact you to review it if it does.

[2022-05-24 10:44] felixge commented on #1294
Reopening this. PR flaked after merge:

- https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3738/workflows/caced67e-1a03-4321-8745-37899790274a/jobs/27127
- https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3738/workflows/caced67e-1a03-4321-8745-37899790274a/jobs/27130

[2022-05-24 14:03] felixge commented on #1294
Maybe the upload test could be changed to not depend on timing at all. We just test that the `profiler.Stop()` method returns before we send a response to the http request. That should be enough evidence that we're not waiting for the request to finish?

Me too. I'm not even sure what the root cause is for CircleCI to behave so extremely. Are we running the tests very differently? Maybe every pkg

[2022-05-24 15:47] nsrip-dd commented on #1294
Right, we could remove the time check for uploading and just rely on the channel that keeps the HTTP handler from returning until the end of the test. Then we know that if Stop returns, the upload was stopped. As for the slowness, it could be inconsistency from the CircleCI environment. I'm mainly hoping this isn't a regression from making the profile collection happen concurrently.

[2022-05-24 17:19] nburuzul commented on #1303
I am sorry, entered the defect in wrong place. closing it.

[2022-05-24 17:19] #1303 closed

[2022-05-25 21:29] duxing opened #1308 "Request: example for custom tags for `contrib/gorm.io`"
hi DataDog team,

`dd-trace-go` supports [`gorm@v1`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/contrib/jinzhu/gorm) and [`gorm@v2`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.38.1/contrib/gorm.io/gorm.v1) and I'm comparing the DataDog instrumentation implementation for both versions, trying to understand what would be the impact of upgrading my services from `gorm@v1` to `gorm@

[2022-05-25 22:50] duxing commented on #1308
seems like gorm@v2 instrumentation doesn't have that option available: [reference](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/gorm.io/gorm.v1/gorm.go#L113)

(equivalent of `gorm@v1` [implementation](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/jinzhu/gorm/gorm.go#L132) is missing)

[`contrib/database/sql`] contains a method for specifying span tags:
https://pkg.go.dev/gopkg.i

[2022-05-27 05:50] ax-tschmidtke commented on #1104
It seems that the current implementation with the cast to `*spanContext` as noted by @jfbramlett does inhibit one's ability to use custom `ddtrace.SpanContext` implementations. I have a custom SpanContext implementation that I'm using to pass trace data between services. While it satisfies the SpanContext interface and my custom Carrier and Propagator implementations properly set and retrieve the

[2022-05-27 11:02] MRabenda commented on #1219
Is there a chance that this will be solved in 1.39?

[2022-05-27 12:37] nsrip-dd commented on #1219
So, the commit that fixes the issue referenced above is this one in `go-gorm/gorm`: https://github.com/go-gorm/gorm/commit/836fb2c19d84dac7b0272958dfb9af7cf0d0ade4

Looking at the tags containing that commit, the oldest one is `v1.9.19`. However, that tag isn't in github.com/jinzhu/gorm since that project appears to no longer be maintained from that repository:

[code]

As @felixge alluded to, if

[2022-05-27 16:11] MRabenda commented on #1219
The question is if https://github.com/jinzhu/gorm is officially moved to https://github.com/go-gorm/gorm maybe dd-trace-go should remove support for this contrib https://github.com/DataDog/dd-trace-go/tree/d62beaae492db2d8d56277e2fa97533e9f2e142e/contrib/gopkg.in ?

[2022-05-30 08:03] Gipphe opened #1312 "question: Increased APM logging when upgrading to 1.38.1"
We have an [echo v4 server](https://github.com/labstack/echo) using the `DataDog/dd-trace-go.v1/ddtrace/tracer` and `DataDog/dd-trace-go.v1/contrib/labstack/echo.v4` packages for APM monitoring on Datadog. We upgraded `gopkg.in/DataDog/dd-trace-go.v1` from `v1.35.0` to `v1.38.1`, and in doing so we saw an immediate uptick in the number of hits to our service

![2022-05-27 19_07_16-Window](https://

[2022-05-30 08:54] felixge commented on #1294
Great investigation. The channel selection theory makes sense to me.

[2022-05-31 15:56] ajgajg1134 commented on #1222
Hi @dominicfollett, this is tough to diagnose without seeing more code or looking at the spans themselves. I recommend you open a support ticket directly with datadog so a support agent can take a look at the spans themselves to see if it's a bug in our code somewhere or a subtle configuration issue

[2022-06-01 03:16] soh335 opened #1314 "contrib/database/sql: Add WithErrorCheck option"
Hi, it is same feature with https://github.com/DataDog/dd-trace-go/issues/805.
Sometime, we need to ignore specific error from contrib/database/sql.

In our case, need to ignore insert error like that `Error 1062: Duplicate entry 'xxx' for key 'PRIMARY'`.

So need `WithErrorCheck` option. How about ?

[2022-06-01 10:16] felixge commented on #1294
https://github.com/DataDog/dd-trace-go/pull/1307 should have fixed this, closing.

[2022-06-02 06:16] felixge opened #1319 "ddtrace/tracer: Flaky TestReportHealthMetrics"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3931/workflows/e6c0bc1a-5879-4d7c-95bb-142c87f6f830/jobs/28001/tests#failed-test-0

cc @DataDog/tracing-go

[2022-06-02 06:50] gbbr commented on #1314
Fine by me!

[2022-06-02 06:59] soh335 commented on #1314
@gbbr Thank you for quick response. Ready to review p-r https://github.com/DataDog/dd-trace-go/pull/1315 👍

[2022-06-02 07:03] felixge opened #1320 "contrib/jinzhu/gorm: TestSqlServer"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3883/workflows/d55b26cf-8133-4bf3-aed9-8221bae72cf1/jobs/27813/tests#failed-test-0

cc https://github.com/orgs/DataDog/teams/tracing-go

[2022-06-02 07:06] felixge opened #1321 "contrib/gorm.io/gorm.v1: Flaky TestSQLServer"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3878/workflows/86cd2577-3e4d-43b8-b85c-f943f71b40dc/jobs/27790/tests#failed-test-0

cc @DataDog/tracing-go

See #1320 which is similar (seems like we support to different versions/flavors of gorm?)

[2022-06-02 18:40] nsrip-dd opened #1322 "contrib/gofiber/fiber.v2: Flaky TestCustomError"
Example failure: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3983/workflows/52c748ca-8a78-4ce3-9bfd-75e2876c837e/jobs/28208
Passing pipeline on the same commit: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3982/workflows/45a9bf15-36bf-428e-9481-839982c8db73/jobs/28207?invite=true#step-121-34

The test fails on [this line](https://github.com/DataDog/dd-trace-go/bl

[2022-06-02 18:52] nsrip-dd commented on #1321
RE: gorm flavors, `github.com/jinzhu/gorm` was moved to `gorm.io/gorm.v1`, and the former is no longer updated. See also #1219

[2022-06-03 08:30] felixge opened #1323 "contrib/jinzhu/gorm: Flaky TestPostgres"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/4018/workflows/2482cc92-b5be-42f6-a06c-41228dcde749/jobs/28357/tests#failed-test-0

[code]

and

[code]

[2022-06-03 08:33] felixge opened #1324 "ddtrace/tracer: Flaky TestPushPayload"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/4034/workflows/ddb5cc10-6b02-4a31-acfc-0fd0852636e3/jobs/28421/tests#failed-test-0

[code]

[2022-06-03 08:34] felixge opened #1325 "contrib/jinzhu/gorm: Flaky TestMySQL"
This test appears flaky, see: https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/4080/workflows/d14e664d-adff-4901-92f5-e1e059a7f516/jobs/28600/tests#failed-test-0

[code]

[2022-06-03 13:42] ajgajg1134 commented on #1312
Hello!
I took a look at the release notes since v1.35.0 and the only thing that jumps out to me is this regression fix in v1.36.0 https://github.com/DataDog/dd-trace-go/pull/1139. Do your trace stats align with the expected traffic you're seeing? Perhaps the sampling rate didn't change, but the hits metrics in version v1.35.0 was wrong due to the tracer dropping some spans before they got to the a

[2022-06-03 16:07] SympleSynz commented on #1299
This was super helpful feedback @ajgajg1134 Thank you.  After talking to the team, we'll attempt to go with your suggestion and implement a special carrier.
Yes, https://github.com/nats-io/nats.go is the library we are using.

[2022-06-03 16:07] #1299 closed

[2022-06-03 19:53] ajgajg1134 commented on #1236
Thanks for opening an issue!
Interesting, this does appear to be a bug in how we create the `http.host` tag. Is it worth checking for `request.URL.IsAbs()` at all? It feels like we can just always use `request.Host` if it's set since it should always be set on the server side. Or am I missing something in the docs you linked?

[2022-06-04 21:52] ramsay commented on #1236
You're correct, it should be sufficient to always use request.Host.

[2022-06-06 12:04] gbbr commented on #1321
Small update: 5000 local runs with the same DB server as the CI running in a Docker image. Could not reproduce. Perhaps SSH-ing into CI is needed.

[2022-06-06 12:04] gbbr commented on #1320
Small update: 5000 local runs with the same DB server as the CI running in a Docker image. Could not reproduce. Perhaps SSH-ing into CI is needed.

[2022-06-06 12:05] gbbr commented on #1319
Reproduced. Fix incoming.

[2022-06-06 12:08] gbbr commented on #1322
You're probably right. The default timeout for `route.Test` is 1s. I propose we try going with the default. 100ms was likely too short.

[2022-06-06 13:59] #1322 closed, assigned to nobody

[2022-06-06 18:49] #1236 closed

[2022-06-08 16:54] kaiquegarcia opened #1331 "question: can you make log.UseLogger public API?"
Hello everyone.
I think would be awesome if we could change the logger like you guys did in the tests, using the function `UseLogger`: https://github.com/DataDog/dd-trace-go/blob/87a049b142096148eee1c1aae57195aa2a6e3eae/internal/log/log.go#L41

But we can't do it, internal pkg means internal stuff indeed.
And we have a problem 'cause the current log pattern is way different from what we're using h

[2022-06-09 13:24] gbbr commented on #1331
Can you not use https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#WithLogger ?

[2022-06-09 16:44] kaiquegarcia commented on #1331
Hi @gbbr. I'm sorry, I forgot to mention I want to change the logger from `profiler` pkg.
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/profiler#Option

This `StartOption` doesn't work as `profiler.Option`.

[2022-06-09 17:00] nsrip-dd commented on #1331
I'll add that to the profiler to match the tracer 👍

[2022-06-13 13:47] nsrip-dd commented on #1321
RE: `nil` pointer dereference, the failure is because of calling `Rows.Close` on a `nil` pointer, because the rows are nil due to the error that shows up earlier in [the linked failure](https://app.circleci.com/pipelines/github/DataDog/dd-trace-go/3878/workflows/86cd2577-3e4d-43b8-b85c-f943f71b40dc/jobs/27790/tests#failed-test-0):

[code]

The problem is [here](https://github.com/DataDog/dd-trace-

[2022-06-13 16:44] knusbaum commented on #1128
👋 @nacho692 @deadok22

Looking into this. Thanks for the detailed information.

My initial inclination is to change this in the agent as @deadok22 suggests.

[2022-06-14 02:08] tonnyadhi opened #1335 "nancy scan for vulnerabilities on dd-trace 1.38.1"
I'm using dd-trace 1.38.1 on my project.

Sonatype nancy scan appeared to found 12 possible vulnerabilities from the dependencies that being used on dd-trace 1.38.1

Scanned using sonatype nancy 1.0.36

[2022-06-14 18:33] afarbos opened #1336 "ddtrace/tracer: DATA RACE for span duration `s.Duration`"
I detected a data race in the tracer library, here are the simultaneous read/write:
- Read: https://github.com/DataDog/dd-trace-go/blob/v1.38.1/ddtrace/tracer/span.go#L516
- Write: https://github.com/DataDog/dd-trace-go/blob/v1.38.1/ddtrace/tracer/span.go#L394

I would propose to move this lock https://github.com/DataDog/dd-trace-go/blob/v1.38.1/ddtrace/tracer/span.go#L521 to after the line https:

[2022-06-14 21:08] knusbaum commented on #1335
[code]
- Not a direct dependency. This is upstream's responsibility.
- Pulled in by github.com/hashicorp/vault/sdk, which still uses v3.1.10 (https://github.com/hashicorp/vault/blob/c47e659b493a228c4d85debed7942cbea5befda8/sdk/go.mod#L10)
- Fix applied in v3.4.3 (https://github.com/go-ldap/ldap/commit/0c919101349c6913d3a2027d0c218826f527e485)
- Do nothing for now

[code]
- Not a direct dependency.

[2022-06-15 10:38] venu-prasanna-tw opened #1340 "go.mod: upgrade gin-gonic to latest version to avoid vulnerability"
We are using the latest version of [gopkg.in/DataDog/dd-trace-go.v1@v1.38.1] which internally uses the gin-gonic library and the version is [github.com/gin-gonic/gin@v1.7.0] in go.mod

This has introduced snyk vulnerability **HTTP Response Splitting** with the following path:
_gopkg.in/DataDog/dd-trace-go.v1@v1.38.1 › github.com/gin-gonic/gin@v1.7.0_

**Snyk issue link**: https://security.snyk.io/

[2022-06-15 16:58] #1324 closed

[2022-06-16 16:56] rafi-fisker commented on #432
Could we make this logger configurable via env var?

Something like `DD_TRACE_LOG_LEVEL` ?

We are struggling with tracer log spam -
See https://github.com/DataDog/dd-trace-go/issues/945

We have never been able to work around these logs
![image](https://user-images.githubusercontent.com/72412693/174125253-c82af8ff-ddd5-4ae0-8b36-bde1bebaa87b.png)

[2022-06-17 14:54] andrea-vasapollo-cko opened #1345 "contrib/net/http: tag full URL on the RoundTripper"
Hello, sorry I read at a later point about how to open a PR.
We would like to have the full URL on the tag on the net/http/roundtripper.
The full URL is already used on the AWS session [url](https://github.com/DataDog/dd-trace-go/blob/f1b2983aa4b757e7607a7d2b330b7f4f872d7543/contrib/aws/aws-sdk-go/aws/aws.go#L67).
I think this clarify better the destination of the request instead of the just PATH.

[2022-06-19 11:07] mooyoul opened #1349 "contrib/net/http: Do not inject span context to http header carrier if aws siganture found"
Hello there.

Recently I've found a case that breaks aws sdk.
If wrapped http client was used for AWS SDK, HTTP Instrumentation attempts to inject span context to http headers right after request signing.
These injected headers were treated as non-signed header in first request and usually most requests are succeeded in first request. but if something went wrong (e.g. request timed out), aws sdk a

[2022-06-22 15:20] Hellzy opened #1352 "proposal: contrib/internal/httptrace: refactor span start options handling"
Options can be added to an existing slice of options either by either append'ing at the front or the back of the slice.
The current behaviour is that appending at the back will overwrite any similar option already present, while at the front
the option will get overwritten by any option already present.

TODO: refactor the way span start options are appended, discuss/normalise/rethink the "back/fr

[2022-06-24 07:08] gbbr commented on #1345
Hi there! This is being addressed in https://github.com/DataDog/dd-trace-go/pull/1350

[2022-06-24 13:15] andrea-vasapollo-cko commented on #1345
ah nice thanks @gbbr so it will be add also the http roundtrip as well correct? because this https://github.com/DataDog/dd-trace-go/pull/1344/files it will set the full URL on the http client

[2022-06-24 13:18] gbbr commented on #1345
Sure thing!

That PR is going to implement our internal cross-language policy for the `http.url` tag. If interested, please watch it and comment there to ask questions regarding the implementation because the author has the most familiarity with the issue.

I recommend you close your PR and work on this internal one instead.

[2022-06-24 15:47] #1216 closed

[2022-06-24 15:48] Hellzy commented on #1345
I modified roundtripper a bit to make use of the new internal/httptrace utilities for span tags normalisation. http.url should hold the full URL once https://github.com/DataDog/dd-trace-go/pull/1350 gets merged.

[2022-06-24 15:57] Hellzy commented on #1345
@andrea-vasapollo-cko I cherry-picked your change on https://github.com/DataDog/dd-trace-go/pull/1350, let me know if that works for you.

[2022-06-24 17:58] andrea-vasapollo-cko commented on #1345
All your mate thanks for that guys

[2022-06-27 15:21] prithvihv opened #1358 "Memory issue: trace sql drivers"
[code]

datadog traces is consuming more memory than application itself.

relevant code in question
[code]

[2022-06-27 18:35] #1312 closed

[2022-06-28 16:07] #1340 closed

[2022-06-28 21:59] ashishb commented on #507
Any details on how to configure and use DataDog with this - https://github.com/DataDog/dd-trace-go/issues/507#issuecomment-891479205

[2022-06-28 23:56] katiehockman commented on #507
This is in progress, but is not yet supported. Will provide updates here when a PR is out.

[2022-07-04 07:01] mswathi-tw opened #1368 "go.mod: upgrade dependencies to latest version to avoid vulnerabilities"
We are using the latest version of [gopkg.in/DataDog/dd-trace-go.v1@v1.39.1] which internally uses the following libraries:

gopkg.in/DataDog/dd-trace-go.v1@v1.39.0 › github.com/emicklei/go-restful@v0.0.0-20170410110728-ff4f55a20633
gopkg.in/DataDog/dd-trace-go.v1@v1.39.0 › github.com/labstack/echo@v3.3.10+incompatible
gopkg.in/DataDog/dd-trace-go.v1@v1.39.0 › github.com/tidwall/buntdb@v1.2.0 › gi

[2022-07-04 13:26] #1345 closed

[2022-07-05 13:45] xrn opened #1370 "contrib/elastic/go-elasticsearch: add support for elasticsearch v8"
Hey,

As new ES were released I would like to be able to use DD Tracing for it. Following fresh PR - https://github.com/DataDog/dd-trace-go/pull/1017 I am able to prepare new one.

Following https://www.elastic.co/support/eol - would be great to add ES8 support and deprecate ES6 (EOL 2022-02-10)

My PR: https://github.com/DataDog/dd-trace-go/pull/1363

[2022-07-06 07:47] CodapeWild commented on #965
// WithSpanID sets the SpanID on the started span, instead of using a random number.
// If there is no parent Span (eg from ChildOf), then the TraceID will also be set to the
// value given here.
func WithSpanID(id uint64) StartSpanOption

[2022-07-06 12:11] mackjmr commented on #1270
Hey [@juran-compass](https://github.com/juran-compass), there was an issue where the tracer mishandled the `x-datadog-parent-id` header set by synthetics.
A fix was shipped in tracer v.1.39. Please see: [#1285](https://github.com/DataDog/dd-trace-go/pull/1285).
Can you upgrade to v.1.39 and confirm this solves your issue ?

[2022-07-06 13:41] #1335 closed

[2022-07-07 00:49] ryan-yalo opened #1373 "It seems to be impossible to test setting a parent span in a `mocktracer`"
I'd like to set the option to add a parent span and then in my test suite assert that it was set correctly. Unfortunately due to this bit of code in the `mocktracer` package it appears to be impossible to do so.

<https://github.com/DataDog/dd-trace-go/blob/main/ddtrace/mocktracer/mockspan.go#L74>

I cannot create an instance of this private struct so that the cast will succeed, I can only set the

[2022-07-08 07:24] eleboucher commented on #1358
Hi,
I also noticed the same thing with a SQL transaction of 9m row, the traces were using 600MB + of ram (it was still increasing but my server ran out of memory), The only way the transaction worked was the remove the sqltrace. is there any way to send partial spans to help with that problem? or something else?

[2022-07-08 17:07] felixge commented on #1358
Would it be possible for you to share the pprof file for this? You can send it here https://help.datadoghq.com/hc/en-us/requests/new - mention my name, and ping this issue.

My first guess is that this could be a goroutine leak. So a goroutine profile would also be useful.

A potential workaround you could try to get rid of this one is:

[code]

[2022-07-11 13:28] eleboucher commented on #1358
Hey @felixge,

I sent you the requested file, you can see on my traces that sqlx.Rebind take most of the memory however when I disable dd-trace the memory is fine. I hope that can help you

[2022-07-11 14:26] felixge commented on #1358
@eleboucher thanks, I receipt the data! All profiles were generated while applying the same workload?

Looking at your data, I'm not surprised by this. Your issue might be different from @prithvihv. There is no `runtime/pprof.WithLabel` in your profiles.

Anyway, I'll ping you again once I know more.

[2022-07-12 08:55] felixge commented on #1358
@eleboucher I followed up with our support team and they should reach out to your shortly. But the gist is that tracing long-running transactions with many queries will create a large number of spans that can't be flushed to the agent until the transaction has been completed. This will cause increased memory usage.

I've given some specific advise for your situation in the ticket (avoid `sqlx.Rebi

[2022-07-13 11:07] xrn commented on #1370
@knusbaum can you take a look on this?

[2022-07-13 13:12] #1006 closed

[2022-07-13 13:51] #1222 closed

[2022-07-13 13:57] ajgajg1134 commented on #1223
Hello! Can you explain a bit more what your use case here is?

[2022-07-14 20:35] dominicfollett commented on #1222
Thank you @ajgajg1134 for your help all the same, I will do that.

[2022-07-15 12:38] piavgh opened #1384 "What is the difference between StartSpanFromContext and StartSpan with ChildOf option?"
Hi everyone,

What is the difference between 2 ways:
[code]

vs

[code]

And what is the preferred way to use it?

Thanks

[2022-07-18 10:01] C-Pro opened #1390 "Nested span leak?"
I have a long lived parent span, and produce many short lived spans from its context using `StartSpanFromContext`.
Looks like span objects are leaking despite i call `span.Finish()` for children spans as fast as I create new ones.

This code leaks memory fast: https://github.com/C-Pro/datadog-spans-test/blob/master/app/app.go

Output looks like this:
[code]

I expect child spans to be free for GC

[2022-07-20 19:19] ajgajg1134 commented on #1384
Hello @piavgh, there's no real functional difference between the two functions, they both will start a new span where their parent is `parentSpan`. As for preference I would say it's a matter of style, personally I think `StartSpanFromContext` reads a little more clearly as it follows the very common `context` is the first argument pattern, but it's a very minor difference.

The _only_ thing I can

[2022-07-20 19:19] #1384 closed

[2022-07-21 13:34] sumerc opened #1395 "profiler upload does always wait a second before retrying upload"
Interestingly, I have spotted this while I was reading the code below:

[code]

It seems that `wait` is not used anywhere. I think the line should be following?

[code]

[2022-07-21 14:50] nsrip-dd commented on #1395
Thanks, great catch! It looks like the randomized `wait` was introduced in #827, but it was lost by #961. Yes, it should be `p.interruptibleSleep(wait * time.Nanosecond)` to match the pre-#961 behavior.

[2022-07-21 15:12] #1395 closed

[2022-07-21 19:30] ajgajg1134 commented on #1373
👋 Hi @ryan-yalo, this does seem to be a bug/limitation. Can you provide some example code of what you're looking to do that doesn't work?

[2022-07-22 12:37] tomislater commented on #646
Hey, thanks for doing that! Is there any way to gather this information from metrics? I don't see such option. I want to check the traffic to a specific host/domain, but this is only available from traces, not from metrics 🤔

<img width="900" alt="Screenshot 2022-07-22 at 14 35 03" src="https://user-images.githubusercontent.com/1127164/180440262-e25bb20f-8545-4e94-a0e4-bf612c3f3892.png">

[2022-07-27 04:25] spandedius opened #1397 "contrib/segmentio/kafka.go.v0: resource name using generic writer (Writing to multiple topics) has no topic name"
The produce topic resource name has no topic name when a writer uses topic name from kafka.message
[code]
https://github.com/segmentio/kafka-go#writing-to-multiple-topics

I found that the kafka-go contrib lib uses writer's topic name only.
[code]
https://github.com/DataDog/dd-trace-go/blob/bac1cbcfb52424b6de30169cfa0eedc703e5a9fd/contrib/segmentio/kafka.go.v0/kafka.go#L130

Can this be changed to

[2022-07-27 15:15] a2ikm opened #1398 "contrib/net/http: Add new option to RoundTripper to ignore request"
# Overview

Please add a new option to RoundTripper in contrib/net/http to determine if an outgoing request tracing should be skipped.
This option should work like the following:

[code]

It is like `WithIgnoreRequest` for `ServeMux`.

# Background

I run a frontend server and a backend service. Both of them have endpoints for healthcheck to manage their container liveness. The frontend's one repl

[2022-07-28 08:57] eugenesinamban commented on #1201
I see support for go 1.12 is already dropped so I'm thinking of submitting a PR for this use case

[2022-07-28 12:37] dianashevchenko commented on #1390
Parent span holds references to child spans until all of the child spans are finished. Attached code showcases a parent span with continuously increasing number of child spans. I'd advise to avoid a parent span that lives indefinitely. Since parent span isn't modified, it might prove useful to instead add tracer options on spans and separate their creations, so that finished traces are flushed fre

[2022-07-28 12:37] #1390 closed

[2022-07-28 12:49] dianashevchenko commented on #1397
@spandedius thanks for the suggestion, I opened a PR for that 🙌

[2022-07-29 01:22] spandedius commented on #1397
Thanks a lot @dianashevchenko

[2022-07-29 04:31] C-Pro commented on #1390
I believe that should be at least mentioned in the docs. I can make a PR.

[2022-07-29 09:07] dianashevchenko commented on #1398
@a2ikm thanks for reaching out 🙌 I will open a PR shortly

[2022-08-01 11:32] #1397 closed

[2022-08-01 14:10] dianashevchenko commented on #1370
@xrn @ajgajg1134 will look at this shortly, thanks for reaching out 🙌

[2022-08-03 09:04] mrkagelui opened #1405 "contrib/internal/httptrace uses "inet.af/netaddr" which in turns imports go4.org/unsafe/assume-no-moving-gc"
Hi,

My app failed the test on the recent Go 1.19 because of `go4.org/unsafe/assume-no-moving-gc`, or rather because the current version used in this lib is not the latest, kindly check history of https://github.com/go4org/unsafe-assume-no-moving-gc/blob/main/untested.go for more info.

Here's part of my `go mod why`:

[code]

My question is: why is inet.af/netaddr used instead of the standard pac

[2022-08-03 10:02] Hellzy commented on #1405
Hi @mrkagelui

This package has several features that are interesting to us that std "net" doesn't have.
An example: https://github.com/DataDog/dd-trace-go/pull/1328#discussion_r893492940.

I'd say let's go ahead with the upgrade.

[2022-08-03 10:09] mrkagelui commented on #1405
thank you for the answer, will read

[2022-08-03 13:05] Hellzy commented on #1405
https://github.com/DataDog/dd-trace-go/pull/1406 was merged, closing. Thanks for this @mrkagelui.

[2022-08-03 13:05] #1405 closed

[2022-08-03 21:09] BradErz opened #1411 "Service name confusion when using contrib wrappers"
Im wondering if you can point me in the right direction or suggest the best way of setting the service name for the application but also for any integrations which we might use from the contrib package.

All of our services use the [unified service tagging](https://docs.datadoghq.com/getting_started/tagging/unified_service_tagging/?tab=kubernetes) and set the environment variables in their kuberne

[2022-08-04 02:21] a2ikm commented on #1398
Thank you!

[2022-08-05 13:12] mvisonneau opened #1413 "tracer: support injection/extraction of w3c trace-context headers"
We currently support [both proprietary & b3 header formats](https://docs.datadoghq.com/tracing/trace_collection/custom_instrumentation/go/#b3-headers-extraction-and-injection). With opentelemetry using [w3c trace-context](https://www.w3.org/TR/trace-context) by default, I reckon it could be interesting to support it as well.

For instance, this could be particularily useful when 3rd party implemen

[2022-08-05 13:22] mvisonneau commented on #1413
FWIW, here is how the propagation seems to work for the opentelemetry lib: https://github.com/open-telemetry/opentelemetry-go/blob/main/propagation/trace_context.go

[2022-08-05 15:00] ajgajg1134 commented on #1411
Hello! 👋 Thanks for this comment here, If you wouldn't mind sharing this also with datadog support directly: https://www.datadoghq.com/support/  so we can better track this internally. I will share that we've got some internal initiatives that are working to make this area a bit smoother to work with (and more consistent across all the variety of languages) So this feedback is really valuable.

As

[2022-08-05 15:32] #1336 closed, assigned to nobody

[2022-08-05 20:02] hbagdi commented on #1405
Is there a release planned including this fix?

[2022-08-06 04:51] mrkagelui commented on #1405
I think there's a milestone in that associated PR that says 1.41.0

[2022-08-08 17:51] hbagdi commented on #1405
I'm not very familiar with this repository's development and release timelines.
Is it possible to get this shipped as part of the patch release?
We want to move to Go 1.19 and this issue holds that up. This is the last blocker for us and possibly others in the community.

[2022-08-08 18:03] nsrip-dd commented on #1405
We have tagged a release candidate for v1.41.0 which contains this fix:

[code]

The full release should be out by the end of the week

[2022-08-08 18:08] hbagdi commented on #1405
Sweet. Thanks!

[2022-08-09 00:29] mrkagelui commented on #1405
an alternative is to force upgrade, `go get -u inet.af/netaddr`

[2022-08-10 07:34] DylanRJohnston-FZ opened #1418 "tracer: unaligned atomic operation causes panic"
I believe this to be related to the issue here https://github.com/DataDog/datadog-go/pull/260, as you can see from these logs,
![image](https://user-images.githubusercontent.com/107019337/183841825-ba7b2d13-9c6c-44e3-b1f8-c455374aacb1.png) ddtrace panics here https://github.com/DataDog/dd-trace-go/blob/03a3099b20dbf91212e2f85d2b1a636da4c140d5/ddtrace/tracer/spancontext.go#L212 because https://gith

[2022-08-11 14:37] dkuerner opened #1422 "contrib/mongo: make tagging of mongo query configurable"
Currently, the implementation of the datadog instrumentation will marshal the complete CommandStartedEvent and tag it as mongodb query.  Can we add an option to the monitor to omit the mongodb query to prevent leaking sensitive information?

[2022-08-13 07:13] amitavaghosh1 opened #1425 "Problems with understanding intergration of gorm and sql trace with mysql"
I have been trying to integrate gorm/v2 . For sqltracing.
I saw the example here: https://github.com/DataDog/dd-trace-go/blob/main/contrib/gorm.io/gorm.v1/gorm_test.go#L58

But are you sure this works? When I try it:

[code]

This doesn't work, because. `mysqlgorm.Config` expects a `gorm.ConnPool` where as the returned type is `*sql.DB` .

Have the tests not been. upgraded? or I mean, this is weir

[2022-08-13 07:27] #1425 closed

[2022-08-15 16:24] Ydot19 opened #1428 "tracer: add support for partial flushing"
### Description

Adding support for the following environment variables
- `DD_TRACER_PARTIAL_FLUSH_ENABLED`
- `DD_TRACER_PARTIAL_FLUSH_MIN_SPANS`

These variables are documented and available for ruby, python, and java dd trace libraries.

### Why

Currently working through a project where there is a long running process (can take 1hr+ for the process to finish). The process has a single root span

[2022-08-16 20:23] ajgajg1134 commented on #1418
Hello! Thanks for pointing this out to us. Elsewhere in datadog we've been moving to standardize on go.uber.com/atomic which should prevent these alignment errors. I've made an internal bug ticket for us to fix this.

[2022-08-17 15:57] darrenparkinson opened #1432 "contrib/database/sql: error with mssql when using FETCH. mssql: The number of rows provided for a TOP or FETCH clauses row count parameter must be an integer."
When I add sqltrace to my code, e.g.:

[code]

I receive the following error which I don't normally receive:

[code]

The SQL query I'm using looks a little like this:

[code]

Any thoughts on what I'm likely doing wrong greatly appreciated.
Many thanks.

[2022-08-18 02:20] nevesgustavo opened #1434 "[Mux] Using route with PathPrefix and SubRouter is not pushing trace"
Hey guys, I hope you are fine, I tried to use contrib/mux with PathPrefix and SubRouter but it's not publishing traces, only when I use a mux.NewRouter() without prefix and subRouter, could you please tell me what's the best approach to have PathPrefix and SubRouter with tracer.

[code]

[2022-08-18 14:44] mccutchen opened #1435 "contrib/net/http: NewServeMux does not respect WithResourceNamer option"
The NewServeMux wrapper in the contrib/net/http package takes a slice of Options, but if the WithResoureNamer option is given it is ignored and a hard coded resource name is always used instead:
https://github.com/DataDog/dd-trace-go/blob/50bd7cebbd482284c99e41321495ac610990269a/contrib/net/http/http.go#L47-L53

[2022-08-18 15:04] nevesgustavo commented on #1434
Hey Guys, I it's working now and I'm going to close this question, I used:
[code]

[2022-08-18 15:04] #1434 closed

[2022-08-22 17:37] rlewis-grax opened #1441 "proposal: profiler: enable arbitrary setting of host field"
Host is currently calculated from domain name in the profiler while many parts of the Datadog API allow arbitrary setting of the host field/tag. Adding a "WithHost" option to the profiler would enable much better flow across DD features.

[2022-08-22 17:55] nsrip-dd commented on #1441
Hello, thanks for opening this issue! I will add `WithHostname` to match the [tracer](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#WithHostname).

[2022-08-22 18:17] #1441 closed

[2022-08-24 07:30] melvinkcx commented on #1287
+1

[2022-08-26 21:45] Ydot19 commented on #1428
Any updates on this issue

[2022-08-29 13:52] #1314 closed

[2022-08-29 22:42] alexdulin opened #1451 "mocktracer: v1.41.0 breaks mocktracer and user attribute information"
The changes in v1.41.0 break user monitoring with the `mocktracer`, as the properties are now on the span's `Meta` field and not tags. Take the following code example:

[code]

With dd-trace-go v1.40.1, that code outputs:
[code]

And with v1.41.0:

[code]

This makes any tests using `mocktracer` related to adding user information break when upgrading to v1.41.0

[2022-08-29 22:54] nathan-genies opened #1452 "contrib/99designs/gqlgen: bump version in go.mod"
Hello,

We're trying to leverage the tracing library for 99designs but looks like the current code is not compatible with the latest 99design release. Could you take a look and maybe use vendor/ to provide a stable release? Thanks!

[code]

[2022-08-31 20:08] evanlurvey opened #1455 "Cannot Use http.WrapClient() with Go 1.19"
When trying to wrap a HTTP client in go 1.19 I get this panic

[code]

Souce Code
[code]

[2022-09-01 12:10] nsrip-dd commented on #1455
This is fixed in dd-trace-go version v1.41.0.

[2022-09-01 12:21] evanlurvey commented on #1455
Ah that’s my bad. I should have checked version

[2022-09-01 12:21] #1455 closed

[2022-09-01 16:31] david-alza commented on #1452
Just jumping in to say we're facing the same thing when trying to add this (we're on gqlgen v0.17.16).

I wonder if there was a specific reason to integrate this originally against v0.14? https://github.com/DataDog/dd-trace-go/commit/39187837f89f4f2b8e21ec9660b50ff9231208f4#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R7

[2022-09-02 16:11] katiehockman commented on #1452
Thanks for filing an issue and sending a PR 👍

[2022-09-02 16:33] katiehockman commented on #1451
@Hellzy it looks like this is due to the changes made in the PR you merged a few weeks ago: https://github.com/DataDog/dd-trace-go/pull/1387/files#diff-ad86e517e9501587fea706a500cf65dbf92b14f3c3bfc3f821194125a3c79d46.
Can you take a look to see what we can do here? Is this an intentional side effect of your PR?
I'm not sure that there's anything we can do in the `mocktracer` explicitly, but LMK if

[2022-09-02 16:38] katiehockman commented on #1435
Thanks for filing the issue and for the PR 👍

[2022-09-02 16:54] katiehockman commented on #1432
Nothing with your setup looking obviously incorrect to me. What does `cfg.db.dsn` resolve to? It's [possible the DSN is not supported](https://github.com/DataDog/dd-trace-go/blob/main/contrib/database/sql/internal/dsn.go#L36).

My suggestion would be to reach out to the support team via https://www.datadoghq.com/support so they can gather all of the necessary details about your setup and try to he

[2022-09-02 16:56] katiehockman commented on #1428
Hi @Ydot19 - thanks for bringing this to our attention.
We'd like to work on this feature in the next few months, but if you'd like to send a PR over, we'd be happy to review it.

[2022-09-02 16:57] katiehockman commented on #1422
Thanks for filing this @dkuerner. We'll review and get back in touch on this issue.

[2022-09-02 18:57] katiehockman commented on #1413
Thanks for the suggestion. We'll take a look and get back in touch.

[2022-09-02 19:15] katiehockman commented on #1368
@mswathi-tw We require the lowest possible version of each dependency in our `go.mod` file which has the features needed for our library to work. The versions in the `go.mod` file are the *minimum* required version to use our library, but anyone who uses gopkg.in/DataDog/dd-trace-go.v1 can raise the version in the `go.mod` file of their project as they feel appropriate.

[2022-09-02 19:15] #1368 closed

[2022-09-06 10:15] Nitjsefni7 opened #1458 "Vulnerability for dd trace v1.40.1, update labstack/echo to v4.9.0"
See:
[labstack/echo/issues/2259](https://github.com/labstack/echo/issues/2259)

Vulnerability:
[sonatype-2022-5436](https://ossindex.sonatype.org/vulnerability/sonatype-2022-5436)

originated from `labstack/echo/v4@v4.2.0`

Using
```replace github.com/labstack/echo/v4 v4.2.0 => github.com/labstack/echo/v4 v4.9.0```
for now.

[2022-09-06 14:18] ajgajg1134 commented on #1458
Thanks for the heads-up, It's not well documented currently (I will create a PR shortly), but dd-trace-go tries to support the lowest possible version for `contrib` packages so that users of dd-trace-go are able to use whatever version they desire*. It looks like you've also already identified a fix for your service using the `replace` directive. (And users who are not using `labstack/echo` are un

[2022-09-06 14:18] #1458 closed

[2022-09-06 14:38] ajgajg1134 commented on #1219
👍 That's definitely a good point, unfortunately since removing it would be a breaking change it's not something we can do without releasing a new major version. I'll add some labels to this issue to track it as something we should do for `v2`.

**For those stumbling on this thread, the tl;dr**: if you aren't using `jinzhu/gorm` you are not affected. If you are using `jinzhu/gorm` you should move t

[2022-09-06 15:19] #1201 closed

[2022-09-15 16:38] #1418 closed

[2022-09-15 19:56] froodian opened #1469 "goroutine leak from github.com/golang/glog.(*loggingT).flushDaemon since 1.35.0"
I verified that this issue is not present using dd-trace-go 1.34.0. When I update my go.mod to `gopkg.in/DataDog/dd-trace-go.v1 v1.42.0` and run `go mod tidy` / `go mod download`, it adds a `github.com/golang/glog v0.0.0-20160126235308-23def4e6c14b // indirect` reference to my require section, after which my `go.uber.org/goleak` tests start failing with

[code]

even a minimal test such as

[code]

[2022-09-15 20:48] nsrip-dd commented on #1469
Hi, this is a known issue (see https://github.com/DataDog/dd-trace-go/issues/1153). Unfortunately we get this dependency transitively through `github.com/DataDog/datadog-agent/pkg/obfuscate`, which in turn brings in `glog` through an abandoned package which is no longer receiving updates. There have been previous attempts to remove the dependency but as far as I'm aware it hasn't been removed yet.

[2022-09-15 21:02] froodian commented on #1469
Ok, thanks for the reply and workaround @nsrip-dd

[2022-09-15 21:02] #1469 closed

[2022-09-20 02:44] vadimi commented on #697
pgx v5 finally added tracing capabilities - https://github.com/jackc/pgx/blob/master/tracer.go, so it should be now possible to implement this integration

[2022-09-20 14:56] katiehockman commented on #1422
The Agent does perform obfuscation for MongoDB queries today, is that not working at all, or is it insufficient?

Please reach out to https://www.datadoghq.com/support/ with as many details as you can, and they can help you look into this, and route back to us if needed. Thanks!

[2022-09-20 14:59] #1422 closed

[2022-09-20 19:55] nyadav810 opened #1473 "ddtrace/tracer: DATA RACE for span Resource `s.Resource`"
I have observed a data race in the tracer library, between `applyPPROFLabels` and `setMeta` (which is marked not safe for concurrent use):

- Read: https://github.com/DataDog/dd-trace-go/blob/main/ddtrace/tracer/tracer.go#L523
- Write: https://github.com/DataDog/dd-trace-go/blob/main/ddtrace/tracer/span.go#L316

Proposed solution:
1. `RLock` `localRootSpan` after [line 518](https://github.com/Data

[2022-09-21 14:44] ajgajg1134 commented on #1452
Resolved in #1457

[2022-09-21 14:44] #1452 closed

[2022-09-21 14:46] ajgajg1134 commented on #1270
Hello 👋  We're going to close this for inactivity.

If you're still having issues with this feel free to open an issue with [Datadog Support](https://www.datadoghq.com/support/) (or if you've identified a bug in dd-trace-go, re-open this issue!)

[2022-09-21 14:46] #1270 closed

[2022-09-21 14:50] Hellzy commented on #1451
Sorry about the delay, taking a look.

[2022-09-21 16:31] #1331 closed

[2022-09-21 18:47] danitrod opened #1478 "Unable to build dd-trace-go on macOS x86_64"
I'm setting up a Go project in my Mac with i7 processor, and getting the following error when running `go run -race -ldflags="-s -w" -tags appsec cmd/main.go`:

[code]

I'm assuming this is related to the package, I apologize if not.

[2022-09-22 07:20] Julio-Guerra commented on #1478
Hello,

Sorry about this issue.
Could you please try again with the latest version of dd-trace-go instead of v1.37.0? We fixed a similar link issue in the versions that followed.  And if it still happens, we would like to know what version of xcode you have on your machine so we can reproduce it.

Thanks a lot

[2022-09-22 13:26] danitrod commented on #1478
Thank you for the help.

I tried with the new version, and same output:
[code]

Xcode version:
[code]

[2022-09-22 15:04] Julio-Guerra commented on #1451
We worked on a solution today with @Hellzy. I will push a PR tomorrow.
In the meantime, feel free to downgrade your dd-trace-go version to v1.40.1 where we didn't do the user id propagation yet that is causing the mocktracer not to see those tags anymore.

[2022-09-22 16:23] Hellzy commented on #1451
Hi @alexdulin 👋, @Julio-Guerra and I have been discussing a solution for this. Julio will probably be the one taking care of this, we will keep you posted.

@katiehockman we will probably need to make modifications to mocktracer in order to ensure consistency between tracer and mocktracer behaviours regarding user identification.

It is not, although this shone a light on the fact that `SetUser()`

[2022-09-22 18:24] dalmarcolucas commented on #1368
Hello!

If I raise the version of one of the depencies in my go.mod, the "go mod tidy" command removes, as it seem not to consider being used. This seems to be happening only on datadog pkg.

[2022-09-22 19:47] Julio-Guerra commented on #1478
Thanks a lot for trying.
We will fix the issue in the upcoming days and take some time to understand the reason once and for all.
This seems to be due to the stripping of the debugging information of this library.

In the meantime, I can propose you to build and run your program on the [`golang`](https://hub.docker.com/_/golang) docker image in order to get it built for linux instead which doesn't

[2022-09-22 19:59] dalmarcolucas commented on #1368
It is considered as if there is no dependency:

![image](https://user-images.githubusercontent.com/17152587/191839344-7cb47a22-13da-4513-8905-b05151188f58.png)

Indirect dependencies on other packages are correctly considered:

![image](https://user-images.githubusercontent.com/17152587/191839635-b910c06c-f3f5-40fe-af58-5ad8dd8ef68f.png)

[2022-09-23 12:55] Julio-Guerra commented on #1478
@danitrod, we could reproduce the problem and fix it.

Could you please confirm it works for you too?
To do so, you can go get the branch  `fix-libddwaf-stripping` by doing `go get gopkg.in/DataDog/dd-trace-go.v1@fix-libddwaf-stripping` and then recompile your program.

Thanks

[2022-09-26 02:29] danitrod commented on #1478
It works! Thank you so much :)

[2022-09-26 07:27] felixge commented on #1473
Thanks for the report and sorry for the delayed response. I'll investigate. If you have more information on how to reproduce this, please share. I assume you used the `-race` detector against your test suite?

[2022-09-26 08:50] felixge commented on #1473
Ok, my initial attempts to reproduce this by running the related package tests under the `-race` flag have no yielded any race detector complaints.

I'm leaving this open for now, but will need some more details on how to reproduce this in order to provide a solution.

[code]

[2022-09-26 09:35] #1478 closed

[2022-09-26 13:47] Julio-Guerra commented on #1478
I just released [v1.42.1](https://github.com/DataDog/dd-trace-go/releases/tag/v1.42.1) with the fix.
Thanks for your help @danitrod and reporting the issue to us.

[2022-09-27 08:37] pbzweihander opened #1482 "contrib/k8s.io/client-go/kubernetes: Resource names are not set properly"
Kubernetes wrapper uses [`RequestToResource`](https://github.com/DataDog/dd-trace-go/blob/v1.42.1/contrib/k8s.io/client-go/kubernetes/kubernetes.go#L56-L89) function to generate resource name. And `RequestToResource` function assumes URL path starts with [`/api/v1`](https://github.com/DataDog/dd-trace-go/blob/v1.42.1/contrib/k8s.io/client-go/kubernetes/kubernetes.go#L21). This assumption seems to

[2022-09-28 12:30] dalmarcolucas commented on #1368
@mswathi-tw did you manage to update the dependencies?

[2022-09-28 19:46] #1451 closed

[2022-09-28 20:01] #1435 closed

[2022-09-28 20:55] ajgajg1134 commented on #1482
Good catch, it seems like for the most popular endpoints this approach works but I do see for example the `events` endpoints don't match this formatting and will end up with a resource name that is just the HTTP Method.
e.g. `/apis/events.k8s.io/v1/namespaces/default/events`. Do you have your own code example that isn't working alongside the resource name that you are expecting?
I've created a bug

[2022-09-29 03:16] pbzweihander commented on #1482
According to the Kubernetes reference (https://kubernetes.io/docs/reference/using-api/#api-groups), only the core group APIs start with `/api/v1/`, and the named group APIs start with `/apis/{group}/{version}/`. So every Kubernetes API except the core group will not work.

[2022-09-29 11:06] josesa opened #1490 "Add additional information for AWS traces (SNS/SQS)"
The existent tracing for the `aws-sdk-go` seems limited and missing some important information: for example, when instrumenting SNS and SQS calls.

Tracing information for an SNS Publishing event
[code]

SQS:
[code]

While this information can be useful, I wonder why one of the most important information is missing: the topic or queue name.

Probably because the AWS instrumentation is quite generi

[2022-09-30 00:54] mohamedpsc opened #1491 "contrib/google.golang.org/grpc/client Ignored Methods option for Unary Client Interceptor is not Respected"
I am trying to ignore creating spans on the grpc client using within the grpc DialOption as follows
[code]
However these methods are not being ignored. it is working fine on the server side although I am using the same values for the ignoredMethods.

I was using `gopkg.in/DataDog/dd-trace-go.v1 v1.39.0` when I was having this issue
I also updated to `gopkg.in/DataDog/dd-trace-go.v1 v1.42.1` but th

[2022-09-30 07:10] NicklasWallgren opened #1492 "[Question] How to get hold of service, env, trace id, span id from span"
How do one get hold of `service`, `env`, `trace id` and `span id` from the current span?

`tracer.span` implements `fmt.Formatter` which builds a string of the mentioned fields, but I need to get hold of a map, or struct containing the fields.

The end goal is to pass the fields to our (zap or logrus) logger, i.e
[code]

[2022-09-30 07:30] NicklasWallgren commented on #1492
So the following should work for TraceId and SpanId. Do we need to pass `dd.env` and `dd.service` as well?

[code]

[2022-09-30 19:27] ajgajg1134 commented on #1492
I see your overall intent seems to be to connect spans to logs, we do have an integration for logrus already that may simplify that case here: https://github.com/DataDog/dd-trace-go/tree/main/contrib/sirupsen/logrus (or you can look at the source code for some inspiration on how to do something similar for `zap`. (And if you do and are interested in contributing it to this repository we're open to

[2022-09-30 20:01] ajgajg1134 commented on #1490
I'm not aware of a specific reason that this data isn't included in our trace wrapper. If I had to hazard a guess it's likely since we're wrapping the entirety of the aws sdk so there just hasn't been an ask or work done to enhance the tagging further.

I don't see any downsides to this information being included when available as new tags on these spans. I can take this in as a feature request he

[2022-10-01 10:14] NicklasWallgren commented on #1492
@ajgajg1134 Thanks for the reply.

Zap dosen't support logging contextual metadata yet https://github.com/uber-go/zap/issues/654, but I guess a can add my own implementation.

[2022-10-01 10:14] #1492 closed

[2022-10-01 23:27] mohamedpsc commented on #1491
We do have a couple of grpc methods that we don't want to trace and we are using this option on server side to ignore them however we are not able to do so on the client side so we end up having traces for them on Datadog for just the client call

[2022-10-04 14:55] ajgajg1134 commented on #1491
Hello! We're currently evaluating some options for how to approach this:
1. Change `WithIgnoredMethods` to also ignore client-side spans
    Almost certainly won't do this one since it would break backwards compatibility
2. Add a new thing `WithClientIgnoredMethods` that only works for client-side ignoring
3. Wait, release a single option that works for server and client in v2
4. Mark `WithIgnored

[2022-10-04 14:58] katiehockman commented on #1413
We plan on doing this in the coming quarter or two, so we will mark this as accepted.

[2022-10-04 18:13] ajgajg1134 commented on #1358
Hello! 👋  I think @felixge has given some great pointers here. I'll just add that one area that may help here is "Partial Flushing" #1428 (TL;DR send completed spans before the entire trace is complete). This can relieve memory pressure caused by large, long running traces with many shorter spans that are currently hanging around in memory.
This feature is something on our rough roadmap but not so

[2022-10-04 21:52] josesa commented on #1490
I gave a quick look and the biggest issue seems to be the lack of consistent place to get this information.

For example, for SQS:
[code]
has the queue address

But for SNS the value is in
[code]

I can imagine that for all other resources it would be all over the place.

[2022-10-06 01:43] kevin521 commented on #987
Any resolution on this? We're trying to clean up our APM and only have 500s for our echo implementation.

Happy to help in any way to get the PR merged.

[2022-10-06 16:04] ewhauser opened #1500 "contrib/net/http doesn't support extraction of trace headers"
Unless I'm missing something, it appears that the `TraceAndServe` handler wrapper only ever creates new spans and doesn't look for any incoming headers:

https://github.com/DataDog/dd-trace-go/blob/main/contrib/net/http/trace.go#L50

[2022-10-06 16:54] #1500 closed

[2022-10-12 10:15] mingrammer opened #1513 "tracer/option: validate the empty string option"
Some StartOptions receive the value as a string without any validations. So there is a possibility of overwriting the already resolved values with an incorrect value. (empty string in this case)

For example, if we pass the empty string to `WithAgentAddr` the resolved `agentAddr` (by environment variables or default values) will be the empty string. And it causes the "no host" errors. The empty st

[2022-10-12 13:53] ajgajg1134 commented on #1513
So I'm not sure that we actually want to restrict using the empty string for all these option. Typically any config values provided in code via the `With*` options are considered the highest priority. It also seems that there are valid use cases where one would want to override any previously seen config value with the empty string and would be unable to do so with these changes.

I think it makes

[2022-10-18 22:48] devillexio opened #1520 "contrib/dimfeld/httptreemux/v5: Add support for dimfeld/httptreemux"
We use [dimfeld/httptreemux](https://github.com/dimfeld/httptreemux) as our router. Unfortunately there is no direct Datadog tracing support for `dimfeld/httptreemux`.

I would like to propose adding support for Datadog tracing to the `dimfeld/httptreemux` project. This would allow us to easily instrument our router based on `dimfeld/httptreemux`, as well as other folks that also use this router.

[2022-10-19 15:36] mstumpfx commented on #1168
I've been running into this same problem while trying to propagate. It would be nice to move the span initialization to the build phase as @aidansteele suggests, so the custom downstream extracted span could be a child aws call.

My current workaround, to avoid the dangling `aws.lambda` operation, is to just remove this span from being created for requests of this operation type (and others servic

[2022-10-19 18:13] adawalli commented on #1023
The fact that this is hard-coded goes against the defaults that are now used in the helm chart for agent deploys: https://github.com/DataDog/helm-charts/blob/main/charts/datadog/values.yaml#L355

8126 is not even exposed by default anymore - the Unix socket is used!

[2022-10-19 18:35] gaston-haro opened #1525 "Why is this not "http.client.request" instead of "http.request"?"
https://github.com/DataDog/dd-trace-go/blob/24176ebb009f325d69e3d422ebbba972f06071db/contrib/net/http/roundtripper.go#L45

Is there any agreement on how to name incoming vs outgoing operations? I though it should be `http.request` for incoming requests and `http.client.request` for outgoing. Can you provide any clarification on the criteria?

Thank you

[2022-10-20 10:06] NicklasWallgren commented on #1358
Related to this, does the `dd-trace-go` support [`TraceInterceptor`](https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-api/src/main/java/datadog/trace/api/interceptor/TraceInterceptor.java), as the dd-trace-java does?

We wan't to be able to filter/drop spans in long-lived queue jobs.

[2022-10-20 17:09] bradley-wh-cko commented on #1158
I think for now ive come up with a workaround.. i don't like it but needs must I guess..

[code]

is there any update internally about the consistency of this?

[2022-10-20 17:11] bradley-wh-cko commented on #1525
There is another issue already open about this.

https://github.com/DataDog/dd-trace-go/issues/1158

I posted a potential horibble hacky workaround which seems to work.

[2022-10-20 17:15] gaston-haro commented on #1158
I've seen that some instrumentations are using `web.request` for incoming requests (a.k.a `server`) and `http.request` for outgoing (a.k.a `client`) requests. I personally found ok any of the naming conventions the problem for me is inconsistency.

[2022-10-20 17:16] gaston-haro commented on #1525
Thank you @bradley-wh-cko ! I will close this then so we have a common place for discussion.

Closing as duplicate of #1158

[2022-10-20 17:16] #1525 closed

[2022-10-20 23:41] vilterp opened #1534 "Help with Julia profiling support?"
Hi folks, I know this is an unusual request and not quite the right place; just hoping for a pointer or two 🙏

### Motivation

My company, RelationalAI ([GitHub](https://github.com/RelationalAI/), [Website](https://relational.ai/)) has a complex server written in Julia, and uses Datadog heavily for observability, including writing our own datadog [metrics](https://github.com/RelationalAI-oss/Serve

[2022-10-22 11:01] shawkyHS commented on #1413
@katiehockman Is there any update regarding this feature ?

[2022-10-22 14:42] mrkagelui commented on #697
if no one else has time, I'll try to tackle this

[2022-10-24 15:11] katiehockman commented on #1413
@shawkyHS there are no updates currently, but this is a high priority goal for us, and the team will provide updates once work is underway. 👍

[2022-10-24 17:44] ajgajg1134 commented on #1534
Hello! This sounds like an interesting request here, I'm not sure what requirements we have on the pprof files that is making them not appear in the UI for you. I think your best option here is to [open a ticket with Datadog Support](https://www.datadoghq.com/support/) directly. That way it can be directed to profiling teams that may be able to assist you in getting your Julia pprof files uploaded

[2022-10-25 12:02] vilterp commented on #1534
Ah, whoops. Updated it to be a julia profile: https://github.com/vilterp/DatadogProfileUploader.jl/blob/9f176cdea2ac766e7d0941279e5b9a1b7a553147/test/cpu.pprof

Glad to hear it's reached the team, thanks! 🙏

[2022-10-25 12:33] nsrip-dd commented on #1534
:wave: This is the first I've heard of Julia's profiling capabilities, that's really cool!

In the request example you've shared, you say it's from the Julia client, but it's the user agent is [`Go-http-client/1.1`](https://gist.github.com/vilterp/92978cf5441b6794f64dda81749afeec#file-julia-dd-request-txt-L2). Is that actually from the dd-trace-go fork, or did you have your Julia client set that u

[2022-10-25 12:45] vilterp commented on #1534
In that one I had my Julia client set the user agent — was just trying to make it look as much like Go as possible, in case there was some user agent check on the datadog side 😛

[2022-10-25 14:27] NicklasWallgren opened #1538 "proposal: Support for TracingInterceptor"
We would like to see support for a [TraceInterceptor](https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-api/src/main/java/datadog/trace/api/interceptor/TraceInterceptor.java), similar to `dd-trace-java`.

We are currently utilising TraceInterceptor to drop/filter certain spans in long-lived queue jobs.

[2022-10-26 07:02] VinhVu95 commented on #849
Any updates on this issue? looks like it has not been address on the latest release of `contrib/gorm.io/gorm.v1`

[2022-10-26 14:22] katiehockman opened #1542 "contrib/google.golang.org/grpc: TestServerStatsHandler index out of range"
May have a potential flake for the contrib/google.golang.org/grpc TestServerStatsHandler test. This failure popped up in CI:
https://github.com/DataDog/dd-trace-go/actions/runs/3329717357/jobs/5507283724

[code]

[2022-10-26 14:30] PhilipJovanovic opened #1543 "contrib/phi: new contribution"
Hey, i've made a fork of go-chi callen "phi" and i'm not able to use the contrib/go-chi middleware for tracing with the datadog profiler.

I accidentally already made a pull request with only a few files changed, since the middleware itself should be replaceable with the forked version so i just needed to rename the go-chi middleware

[Pull Request](https://github.com/DataDog/dd-trace-go/pull/1541

[2022-10-26 14:38] #1141 closed

[2022-10-26 18:28] #1491 closed

[2022-10-27 07:06] felixge commented on #1534
I took a closer look. Specifically:

1. I confirmed that I can upload your [cpu.pprof](https://github.com/vilterp/DatadogProfileUploader.jl/blob/9f176cdea2ac766e7d0941279e5b9a1b7a553147/test/cpu.pprof) example using an (unofficial) [CLI tool](https://github.com/felixge/dd-prof-upload) of mine. It shows up in the UI.
2. I looked at the [multipart message](https://gist.github.com/vilterp/92978cf5441

[2022-10-27 07:58] vilterp commented on #1534
Thanks for taking a look Felix! I did get a 200 from posting to the service directly, so I think my API key was correct, but maybe something else was wrong… Will try sanity checking a bit more. I'm guessing there's some asynchronous processing/indexing happening before profiles show up in the UI, so errors may not be evident immediately?

Thanks for linking to the CLI tool; it's very helpful to se

[2022-10-27 08:41] felixge commented on #1534
Yes, there is a chance it's getting stuck in the pipeline on our end. But I just don't see why, your request looks fine🤔 . But if you can't figure it out, I can try to see if I can hunt down any internal errors.

[2022-10-27 19:13] katiehockman opened #1547 "tracer: Flush doesn't flush stats"
See https://github.com/DataDog/system-tests/issues/596 for more context.

It appears that `Flush()` will flush some data, but won't flush stats. This is causing issues in the parametric tests. We should investigate if there's a good reason for this on the Go tracer side, or if this is just a bug.

[2022-10-27 21:31] josesa commented on #1490
I gave this another look and one thing that I wonder is the lack of options in  `aws` package integration.

`WrapSession` options are limited and `Send` has the `StartSpanOption` hardcoded.

To make it more flexible, would it make sense to allow the pass of more `StartSpanOption` as options of the `aws` wrapper? That would at least make it flexible and perhaps mitigate this issue.

[2022-10-28 09:18] mackjmr opened #1548 "contrib/google.golang.org/grpc: Flaky TestStreamSendsErrorCode"
`TestStreamSendsErrorCode` appears to be flaky. It didn't pop up in CI but @ajgajg1134 and I were able to see it fail locally:
[code]

[2022-10-28 09:20] josesa commented on #1490
Anyway, kind of worked around it with:

[code]

[2022-10-28 10:42] vilterp commented on #1534
I think I found the issue, and it was date-related after all — for the `start` and `end` parts,
* Go was sending in the format `2022-10-27T23:55:24+02:00`
* I was sending in the format `2022-10-28T00:12:54Z`

I could have sworn I checked this before!

Anyway, the profiles seem to be showing up reliably now, so I think I'm unblocked — just going to continue to iterate on https://github.com/JuliaPer

[2022-10-28 10:42] #1534 closed

[2022-10-28 13:30] butchmarshall opened #1551 "Pass trace headers through context object"
I want to be able to place the distributed tracing header into the context without starting a new span.

My current architecture is as follows:

1. Extract trace headers and push to to kafka headers
[code]

2. Consume message from Kafka, extract ddtrace info from kafka headers and place them into message context `(fails here)`
[code]

3.  In message handler function, start new span from context
[c

[2022-10-31 14:25] taltcher opened #1553 "APM Client IP Tracing"
I would like to open a feature request to keep the client IP as part of the APM tracing as well and not just having it in ASM - since it still enable us to measure some trends or suspicious activity only by having this tag

[2022-10-31 15:32] #1023 closed

[2022-10-31 20:45] nsrip-dd opened #1554 "profiler: WithAgentAddr doesn't appropriately override UDS client from DD_TRACE_AGENT_URL"
The following test fails with a timeout:

[code]

If we start the profiler with the `WithAgentAddr` option, that in-app config should take precedence over the environment variable. However, providing a Unix domain socket path to `DD_TRACE_AGENT_URL` causes the profiler to use an `http.Client` with a UDS transport in [`defaultConfig`](https://github.com/DataDog/dd-trace-go/blob/6b6a35446eee2a06e6d1

[2022-11-03 07:43] titanabrian commented on #865
Hey, thanks for your PR @dianashevchenko, I really appreciate that.
I have a question after skimming through your PR,
In your PR, seems it does not include the changes for echo/v4 to have this feature, Are you planning to include the changes in this PR as well? Thanks

[2022-11-03 08:50] Julio-Guerra commented on #1553
Hello,

Thanks for letting us know.

You should definitely try ASM for Go which would show you all the attack attempts we detect on your service.

Adding some extra context here for the @DataDog/tracing-go team:
1. dd-trace-rb and dd-trace-java already decided to keep this feature available in the tracer alone, gated behind an env var. I asked @lloeki to further specify this into the `http.client_

[2022-11-04 14:13] mackjmr commented on #1554
Yes, there is the same behaviour on the tracer. If `DD_TRACE_AGENT_URL` is set to a valid UDS path, then we will use a UDS transport even if `WithAgentAddr` is set -- calling `WithAgentAddr` won't override the client.

In the tracer, this has the same behaviour as setting `DD_TRACE_AGENT_URL` and `WithAgentAddr`: if they are both set, then we use a UDS transport.

Perhaps the fix could address bot

[2022-11-04 14:34] nsrip-dd commented on #1554
I considered that as well. I think this is an unfortunate downside of using functional options. I think it would be okay if we have WithAgentAddr override the client if it was previously UDS. It's mainly important that we're consistent about whether in-code config takes precedence over environment variables. If a user supplies both of those options in the app, in either order, I'd consider that to

[2022-11-05 17:28] titanabrian commented on #865
Hi @knusbaum @gbbr, I'm interested in working on this issue, I saw 2 PR in the past that seem abandoned, I've tried to branch out from their branch but a lot of merge conflicts with the main branch. Can I create a new fresh PR, I will copy and paste the code from [https://github.com/DataDog/dd-trace-go/pull/875](https://github.com/DataDog/dd-trace-go/pull/875) and [https://github.com/DataDog/dd-tr

[2022-11-06 00:43] akaiserg commented on #1478
Hello,  I  don't know if my problem is related to this issue.  I'm using the version v1.43.1 of the library.

go version go1.17.8 darwin/amd64

The error I've got is:

go run -tags appsec cmd/http/main.go
...
..
# gopkg.in/DataDog/dd-trace-go.v1/internal/appsec/waf
...
..
"vtable for std::__1::basic_stringbuf<char, std::__1::char_traits<char>, std::__1::allocator<char> >", referenced from:
      L

[2022-11-06 22:54] Julio-Guerra commented on #1478
@akaiserg, thanks for letting us know.

Could you please tell us what macOS and clang versions do you use?
You can get clang's with `clang --version`.

We'd also love to see the full compilation logs with `go run -x -tags appsec cmd/http/main.go`. This will allow us to see what compiler is being used and how.

Thanks,
Julio

[2022-11-07 11:40] dianashevchenko commented on #865
Hi there, indeed priority regarding that issue was changed, and so wasn't in progress. You are free to open a new PR, feel free to ping me there directly and I will review your changes 🙌

[2022-11-07 14:28] nicoledanuwidjaja commented on #865
@titanabrian Not a problem - happy to take a look at the PR 😄

[2022-11-08 00:12] akaiserg commented on #1478
No problem @Julio-Guerra,  the result for the command was:
[code]

When I ran the project , the result was

[code]

I tried with version v1.38.1 and worked well. For now I'll  keep this version for now. Thanks in avance!

[2022-11-08 00:12] akaiserg commented on #1478
No problem @Julio-Guerra,  the result for the command was:
[code]

When I ran the project , the result was

[code]

I tried with version v1.38.1 and worked well. For now I'll  keep this version for now. Thanks in avance!

[2022-11-08 08:28] Julio-Guerra commented on #1478
Thanks @akaiserg. We now better understand what's going on: you are on an older macos version than the one we build our libddwaf with. macos-10.15 being deprecated, do you think you could upgrade to macos 11 (big sur) at least?

In the meantime, I am discussing with our libddwaf maintainer to see what can we do regarding backward compatibility.

Best,
Julio

[2022-11-10 12:09] mohamedpsc commented on #1491
@ajgajg1134 any ETA for releasing this change? I still can't see it included in any the latest release. am I missing anything?

[2022-11-11 00:21] akaiserg commented on #1478
I reinstalled the xcode-select again and I got the same error.

For the option 2,  I updated the  branch with the command and I ran go mod vendor to update the dependency.

[code]
With the third option it ran correctly with this message

`2022/11/10 21:19:38 Datadog Tracer v1.44.0 INFO: DATADOG TRACER CONFIGURATION {"date":"2022-11-10T21:19:38-03:00","os_name":"darwin","os_version":"10.15.7","vers

[2022-11-11 16:17] #1223 closed

[2022-11-14 08:44] Julio-Guerra commented on #1478
Perfect, so we will integrate this build from now and you will get it in our next release. We actually pin our macos version now in libddwaf's build CI to macos-10.15. But this runner is deprecated and we will move to macos-11 once github completely disables it.

[2022-11-14 13:45] basoko commented on #982
@knusbaum I'm curious about why is considered the producer a client integration and the consumer not? I think I might be missing something here, but what would be the way to differentiate multiple services producing to the same topic in DataDog?

Also, when looking the traces in the UI, generated by the producers and consumers in the same service, is weird to see them with a different service valu

[2022-11-15 08:55] radykal-com commented on #1136
Any update on this? the deprecated protobuf module is still in go.mod

[2022-11-15 15:16] chrisbrowning opened #1581 "logger interface should be standard logging pattern"
I want to use my structured logger as the tracer logger, but it does not implement the current interface. This is obviously a privilege of the author, but I noticed that most of the logging work in the repo is done by exported variables like `Warn` that are not themselves methods of the logger. It seems to me that these should form the interface definition instead of the `Log` method. This pattern

[2022-11-15 15:59] katiehockman commented on #1428
We're going to close this due to inactivity, but please file a new issue or reach out to your customer rep / [support](https://www.datadoghq.com/support/) if this is still an issue for you.