[2019-12-03 22:06] cgilmour commented on #541
Hi @thomas91310, creating a support ticket would be better for this question, thanks!

[2019-12-04 15:33] thomas91310 commented on #541
ugh -__-'
Thought there would be a quick answer to this.
I'll close this for now

[2019-12-04 15:33] #541 closed

[2019-12-05 05:14] kuchlein opened #543 "contrib/labstack/echo: support v4"
Echo recently changed the way that they package and ship their code. Specifically version 4 uses a new import scheme (see [echo git](https://github.com/labstack/echo) where they'd like you to use an import of `github.com/labstack/echo/v4` rather than `github.com/labstack/echo` which was used before. In order to get the contributed code to work I had to make a minor change to the imports in echotra

[2019-12-09 08:16] gbbr commented on #543
Sure. Are you willing to commit to a PR? We should duplicate the folder and create a `contrib/labstack/echo.v4`  as per the guidelines I have recently added [here](https://github.com/DataDog/dd-trace-go/tree/v1/contrib#usage).

[2019-12-09 08:17] gbbr opened #544 "proposal: suffix all contrib folders with their version"
We should suffix all contrib version with their version, in order to clarify and clearly differentiate between the versions that they address. Currently this can become confusing. For unstable releases we should use `.v0`.

Slightly described here: https://github.com/DataDog/dd-trace-go/tree/v1/contrib#usage

[2019-12-12 20:12] #533 closed

[2019-12-18 04:10] catkins opened #552 "contrib/Shopify/sarama: add support for ConsumerGroups"
Currently dd-trace-go only supports tracing `*sarama.Consumer`, but not `*sarama.ConsumerGroup`.

https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/contrib/Shopify/sarama
https://godoc.org/github.com/Shopify/sarama#ConsumerGroup

We've manually implemented tracing for consumer groups in our application, but it'd be awesome if it was supported out of the box.

Thanks! 💖

[2019-12-18 09:51] gbbr commented on #552
SGTM. Would you be interested in contributing? If so, can you explain how you'd do it before starting work?

[2019-12-18 23:29] catkins commented on #552
Thanks @gbbr – I'll try to take a look over the christmas break.

[2019-12-19 20:21] jeremy-lq opened #555 "Announcement: Intent to dual license this repo"
This issue is to notify the community of our intention to make this tracer available under the BSD-3 license (as is the case now) or the Apache 2 license (which is our default for new projects). This will allow you to consume the tracer under the same license you currently are, while also adding and option that brings consistency with our other projects and compatibility with [OpenTelemetry](https

[2019-12-20 23:18] odannyc opened #556 "contrib/gin-gonic/gin: Setting "env""
I can't find a way to add the "env" into my application. I am using the `gin` integration.
version: 1.19.0

[2019-12-23 08:59] gbbr commented on #556
One way to set the env is setting `env: my-env` in the Datadog Agent's `datadog.yaml` file. Another way to globally set the env was added in https://github.com/DataDog/dd-trace-go/pull/529 which will be released after the holidays as part of v1.20.0.

If none of these are satisfactory, you could get the span in your handler from the request context and add it as a tag, e.g.
[code]

I hope one of t

[2020-01-02 13:27] Armatorix opened #558 "contrib/gin-gonic/gin: propsal of configurable operation name"
For now `operation name` is statis as value `http.request`.
IMO it would be nice to make it configurable, so it could be used similarly to `resourceNamer`.

[2020-01-06 08:35] gbbr commented on #558
In Datadog, it's most of the time optimal that the "operation name" remains static and does not change across requests. We use the top level operation name as a representative for a service and for calculating statistics. If the operation name were to become variable across requests, the experience in the UI would change on the service page and with regards to the computed stats, which might not b

[2020-01-08 07:53] #408 closed

[2020-01-08 11:44] rafaeljusto opened #562 "contrib/labstack/echo: Add filter option to whitelist requests with trace"
I would like to add an option to the `labstack/echo` middleware so we are able to decide the requests that we are adding trace. This is useful to turn off tracing depending on the environment or request data.

It would be something like:
[code]

[2020-01-08 11:45] rafaeljusto commented on #562
By the way, I wrongly created the PR before discussing the issue here:
https://github.com/DataDog/dd-trace-go/pull/561

[2020-01-08 11:53] gbbr commented on #562
Why would you like to turn off tracing? If you do this, it will affect stats and the values will be wrong in the UI. Maybe a better way to do it would be to simply apply sampling priority 0 to those traces? In your handler, you could do:

[code]

This might be better. In the meantime, we will be adding a rule-based sampler in release v1.21.0 (https://github.com/DataDog/dd-trace-go/pull/546) which

[2020-01-08 12:00] rafaeljusto commented on #562
There're some URI paths and environments (beta, staging) where I'm not interested in adding stats at all.

Would set sampling priority 0 cost me? 💰

[2020-01-08 12:34] gbbr commented on #562
It will not cost you anything. Those traces will reach the agent for stats computation and will be dropped there, never to reach the Datadog servers.

[2020-01-08 12:46] rafaeljusto commented on #562
Perfect, thanks!

[2020-01-08 12:46] #562 closed

[2020-01-08 12:55] gbbr commented on #562
You're welcome! Please feel free to come back if you run into any difficulties.

[2020-01-09 00:49] alexpareto opened #563 "contrib/jmoiron/sqlx: uint64 argument error"
I'm currently setting up the SQLx implementation of Datadog's tracer but am getting this error: `converting argument $1 type: uint64 values with high bit set`.

We're using the mysql driver - and haven't had any issues before implementing the datadog sqlx trace helper. It looks like it's trying to query w/ postgres almost ($1 looks very postgres vs ? in mysql parameterized query syntax).

This onl

[2020-01-09 01:05] odannyc commented on #556
@gbbr

Thank you! I'm waiting for 1.20 to be released. Do you have a date on when you are planning to release it

[2020-01-09 01:52] cgilmour commented on #563
A snippet that reproduces it:
[code]
Running against a mariadb instance in docker
[code]
After it's running, the code above gives this output:
[code]

[2020-01-09 08:52] gbbr commented on #556
We're planning to do it this week. Thanks for your patience.

[2020-01-13 14:33] gbbr commented on #563
@alexpareto thanks for bringing this to our attentiont and @cgilmour for reproducing. We've acknowledged the issue and will try our best to address it as soon as possible.

In the meantime, if you have ideas, remember that contributions are welcome.

[2020-01-13 19:08] weisbartb opened #565 "proposal: export tracer.contextKey"
Would it be possible to export `tracer.contextKey` so that it can be used inside of a custom wrapper to avoid having to navigate a linked list of contexts? It doesn't appear that anything would be affected outside of that file and `activeContextKey` would not need to exported. The only visible downside I can currently see is someone potentially miss-implementing the key and breaking their context.

[2020-01-14 03:33] skaji opened #567 "Feature request: expose NoopTracer"
## Context

I'm using dd-trace-go in both development and production environments.
While I'm using a "true" tracer in production environment,
I'm using a mocktracer in development environment:

[code]

Recently I have noticed that the memory usage in development environment was increasing.
This is because mocktracers keep all finished spans in memory.
https://github.com/DataDog/dd-trace-go/blob/1e

[2020-01-14 03:40] skaji commented on #567
... oh, I just should not have start mocktracers in development environment.

[2020-01-14 03:40] #567 closed

[2020-01-14 11:49] gbbr commented on #567
Glad you figured it out. If there is anything we can do better in documentation to make this clearer, please let me know...

[2020-01-14 12:08] gbbr commented on #565
Hi Brian!

Thanks for your proposal! Let's explore it a bit together to make sure I don't misunderstand what you're after.

I'm not sure if exporting this key will add anything, because the idiom is already implemented: we have both [`SpanFromContext`](https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#SpanFromContext) and [`ContextWithSpan`](https://godoc.org/gopkg.in/DataDog/dd-tra

[2020-01-14 19:00] weisbartb commented on #565
Hi Gabriel,

Those two methods that you have pointed out do not solve the issue I am trying to target.

Currently in some of our applications we have 10+ context extending items, `context.WithValue` invocations. This causes each `context.Value` lookup to (worst case) iterate through all of them. each time it is called to extract the underlying value. By exporting the struct that you use for the ke

[2020-01-15 09:30] gbbr commented on #565
Thanks for taking the time to explain, in words, your scenario.

It sounds a bit like all the logic you're planning to introduce around contexts to have faster access might cost more both in terms of CPU and RAM than just leaving it as it is, but I might be missing something. Nevertheless, I'm afraid that we won't be able to take action unless we can describe the problem in code, and bring out act

[2020-01-15 09:47] #563 closed

[2020-01-15 16:22] Armatorix commented on #558
Yup, I managed to see that `operation name` is static across most of middlewares.

So IMO it would be still nice to change.
First of all it would be nice to let user change it if he want to (even with function that will return static value, but it will be statis value set by user)

Second (and my case), I don't see any option to aggregate requests by method under specific service in the `Services`

[2020-01-15 18:21] weisbartb commented on #565
Hi Gabriel,

I am going to withdraw this for now and just maintain a fork. The effort to produce what you are asking for is substantially more than just keep a fork that just exports this.

[2020-01-15 18:21] #565 closed

[2020-01-15 18:21] gbbr commented on #563
Fixed! We’ll have it out as part of 1.21.0 soon! Thanks for bringing it up!

[2020-01-16 09:08] gbbr commented on #565
I see. Happy to explore this together if you change your mind later on and find time to narrow it down to some snippets.

[2020-01-16 10:39] gbbr commented on #558
I see what you're trying to do. I'm 100% you can do that with App Analytics. You don't need to have the operation name changed to obtain the data you want. I think it's just a matter of figuring it out in the product.

Since I have limited knowledge myself, I would recommend you reach out to our support team which will be more than happy to help you obtain the statistics that you are after. Please

[2020-01-17 15:48] Armatorix commented on #558
I've already done all the aggregations and remappings, so in APM it looks OK, but not on the services tab. But anyway there is also the first case I mentioned which IMO would be nice to have

[2020-01-17 16:18] gbbr commented on #558
We can explore that more if you like, but this is an operation name that we are using product-wide, cross language for HTTP requests. Changing it might have an undesired impact because you might cause the pipeline to drop some computations which you'd normally be getting.

Why would you want to call it something else? It is an HTTP request after all. I'm not against it, I'm just trying to make sur

[2020-01-17 16:54] Armatorix commented on #558
Oh, I was not aware of that it's some special value that you depend on.
So it would be nice to explore that topic for sure.

I just ended chat with help support, so:
There is no way to separate endpoints in services by the method with same name
(example:
so for now if I got
PATCH /example/product
and
POST /example/product
and I'm providing them both with the name `/example/product` so they both ap

[2020-01-17 17:00] gbbr commented on #558
Could you tell the support person to reach out to me with your org id? I would like to take a look at your account because it seems a bit odd to me that you say you can not do that. I think it is definitely possible using "Traces" or "App Analytics"

[2020-01-17 18:18] Armatorix commented on #558
Yes, it is possible with these tools, but "Service List" or endpoints under specific http services from services lists are useless

[2020-01-17 18:29] gbbr commented on #558
I totally understand what you mean 🙂The "Services" page is how Datadog APM started. At the time we did not have the "Traces" and "App Analytics" sections. These newer sections seem to be offering a lot more value and make it easier to extract the data you are after.

Never the less, when you go to a service on the services page, you should still see two different entries in resources for "POST /pa

[2020-01-20 16:53] Armatorix commented on #558
So I used wrong wording...
I've got traces with following datadog endpoint names and methods:
dd name: /path
endpoint: /path
method: POST

dd name: /path
endpoint: /path
method: PATCH

I was writing that one of the solutions would be to add method in name.

[2020-01-21 00:45] phoenix2x opened #572 "ddtrace/mocktracer: mockspan.Finish must be idempotent"
Currently mockspan.Finish is not idempotent while span.Finish is. This prevents us from testing code which invokes Finish multiple times.

[2020-01-21 09:34] gbbr commented on #572
I agree that the mocktracer should reflect the behaviour of the tracer. Arguably there should only be one entry in the list of finished spans regardless of the counts to Finish...

I am curious however why you are calling Finish multiple times? It can easily lead to programming errors as code is developer by multiple contributors. Generally the idiom is to factor out instrumented code into its own

[2020-01-21 10:08] gbbr commented on #558
Oh my! I think you've actually discovered a bug here. The resource name should be `GET /path` or `PATCH /path`, but instead, it points to the handler name. I'm fixing this in #574. Until we release that as part of `v1.21.0`, you can work around it by using:

[code]

This should ensure that all resources are named as you would expect them. When you click on the service page, you should see correctl

[2020-01-21 10:47] Armatorix commented on #558
This will fix my issue for sure, but also will double info about method, as it will be in resource name and method field, but yea... will work

[2020-01-21 11:03] gbbr commented on #558
This is the standard for all our HTTP integrations. If you are happy with this result, please close the issue.

[2020-01-21 15:19] #555 closed

[2020-01-21 15:51] #572 closed

[2020-01-22 02:12] mathetake opened #576 "contrib/google.golang.org/grpc: ignore health-check protocol requests from interception"
With the server interceptor,  currently every request is the target of interception regardless of their services and methods.

[Health-checking-protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) is widely used in grpc. For example, it is used in readinessProbe with [grpc-health-probe](https://github.com/grpc-ecosystem/grpc-health-probe) on k8s.

I would like to prevent the

[2020-01-22 09:33] gbbr commented on #576
I agree that it would be nice to have a way to ignore those. I am thinking we should have a more generic option though, which would allow ignoring custom endpoints too. Something like:

[code]
You could then do:
[code]
This should allow people with similar needs to ignore potentially custom health checks.

What do you think?

[2020-01-23 03:07] mathetake commented on #576
I agree with your idea to have a more generic option.

But i am not sure it would be better to use regexp when it comes to computational complexity, although golang's regexp package guarantees that all searches run in the liner time of the input which seems reasonably small.

how about having something like:

[code]

where all the endpoints are supposed to be in a `map[string]struct{}{}` to check

[2020-01-23 06:13] gbbr commented on #576
You’re absolutely right. I omitted the fact that a regexp would be expensive on every call. A string is much better. I would be happy with such a change 👍

Please feel free to open a PR if you wish.

[2020-01-23 06:26] mathetake commented on #576
alright, i am going to work on it 👍

[2020-01-23 09:17] #558 closed

[2020-01-27 15:24] knusbaum opened #579 "Add 'Key' prefix to span tag names"
In tracer version 2, we want to prefix span tag key constant (SpanType, etc) with "Key*" (KeySpanType, etc) to more easily differentiate between constants representing tag values and constants representing keys.
https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/ext/tags.go

[2020-01-27 15:43] gbbr commented on #579
I agree. We could use that pattern. We could also do things like `KeyPriorityKeep` and `KeyPriorityDrop` instead of `Manual{Keep,Drop}`.

The other thing is that this whole `ext` package doesn't really make sense. It might make more sense to move all of these constants into the `tracer` package, especially if we'll be prefixing them.

[2020-01-27 18:34] knusbaum commented on #556
@odannyc 1.20.1 has been released.

[2020-01-27 19:07] knusbaum commented on #500
I'm going to close this in favor of #501
Please reopen if this is still needed.

[2020-01-27 19:07] #500 closed

[2020-01-27 20:17] #535 closed

[2020-01-29 14:19] #576 closed

[2020-01-29 17:46] knusbaum commented on #427
👍  I think this would be good to add to v2.0.

[2020-02-03 16:47] #556 closed

[2020-02-03 16:48] knusbaum commented on #556
@odannyc Please feel free to re-open this issue if we haven't provided an adequate solution.

[2020-02-03 19:14] knusbaum commented on #544
I think this will help make things much clearer.

[2020-02-03 19:18] knusbaum commented on #540
👍

[2020-02-03 19:25] knusbaum commented on #508
Fixing the interface might be useful, but do we know of anyone that needs it? I'd be more in favor of removing the interface since we have the rules sampler. I would say if we get requests for more dynamic sampling, we can revisit the sampler interface.

[2020-02-04 18:10] knusbaum commented on #321
I'm going to close this issue now, since it's old and the question appears answered. Please reopen if needed.

[2020-02-04 18:10] #321 closed

[2020-02-04 18:17] knusbaum commented on #342
The error mechanism this proposal refers to has been removed from the tracer.

[2020-02-04 18:17] #342 closed

[2020-02-04 18:18] knusbaum commented on #314
Closing as stale. Please reopen if necessary.

[2020-02-04 18:18] #314 closed

[2020-02-04 18:27] knusbaum commented on #352
I think we can consider this proposal rejected. We can reopen if we want to revisit it.

[2020-02-04 18:27] #352 closed

[2020-02-07 17:40] mikea opened #590 "contrib/graph-gophers/graphql-go: tracing integration to expose operation name"
operationName is already provided as part of Tracer interface. Will be useful to search/aggregate by operationName.

Pull request: https://github.com/DataDog/dd-trace-go/pull/586

[2020-02-12 11:45] gbbr commented on #590
I think this should be fine to add 👍

[2020-02-12 14:34] arunpoudel opened #594 "opentracer: question about FollowsFrom"
https://github.com/DataDog/dd-trace-go/blob/v2-alpha/ddtrace/opentracer/tracer.go#L50

Here I see that only ChildOfRef is valid as a reference. Do we know why FollowsFromRef is not a valid reference?

[2020-02-12 14:43] gbbr commented on #594
Hi Arun!

We do not currently support FollowsFrom at Datadog.

[2020-02-12 14:55] arunpoudel commented on #594
Are you going to support it?

[2020-02-12 14:56] gbbr commented on #594
We don't have any plans to do so at the moment. I'm going to close this issue as a duplicate of https://github.com/DataDog/dd-trace-go/issues/376. I hope you don't mind. Please feel free to follow that one for updates...

[2020-02-12 14:56] #594 closed

[2020-02-12 14:57] gbbr commented on #459
@yeluolei is it ok to close this issue? It seems like a solution was offered

[2020-02-12 15:58] yeluolei commented on #459
Yes, please close this, I forgot how to fix it, but there seams no problem now

[2020-02-12 15:58] #459 closed

[2020-02-12 21:07] knusbaum commented on #544
I have some questions about this.
How will we manage this with integrations that work across multiple versions? Do we want to avoid preemptively duplicating code when the integration target changes its version unless we *have* to? If the same integration works for `v0.*`, `v1.*`, and `v2.*`, I don't know that we want to copy that code into three directories.

The convention could be that the direc

[2020-02-13 08:42] gbbr commented on #544
Correct.

This is a small likelihood though, given that a new major version usually means a breaking change. But we can definitely apply what you say, if it makes sense.

Modules are exactly the reason why this change was made.

We don't want to use submodules because of how much they are advised against and all the problems they can present https://github.com/golang/go/wiki/Modules#faqs--multi-mo

[2020-02-14 09:24] #590 closed

[2020-02-14 20:31] knusbaum commented on #544
Glad to hear that. I think it's good to avoid if we can.
We need to figure out how we want to deal with multiple versions of dependencies in the same module.
For example, `github.com/DataDog/dd-trace-go/contrib/google.golang.org/grpc.v12` depends on `google.golang.org/grpc@v1.2.0` and  `github.com/DataDog/dd-trace-go/contrib/google.golang.org/grpc` depends on `google.golang.org/grpc@latest`

Does

[2020-02-21 00:06] andytruong commented on #507
More and more companies are using it, including Khan Academy: https://github.com/99designs/gqlgen/issues/268

[2020-02-24 15:55] knusbaum commented on #177
This issue has gone quite stale, and I don't see anything actionable here.
I am going to close the issue, but please reopen if there's something that needs to be done.

[2020-02-24 15:55] #177 closed

[2020-02-24 15:58] knusbaum commented on #350
@jimtla I'm going to close this issue. If you have more suggestions about this, feel free to reopen it.

[2020-02-24 15:58] #350 closed

[2020-02-24 15:59] knusbaum commented on #361
I'm going to close this issue. If there's anything else we can help with, feel free to reopen.

[2020-02-24 15:59] #361 closed

[2020-02-24 16:05] #364 closed

[2020-02-28 21:30] goodspark opened #605 "Docs are not displayed on new go.dev docs site due to license restrictions"
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace?tab=doc

https://pkg.go.dev/license-policy

[2020-03-01 09:26] kamatama41 opened #606 "contrib/go-redis/redis: support v7"
[go-redis/redis](https://github.com/go-redis/redis) was updated to v7 and it changed its import path to `github.com/go-redis/redis/v7`. So dd-trace cannot be used with `go-redis/redis/v7` by the incompatibility between v7 and earlier versions.

ref: Changelog for go-redis/redis
https://github.com/go-redis/redis/blob/20a182ceb1d1360f9689230d84fa1db47db215f4/CHANGELOG.md#v7

[2020-03-01 22:02] cgilmour commented on #605
Hi @goodspark thanks for reporting this.

This seems to be from changing to a dual license a little while ago.
The `LICENSE` file used to contain the contents of an OSI license, but now just contains a description of the dual-license.
The actual license files, `LICENSE.Apache` and `LICENSE.BSD3` aren't in the list of filenames that are checked for license detection.

A partial fix might be renamin

[2020-03-02 20:30] knusbaum commented on #606
Thanks, @kamatama41. We will look at what needs to be done to support `go-redis/redis` `v7`.

[2020-03-02 21:44] #501 closed

[2020-03-09 20:31] goodspark opened #608 "contrib/go-redis/redis: WithContext causes a random spike in connections and timeouts"
go-redis v6.15.7
Redis (on AWS ElastiCache) v3.2.4-compatible engine
DD trace v1.22.0

We've noticed periodic spikes in connections and timeouts to redis when we use DD's tracing. We haven't had a chance to investigate more, but we did notice those spikes went away when tracing was removed. For now I'm opening an issue to track it.

DD APM:

![Screenshot from 2020-03-09 13-28-54](https://user-imag

[2020-03-10 14:53] gbbr commented on #606
This is related to https://github.com/DataDog/dd-trace-go/issues/543. We can't use those modules import paths yet, before we switch to modules.

I guess this starts to bring the priority of switching to modules to a more higher level. We should consider doing it soon. We will keep track of this in the related issue here: https://github.com/DataDog/dd-trace-go/issues/471

[2020-03-11 07:54] gbbr commented on #605
This should be fixed now. I think go.dev will pick it up once we do the next release. Closing for now. Thanks for taking the time to let us know.

[2020-03-11 07:57] gbbr commented on #608
You're saying that:

Are you saying that if you remove `WithContext` the spike is gone? That would help narrow down the issue.

[2020-03-11 16:27] goodspark commented on #608
Yes

[2020-03-12 09:36] gbbr commented on #608
Thanks for confirming. It's probably the change introduced in https://github.com/DataDog/dd-trace-go/pull/530. We'll look into it.

[2020-03-12 21:35] knusbaum commented on #471
Since more and more issues are popping up around module support, and with go 1.14, "module support in the go command is now ready for production use." we may want to talk about exactly how and when we want to do this.

We don't yet have a timeline for v2. Do we need to look at some sort of modules solution for the v1 tracer?

[2020-03-13 09:53] gbbr commented on #471
Correct, let's do this. The idea was that the entire repository would turn into a single module. We can potentially do this today, but read on...

We could, but it's not going to help with #606 and #548 because even though those will start working, they will only work for users who have opted into modules. This means that modules will become a requirement to use dd-trace-go, breaking current users

[2020-03-16 07:57] geekflyer commented on #273
I just wanted to add that the current behaviour is inconsistent with datadog's other tracing libraries and I think fixing this should be a high priority.
I spend probably an entire day to debug / figure out where the traces from library integrations end-up and now just realized that dd-trace-go basically doesn't reuse the service name from the global tracer.

How the other datadog trace libraries

[2020-03-16 09:30] gbbr commented on #273
@geekflyer thanks for bringing this to our attention. We will be making this change soon.

[2020-03-16 12:45] gbbr commented on #273
@geekflyer I feel like my message might've been too brief and could lead to confusion or misunderstanding. What I meant to say is that we are working and will be making changes in this area (around things discussed in this issue), but not that we will be making the particular change you are suggesting. We want to minimise the amount of of breaking changes. I'll keep the issue updated as we proceed

[2020-03-16 19:53] knusbaum commented on #471
I think this is the best way. I'm not sure exactly how we will handle integrations with multiple versions like grpc. Maybe vendoring will continue to be the best solution, as ugly as it is.

Breaking existing users would make this a non-starter for `v1`. However, I am pretty sure that `dd-trace-go` should continue to work with `GOPATH` even if we add module support. As far as I can tell, it should

[2020-03-17 09:16] gbbr commented on #471
I was mistakenly thinking that the `go get` command will not be able to fetch those special import paths which are module specific in an environment that has not opted into modules. It seems this was false and can be read in the wiki section ["Releasing Modules"](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher) point "_1. Major branch_":

That's great news and simplifies t

[2020-03-18 00:01] knusbaum commented on #471
This was unclear to me as well, and I was thinking the same thing: minimum supported major version for each integration.

[2020-03-18 01:52] knusbaum opened #612 "proposal: improve reporting of error type."
Due to the common use of `fmt.Errorf` and `error.New`, the "error.type" that is reported is very often `*errorString`, which doesn't end up being very useful.

We may want to explore options for adding some info to the "error.type", such as the package the error originated in.

[2020-03-18 08:54] gbbr commented on #612
Changing this now would be a breaking change. For me, it makes sense that `error.type` displays the error _type_. It is indeed redundant and unnecessary to have it for cases when it is `*errorString`. This is only meant to be useful when that's _not_ the case.

To avoid a breaking change, and if it makes sense, we could additional error metadata. But we should carefully examine whether it makes se

[2020-03-20 13:37] tanordheim commented on #608
I think I'm observing the same problem here just manifested differently. I don't see any latency spikes per se - all though the service I'm having the issue in is very low traffic right now so I probably wouldn't notice spikes even if there were any.

What I'm noticing however is that the DataDog tracer starts logging this after the service has handled a few requests:

[code]

The service does one

[2020-03-20 19:10] knusbaum commented on #608
The issue here is that `ddredis.WrapClient` modifies the redis client itself by calling `WrapProcess`. This lets us add some middleware that creates a span for each redis call:
https://github.com/DataDog/dd-trace-go/blob/389586928d8333724f68a57b80607be23517d338/contrib/go-redis/redis/redis.go#L80

Each time you call `WrapClient`, a new wrapper is added, and an additional span will be created for e

[2020-03-20 19:58] goodspark commented on #608
We're not calling WrapClient multiple times. See original description. Your comment may be applicable to Trond, however.

[2020-03-20 20:02] goodspark commented on #608
We're not repeatedly wrapping a redis client. Your comment may be applicable to Trond, however. But it does not address the issue.

[2020-03-20 20:11] knusbaum commented on #608
Thank you for the info, @goodspark. There may be two different issues here.

[2020-03-20 21:37] knusbaum commented on #608
@goodspark
I ran some benchmarks on the integration against a redis instance running locally.
[code]
[code]
[code]

I ran them with:
[code]
Then compared with `benchstat` to get the following results:
[code]

Based on these, there isn't significant time overhead with the traced client (~100-200µs) per call.
There is quite a bit more memory allocated with the traced client (200 bytes compared to ~3

[2020-03-20 22:30] goodspark commented on #608
I think the core problem is not latency. Our current guess is `WithContext` is somehow inappropriately using and/or releasing connections, which causes connection saturation, which then causes delays in connection acquisition times for new requests. See the charts in the original post.

We saw spikes in connections to redis around peak traffic hours. Our traces around the redis calls took up to 1s

[2020-03-21 21:54] ashanbrown opened #615 "contrib/gorilla/mux: Cannot disable stack traces on errors"
The gorilla mux integration has some options to add options at span start but not span at finish, which I believe is necessary to disable stack traces.  We use another tool to handle errors, and we have some concern about the potential volume of such stack traces, so we'd prefer not to record a stack traces on each error.

[2020-03-23 07:48] tanordheim commented on #608
@knusbaum Yeah I realized after posting the comment and digging a little in the dd-trace-go source code that my specific problem was me mis-using the package API by wrapping our Redis client every time we did a query in our application instead of reusing an already wrapped one (basically combing wrapping and `WithContext` instead of relying just on `WithContext`). As such it likely isn't related t

[2020-03-23 09:38] gbbr commented on #615
Sounds reasonable. We should maybe be able to do this at a global level and not just per-integration level. Or are you interested only for `gorilla/mux` ?

[2020-03-23 09:41] gbbr commented on #615
Have you tried using the `tracer.NoDebugStack` start option? e.g.

[code]

[2020-03-23 13:55] tanordheim opened #618 "contrib/gorilla/mux: tracing option to support setting the resource name"
Hi,

I'm working on an application where I use a tracer-instrumented Gorilla Mux-handler that uses `PathPrefix` to route all requests to a default handler - which in turn proxies the request to an internal system and relays the response. Something like this:

[code]

With the current implementation of `contrib/gorilla/mux` this causes all traces from this service to have the resource name `/` whic

[2020-03-23 13:57] tanordheim commented on #618
I've created a PR for an implementation that lets you pass a resource namer func into the Mux router options in order to override the resource name passed to DataDog - #617.

[2020-03-23 14:34] gbbr commented on #618
I see. Thanks for taking the time to explain the use case. This is very helpful to understand why this is needed.

I have to warn you though (might not apply to your case specifically) that using `r.URL.Path` will bring the risk of exposing potentially sensitive information in those paths. That's why we usually use the route pattern instead...

I think your idea and PR should be fine. Please allow

[2020-03-23 14:53] ashanbrown commented on #615
From what I can tell at https://github.com/DataDog/dd-trace-go/blob/abcb2fe245d617d32ce39d436f073ec6d13f428d/ddtrace/tracer/option.go#L397  `tracer.NoDebugStack` is a `FinishOption` not a `StartOption` (also it doesn't compile for me).  I could see the case for perhaps adding a `WithFinishOptions` start option but I'm not sure that would make sense in all cases.

[2020-03-23 14:56] tanordheim commented on #618
Yeah, we won't _actually_ use `r.URL.Path` but pass it through some internal normalization but that normalization is based off of `r.URL.Path` as an input value :)

[2020-03-23 15:01] gbbr commented on #615
Ah, yes, you're right. Sorry about that. My bad. Allow me some time to think about the best solution for this and I'll come back to you. Something similar to your PR could be the way to go, but I'd also like to consider having a global option for this. Would that resolve your problem? The answer would be 'no' only if you'd like to receive no stacks for this integrations and stacks for everything e

[2020-03-23 15:29] tanordheim commented on #618
I see it's a feature that is creeping out into different places of the code base but also most of these integrations seems to depend on something very internal to the integration they are providing which are making them hard to generalize I guess.

I don't know the code base very well, but my first gut reaction is:

1. Add support for some generic resource resolver into https://github.com/DataDog/

[2020-03-23 16:05] knusbaum opened #619 "contrib/go-redis/redis: repeated calls to WrapClient cause multiple spans"
A user ran into this issue (See https://github.com/DataDog/dd-trace-go/issues/608#issuecomment-601704985)

If a `*redis.Client` is repeatedly wrapped with our `WrapClient`, it will send ever increasing numbers of spans per call, as wrappers injected into the client will wrap each other.

For example, this will cause issues.
[code]

The issue is that `ddredis.WrapClient` modifies the redis client i

[2020-03-23 16:06] knusbaum commented on #608
@tanordheim You can leave the comments here, but I've opened a new issue for the problem you found (#619). Please have a look and feel free to add anything I missed.

[2020-03-23 20:03] knusbaum commented on #608
@goodspark Thanks for the info. I'll look into that.

[2020-03-23 23:10] knusbaum commented on #608
@goodspark
Earlier you said that when you remove the call to `WithContext` it fixes the issue, and recently you also said:

Can you confirm that leaving tracing *on* but *not* calling `WithContext` fixes the issue?

I'm working on trying to reproduce the issue now, but want to make sure I'm looking for the right thing (right now comparing a traced client without calling `WithContext` to a traced c

[2020-03-24 02:09] goodspark commented on #608
Yup. That was a bit poorly worded. We're still using a client created by DD tracing's redis package. We're just not using WithContext anymore, which more or less turns off distributed tracing in golang.

[2020-03-24 05:15] knusbaum commented on #608
Thank you and sorry to ask again. Just want to make sure I'm looking at the right things.

[2020-03-24 09:46] #618 closed

[2020-03-24 09:48] gbbr commented on #615
Thanks for your patience. It looks like we already have this (otherwise repetitive) process in most of our integrations. So I'm fine with adding it here too, as long as we stay consistent. Can you please use the same style as elsewhere? This means that the option will be called `NoDebugStack` like for example in our gRPC integration [here](https://github.com/DataDog/dd-trace-go/blob/876b6b3508944c

[2020-03-24 15:37] AaronSteele-isp opened #620 "contrib/olivere/elastic: support v7"
[olivere/elastic](https://github.com/olivere/elastic) has a newer client (v7) than is currently supported. This newer client is required to interface with ElasticSearch v7. It has changed its import path to github.com/olivere/elastic/v7.

[2020-03-25 00:40] knusbaum commented on #620
Have you tried using the existing integration with the new v7 version of the library?
The `SetHttpClient` method still exists: https://github.com/olivere/elastic/blob/v7.0.12/client.go#L476

We don't have tests for v7 currently, but I don't see why we can't add some.

[2020-03-25 08:53] gbbr commented on #620
Looking at their [README](https://github.com/olivere/elastic#releases) it looks to me like they are using the new Go modules type path for this. However I can't see it defined as a semantic import anywhere in the code base.

We should be able to fully support this once we switch to modules (ref #471). We're planning to do this soon.

[2020-03-26 12:57] gornostal opened #622 "Question: How to get current span context?"
I can't figure out how to get current span so I can get its context.
I'm trying inject it into my carrier to send to another server. Found this example in the [docs](https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer):
[code]

I wish I could see what's behind those `// ...` :)

[2020-03-27 09:04] #615 closed

[2020-03-27 09:24] gbbr commented on #622
Hi Aleksandr!

Which span would to like to inject? There is no magical way to get it, you'll have to have a reference to it, if it is a span you've manually created. If it is an integration, it might be that the integration already propagates (injects) the context itself.

Are you using an integration? If so, which one? If not, just use the span you like.

[2020-03-27 09:27] gornostal commented on #622
Hi Gabriel
No, I'm not using an integration. I was expecting to see a function `tarce.Span()` or something similar to what dd-trace-js has for retrieving a current span.

That answers my question. Thanks!

[2020-03-27 09:27] #622 closed

[2020-03-29 05:15] cweerasooriya opened #623 "contrib/internal/httputil: WriteHeader allows writing status code multiple times"
Log entry displays the wrong status when `ResponseWriter.WriteHeader` is invoked multiple times.

Eg.
[code]

**Result:**
Request status: 200 OK
`http.status_code` in log: 403 Forbidden

**Some more details:**
Updating HTTP status of a response multiple times within the same handler is prevented by Go by returning early in [response.WriteHeader](https://github.com/golang/go/blob/master/src/net/htt

[2020-03-30 08:42] gbbr commented on #623
You're right, this is wrong. I'll add it to our backlog. In the meantime, if you'd like to address it - we gladly welcome PRs.

[2020-03-30 09:09] ericjster opened #625 "contrib/gocql/gocql: Update Query.WithContext to work with gocql PR 1228"
Please update gocql function Query.WithContext to support gocql PR 1228.

The gocql PR 1228 on 25-oct-2018 changed the functionality of its Query.WithContext to make a copy of the Query object and return the new copy.
https://github.com/gocql/gocql/pull/1228

The current line in Query.WithContext:

	tq.ctx = ctx
	tq.Query.WithContext(ctx)

returns a new Query object and sets the context in the new

[2020-03-30 09:47] gbbr commented on #625
All good, discussed in private and in PR.

[2020-03-30 11:35] #625 closed

[2020-04-01 13:29] jdoucy opened #626 "Runtime error on armv7"
Get this when trying to start the Tracer:

`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x4 pc=0x123e4]
goroutine 1 [running]:
xxxx/vendor/github.com/DataDog/datadog-go/statsd.(*Client).writeMetricUnsafe(0xd282a0, 0x1, 0x0, 0x0, 0xcf67e0, 0x4, 0x6, 0x57161e, 0x16, 0x0, ...)
        xxxxxxxxxxx/vendor/github.com/DataD

[2020-04-02 17:51] knusbaum commented on #608
@goodspark
I ran manual tests for 10 minutes each of a traced redis client, and a traced redis client calling `WithContext` before each call to `Get`.

Code for the run calling `WithContext`. For the run without `WithContext`, the calls to `WithContext` were removed:
[code]

Results were uninspiring.
Both showed latency spikes in the max, but stayed pretty level for p95 latency and below.

With `W

[2020-04-02 19:16] knusbaum opened #630 "profiler: add support for standard environment variables."
The profiler already has config options:
*  https://github.com/DataDog/dd-trace-go/blob/596e04c3be6c3349ae6983d237c34d813cdc0277/profiler/options.go#L126
* https://github.com/DataDog/dd-trace-go/blob/596e04c3be6c3349ae6983d237c34d813cdc0277/profiler/options.go#L133
* https://github.com/DataDog/dd-trace-go/blob/596e04c3be6c3349ae6983d237c34d813cdc0277/profiler/options.go#L141

We should add a `With

[2020-04-02 22:38] dialtone opened #631 "contrib/internal/httputil: allow for setting extra tags on the trace"
The default set of tags is nice but a bit limiting. Just having access to a simple API.

This is a common need as seen here:
https://github.com/DataDog/dd-trace-go/blob/v1/contrib/internal/httputil/trace.go#L68

I can imagine a web layer wanting to add a facet that summarize the response of some APIs as positive and negative beyond the Info/Error response code (for example an API could deny access

[2020-04-03 08:02] gbbr commented on #631
This should usually be very easy to do without the option, by doing something like:
[code]
Would this not work in your case?

[2020-04-03 14:49] #623 closed

[2020-04-03 18:11] dialtone commented on #631
Probably would, for some reason I didn't see this method in the source.

[2020-04-03 18:11] #631 closed

[2020-04-04 11:19] gbbr commented on #631
Cool, let me know if not. And if you have any ideas for improving the documentation to see this method more easily, let us know!

[2020-04-06 15:27] #630 closed

[2020-04-06 17:03] Paintface07 commented on #160
I'd like to dig this up again.  I'm currently experiencing an issue similar to above where I don't seem to be able to create a dd-trace-go wrapped client when using either UniversalClient or ClusterClient.  Is this just a feature that is not widely used?  I'm still kind of new to go, but it seems like there should be some way to use clients of these other types.  Anything to keep in mind if I crea

[2020-04-07 08:11] gbbr commented on #160
It may be, @pierrre seems to have needed it. We are also using this integration in production, but not those specific structures. I tried implementing it once but got into some complications and gave up. However, that was a long time ago and things might've changed with the library since then.

I think there should be a way. If you want to make sure you're going down the right path, I'd recommend

[2020-04-08 08:14] gbbr commented on #605
It looks like the fix didn't work. Re-opening. FWIW I've opened an issue here: https://github.com/google/licensecheck/issues/22. Let's see how that goes.

[2020-04-08 14:01] gbbr commented on #605
Response from the mailing list is:
[code]

[2020-04-09 17:33] #605 closed

[2020-04-10 20:04] Succo opened #635 "proposal: garyburd/redigo allow not to trace some command"
I'd be interested in an option for redigo that would allow some query not to be traced based on the command.

In particular I'd like to not have commands such as PING appear in my apm since they are used as healthchek and skew the latency/counts.

[2020-04-13 07:25] gbbr commented on #635
Would you be able to use `ignore_resources` for this in the agent? https://github.com/DataDog/datadog-agent/blob/7.16.0/pkg/config/config_template.yaml#L522-L526. This is what it was meant for.

[2020-04-14 13:20] Succo commented on #635
That works, using the env variable I was able to prevent those span.

[2020-04-14 13:20] #635 closed

[2020-04-14 13:33] gbbr commented on #635
Glad it helped.

[2020-04-14 18:01] knusbaum commented on #623
This fix is available in `v1.23.1` and newer versions of dd-trace-go.

[2020-04-15 13:35] johejo commented on #606
This is the POC using v7 redis.Hook api.
https://gist.github.com/johejo/b82d5fc533596db357ec46ba95b89192

[2020-04-15 19:10] knusbaum opened #637 "proposal: expose tracer Service, Env and Version."
This is related to the env and service changes made in #529 and #607.

Just like `dd.span_id` and `dd.trace_id`, we want to expose the application version and env for printing in logs:
https://docs.datadoghq.com/tracing/connect_logs_and_traces/go#further-reading

The simplest way to implement this is just by exposing a `func Env() string` and `func Version() string` in the `ddtrace/tracer` package

[2020-04-15 19:48] brettlangdon commented on #637
We will also want `Service()` as well to be available to inject into logs too

[2020-04-16 06:44] gbbr commented on #637
Some ideas (without giving thorough thought):
* Alter the `String` method of `span` which is not public API and not really used so that it displays _all_ the needed information, giving us the possibility of doing things like:
[code]
* Add a `SpanReader` method which takes a `Span` and returns an interface through which we can access various fields.

Frankly if this is simply for logging purposes,

[2020-04-16 07:28] #181 closed

[2020-04-16 15:29] gornostal opened #638 "ForeachKey in TextMapReader requires values to be of type string, but not all values are strings"
I'm working on enabling distributed traces between service in PHP and in Go that communicate via Kafka messages.
With Go I ran into an issue where I get an error when extracting trace info from an incoming message. I get a runtime error because value for `x-datadog-sampling-priority` is of type `number` not `string` but `ForeachKey` [requires it to be a string](https://github.com/DataDog/dd-trace-

[2020-04-20 15:09] knusbaum commented on #638
Hi, Alexsandr.

Thanks for filing this issue. Certain carriers, such as the one for HTTP need the data to be in string form, so I would expect these types to stay the same. We should be generous in what we allow for input, though, and convert numbers to strings as necessary.

To help us understand the exact issue, can you share the error you're getting along with the change you made to fix the iss

[2020-04-20 15:20] gornostal commented on #638
Hi @knusbaum

Here's a workaround that I made to fix the issue:

[code]

As you can see `DatadogTraceType` permits any type of values. I'm creating a structure of this type using `tracer.Extract(tarceInfoThatIReceived)` when I receive a message.
If I don't convert everything to string like that I receive an error saying that `handler` function expects only strings.
It's difficult for me to reprodu

[2020-04-20 16:00] knusbaum commented on #638
`tracer.Extract` ultimately takes a carrier that implements `TextMapReader`.

We have a number of `TextMapReader` implementations in `dd-trace-go`, but as far as I can tell, all of them correctly handle this case. I don't see where a type error could be occurring in the carriers, but please correct me if I'm missing something.

If the problem you are encountering is in your carrier `DatadogTraceTy

[2020-04-20 16:20] gornostal commented on #638
All of them expect only string values, don't they?
The problem I'm having is caused by DD library for PHP that sends numbers in values for some keys.
On which side do you think this issue should be fixed? In `dd-trace-go` or `dd-trace-php`?

[2020-04-20 18:48] knusbaum commented on #638
All of them expect only `string` values, but also only iterate over `string` values. I'm not seeing a place where any of them can run into a type error currently.

For example, the `ForeachKey` link you included in the description (https://github.com/DataDog/dd-trace-go/blob/v1.23.1/ddtrace/tracer/textmap.go#L32) iterates over the `HTTPHeadersCarrier`, which is an alias for `http.Header`, which is

[2020-04-21 08:09] mingrammer opened #640 "contrib/bradfitz/gomemcache: trace the processing keys"
Hi.

Currently, the memcached tracer is just creating a span and does not trace anything except `env` tag. So, dashboard shows only `env` variable, and I couldn't find any valuable information such as processing keys.

It would be nice to add the `keys` tag for tracking the used key for each memcached operations. If you agree with this, I can make a PR for this.

[2020-04-21 08:51] gbbr commented on #640
Hi @mingrammer!

I'm not sure exactly what you mean here. Can you please try to explain in a different way for me? Maybe post a screenshot of what you're seeing and explain what you're not seeing? Specifically the part where you say:

...is unclear to me

[2020-04-21 11:08] mingrammer commented on #640
Here are two screenshots, one is for redis, other is for memcached.

## Redis in APM

<img width="889" alt="Screen Shot 2020-04-21 at 7 56 09 PM" src="https://user-images.githubusercontent.com/6178510/79858568-9904f600-840a-11ea-847f-3104e18312a0.png">

It shows various information such as executed command (including used keys), current db and so on.

## Memcached in APM

<img width="893" alt="Scr

[2020-04-21 11:12] gbbr commented on #640
Thanks for doing this! That makes complete sense now! I think it should be fine to make this change and add more tags _as long_ as it doesn't reveal any sensitive information!

[2020-04-21 11:18] mingrammer commented on #640
Thank you. I’ll send a PR for adding some tags to memcached span.

[2020-04-23 08:11] #637 closed

[2020-04-23 14:44] mingrammer opened #643 "contrib/google.golang.org/grpc: trace metadata/request for grpc calls"
It would be nice to support tracing the metadata (header for gRPC) and request parameters for gRPC calls. I've already worked for it by building a custom gRPC interceptor, however, I think it would be better if the official package supports this feature.

This is my custom gRPC interceptor tracing the metadata and request parameters.

[code]

We can also provide the options can be used to toggle w

[2020-04-24 07:45] gbbr commented on #643
This is very cool. I'm not very familiar with what usually goes into metadata and what the request string looks like, so I'll have to look into it a bit and get back to you.

[2020-04-27 08:33] gbbr commented on #643
Ok, let's do this! Please make sure to filter and exclude the metadata added by Datadog context propagation from being added as tags. I think it's `x-datadog-trace-id`, `x-datadog-parent-id` and `x-datadog-sampling-priority`. We should add a test to make sure that this metadata is not added.

[2020-04-27 12:06] mingrammer commented on #643
Ok. I'll make a PR for the gRPC request tracer along with a filter for excluding those special tags.

[2020-04-29 16:52] roopakv opened #646 "proposal: add host in HTTP tracing"
We make requests to external services and having the host to which a request is made is helpful, also internally when hitting other service just the URL is not informative enough.

Would like to add Host as an additional tag

[2020-04-30 08:00] gbbr commented on #646
Sure! Sounds good to me!

[2020-05-02 11:39] mingrammer opened #650 "ddtrace/tracer: lost trace due to payload size too large errors"
My application throws this error intermittently.

[code]

How can I handle this error? Are there any options to adjust the behavior of log flushing?

Thank you.

[2020-05-04 06:47] gbbr commented on #650
Indeed this is an old problem we've been having and have recently started looking into it more
deeply. I will try to explain the mechanics:

* The Datadog Agent rejects any payloads larger than 10MB with this error.
* The tracer (`dd-trace-go`) buffers complete traces internally and flushes them when [a limit](https://github.com/DataDog/dd-trace-go/blob/3f45f6d1a30653f2616fcb2df7affa978685c887/ddt

[2020-05-04 06:50] gbbr commented on #269
I'm going to close this since it's gone stale. Please feel free to ping me and we can reconsider if you wish to pursue it...

[2020-05-04 06:50] #269 closed

[2020-05-04 06:51] gbbr commented on #273
This was addressed and is now possible as of https://github.com/DataDog/dd-trace-go/pull/614

[2020-05-04 06:51] #273 closed

[2020-05-04 06:52] gbbr commented on #325
Closing but happy to re-open if you want to continue the discussion.

[2020-05-04 06:52] #325 closed

[2020-05-04 06:58] gbbr commented on #480
@thomas91310, I know it's been ages, but if you're still interested we could add these behind two configuration options: `WithHeaderTags` and `WithQueryString` if you like.

* For headers, we'll have to make sure to exclude `x-datadog-*` headers though as we don't want those...
* For query strings, just one tag will be enough `http.querystring` (no need to have one for each key)

[2020-05-04 06:58] gbbr commented on #468
Added in #467

[2020-05-04 06:58] #468 closed

[2020-05-04 07:34] mingrammer commented on #650
I think there is no possibility to create a huge trace in my application 🤔 , However, of course, I'll have to debug my application as well in production to find a root cause for this.

[2020-05-04 07:38] gbbr commented on #650
Thanks! If you can confirm that's not the case, then I'd be very interested to discover how this error gets created and have more ideas...

[2020-05-04 09:34] ain-valtin opened #651 "contrib/gin-gonic/gin: set options of the span created by middleware"
Would be nice if there is a easy way to set common options for all spans created by the middleware. The span can be accessed using `SpanFromContext` but if one wants to add ie common tags for all routes it would be nicer to do it using middleware option. Something like

    func WithStartSpanOptions(cb func(c *gin.Context) []StartSpanOption) Option

which stores the callback to middleware's config

[2020-05-04 10:05] gbbr commented on #651
It's not necessary to have a new option to do this. You can simply add more middleware and intercept the span:
[code]
Would this not work?

[2020-05-04 10:15] ain-valtin commented on #651
Yes, could do it that way too... using middleware option felt nicer but using "middleware handler" is actually more flexible (can add it to only some groups)...

[2020-05-04 10:17] gbbr commented on #651
Since this is very easy to add into your own code, using your own custom logic and middleware/handler, I don't see the point of adding it into the library. Is it safe to say that we can close this issue or do you want to discuss it further?

[2020-05-04 10:32] ain-valtin commented on #651
I guess it's OK to close it :)

[2020-05-04 10:32] #651 closed

[2020-05-04 13:23] #612 closed

[2020-05-04 19:57] knusbaum opened #653 "proposal: add additional debug logging to tracer and integrations"
Debug logging is useful when diagnosing an issue with an application, and we should consider adding additional information to our logs.

Potentially useful info to include in debug logs:
- [x] complete tracer config on tracer start
- [x] show trace id, span ids, operation name, span tags for each span generated - helps us find out if the tracer generated a specific span
- [ ] log integration confi

[2020-05-05 08:08] gbbr commented on #653
All of this sounds good to me, except:

This concerns me a bit, won't it be overkill? In a high throughput system this could be extremely spammy. Do other languages have this too?

[2020-05-05 08:36] roopakv opened #655 "build: refactor circle build pipeline"
There are few things that make it sort of hard to contribute to this repo in general and some of these can be fixed if we made changes to the circle build systems

- since this repo is not in go.mod mode developing is sort of hard and requires setting up and cloning this repo in the right place, and there arent instructions or steps (probably will be easier when we move to go.mod mode)
- running c

[2020-05-05 08:38] roopakv opened #656 "proposal: add support for richardknop/machinery"
Would be really cool if we could add support for https://github.com/RichardKnop/machinery

machinery already has support for opentracing, the only thing we have to do is tie it up to DD.

[2020-05-05 08:52] gbbr commented on #656
Sure! I think it would be nice to. Feel free to open a PR if you like.

[2020-05-05 08:53] gbbr commented on #656
However, I'd prefer it if we would write our own integration, unrelated to Opentracing.

[2020-05-05 08:55] gbbr commented on #655
I agree with you. The milestone check was something that I did in a hasty manner. I would've preferred it to be a separate job too. This work is more than welcome as far as I'm concerned.

Before you start work though, let's clarify all the details here first, to make sure we're doing the right thing...

Can we list the jobs we would have?

[2020-05-05 15:01] roopakv commented on #656
@gbbr I am happy to take a shot at it, would love if you could point me to the best way to test and get started. I feel like there a few approaches that one could take, and I'm not sure I under datadog tracing enough to just go for it.

[2020-05-05 15:08] roopakv commented on #655
there are many ways we could go
one of the approaches
[code]

the negative to this approach is that when adding a new contrib package, it would have to be manually added to one of the containers, but I overall think it is a small prices to pay for better testability especially locally.

Another approach we could take for the tests is literally auto shard into ~5 containers, but this would mean we

[2020-05-05 15:09] roopakv commented on #471
has there been any progress on go module support? if we could break down the tasks would be easy to get started am happy to help out

[2020-05-05 15:18] knusbaum commented on #638
@gornostal I'll leave this ticket open for now. Please let me know if you have any more info.

[2020-05-05 15:24] gbbr commented on #655
I think I'd be fine with this initial split:

* Job 1: Copyright, milestone and other metadata related stuff (if more comes up later)
* Job 2: Tracer code (`ddtrace`)
* Job 3: Integrations (`contrib`)

We should start basic and this will be enough as phase 1. I think sharding and other things would be a bit overkill at this point. Our build is already fairly complicated and I'd like to avoid addin

[2020-05-05 15:32] gbbr commented on #656
No worries, we can work on it together. I'll try to provide some guidelines soon.

[2020-05-05 15:33] roopakv commented on #655
the negative of this is that the contrib job would still be an XL machine with many docker containers. As we add more libraries we support, this number will only increase.

That said I think this can be a good start

[2020-05-05 15:36] gbbr commented on #656
This looks like a huge project. It will be hard for me to spend the time and figure out a point of integration, but it looks like it has a `tracing` package which uses Opentracing (as you've said yourself). It might be that all we need to do is:

[code]

This might work, in which case we don't need an integration. Check out the https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/opentracer p

[2020-05-05 15:37] knusbaum commented on #655
Thank you for your contributions, @roopakv

Getting the circleci cli working better would be a really good thing. I think giving contributors a standard way to test the entirety of `dd-trace-go` that works well will make contribution easier.

I tried the circleci cli briefly and gave up fairly quickly, preferring to use `go test` on whichever package I change. Since we suggest circleci cli in the

[2020-05-05 15:39] roopakv commented on #655
@knusbaum i'll send you a PR later when i get some time

[2020-05-05 17:08] knusbaum commented on #653
This worries me too, but it looks like the Java, Ruby, .Net, and PHP tracers can all report generated spans:
https://docs.datadoghq.com/tracing/troubleshooting/?tab=php#tracer-debug-logs
Ruby reports spans as they are being written to the send buffer. I'm not sure exactly when the others log them.

That doesn't automatically mean *we* should, but there is precedence.

[2020-05-06 05:55] gbbr commented on #471
We have this in our backlog but didn't get around to it. There's a lot of edge cases to consider and scenarios that we need to test, so we would prefer to do this work internally, but thank you for offering 🙏

[2020-05-07 03:37] mingrammer commented on #650
I turned on the debug option, then these payload sizes were logged. But it is a bit weird. All logging seems were flushed at 2 seconds interval although some payload sizes are larger than [a limit](https://github.com/DataDog/dd-trace-go/blob/3f45f6d1a30653f2616fcb2df7affa978685c887/ddtrace/tracer/tracer.go#L76-L78).

<img width="1066" alt="Screen Shot 2020-05-07 at 11 36 10 AM" src="https://user-i

[2020-05-07 07:57] gbbr commented on #650
That limit you've linked to in the constant (`9.5MB`) is intentionally smaller than the actual limit which is [`10MB (10485760 bytes)`](https://github.com/DataDog/datadog-agent/blob/21258fb397db0b495db87f7c775e795fee8fc142/pkg/trace/api/api.go#L48).

We are working in this area actively now. I will keep this issue updated as we progress.

[2020-05-07 08:05] mingrammer commented on #650
Thank you!

[2020-05-09 21:53] vikpattabi opened #658 "internal/globalconfig: wrong mutex type acquired for SetServiceName"
https://github.com/DataDog/dd-trace-go/blob/435545bd358b5032d8e6e66cf1cab16c6a712a4c/internal/globalconfig/globalconfig.go#L50

I would expect the `SetServiceName` function should acquire a write mutex in the above line.  Happy to submit a PR for this if this seems reasonable.

[2020-05-11 07:44] gbbr commented on #658
You're right, thanks for catching this!

[2020-05-11 07:46] vikpattabi commented on #658
Yup, absolutely! Looks like I might need some permission to put up a PR to fix?

[2020-05-11 07:47] gbbr commented on #658
No permissions needed, just fork the repository and open a PR.

[2020-05-11 07:51] vikpattabi commented on #658
PR here: https://github.com/DataDog/dd-trace-go/pull/659

[2020-05-11 13:50] #658 closed

[2020-05-11 15:58] knusbaum commented on #658
This is fixed in `1.24.0-rc.4` and `1.23.3`

[2020-05-13 11:14] jippi opened #661 "proposal: allow span.Finish to return err"
Over at @seatgeek we keep doing this pattern today

[code]

would be nice to trim down to

[code]

or even

[code]

and have `span.Finish()`  return `nil` if no `tracer.WithError()` was called (or if the err was empty in said call) - its a pretty frequent repetitive pattern we do to finish the span and return an err in individual lines

The last example can even be shortened down to in a theoretic

[2020-05-13 11:23] gbbr commented on #661
I see. Personally I feel that if `Finish` were to return an error, it would have to be indicative of its outcome, whereas in this case it'd be there only superficially to simplify a very specific scenario. Not only that, but the return value would be dependent on an optional argument and would otherwise mean nothing. I don't think that's the way to go.

As for having an extra method, we've already

[2020-05-13 11:29] gbbr commented on #661
I would also like to advise that it's best to have only one `Finish` call per span, otherwise programming errors can occur and tracing might become inconsistent. For this reason, we sometimes do:
[code]
It's not the nicest approach, and possibly wouldn't be a great idea in an exported function or public API, but it can make things a lot simpler in a function with many return paths.

[2020-05-14 09:53] vdatcu commented on #376
Hi guys, any news on this?

[2020-05-14 09:55] gbbr commented on #376
No update. We're not currently looking to pursue this. If anything changes, we'll be updating this issue, simply subscribe to it to get notified.

[2020-05-15 17:28] knusbaum commented on #605
This is fixed as of `v1.24.0`, and docs are now visible at pkg.go.dev 😄

[2020-05-15 17:42] #643 closed

[2020-05-15 22:23] sheshnathmishra opened #662 "opentracer: not working with contrib"
We are facing an issue similar to [this](https://github.com/DataDog/dd-trace-py/issues/1153) where `tracer.StartSpanFromContext` return a new root span even if the context has active opentracing span. The function `ctx.Value(activeSpanKey)` returns `nil` if the active span is opentracing span as a result the parent-child association is getting lost.

**Library version**
dd-trace-go.v1 v1.18.0

**C

[2020-05-18 07:18] gbbr commented on #662
The integrations in the `contrib` folder are designed to work exclusively in conjunction with the `ddtrace/tracer` package. It is not possible to use any of the two interchangeably with the Opentracing tracer. They are two different systems.

Opentracing has their set of dedicated integrations at over https://github.com/opentracing-contrib/. Using the `opentracer` package will give you access to t

[2020-05-18 16:54] knusbaum commented on #640
Hi, @mingrammer. I have reopened this issue since we had to revert #642.

We can take another look at this issue and come up with another solution.

[2020-05-18 18:11] sheshnathmishra commented on #662
Thanks @gbbr that was helpful.

Also, adding couple of solutions, we evaluated:
a.  [inkbe/opentracing-sql](https://github.com/inkbe/opentracing-sql) is wrapper around database/sql and allows to pass tracer. This is compatible to opentracing.

b. Converting existing opentracing span by extracting the spancontext and recreating datadog span.

c. Our own custom wrapper, which allows much more flexib

[2020-05-18 18:11] #662 closed

[2020-05-18 20:58] zhammer opened #666 "proposal: add helper to get context attached to gorm db"
i'd like to add a publicly-accessible function that can return the context that ddtrace has attached to a gorm db. it would be the getter-equivalent of [WithContext](https://github.com/DataDog/dd-trace-go/blob/0543fdceec376b43b23031afc121db1bfc037458/contrib/jinzhu/gorm/gorm.go#L73-L82).

this is needed to get the context dd-trace-go has attached to a gorm db in db hooks. simplified example:
[code

[2020-05-19 08:04] gbbr commented on #666
I think something like that makes sense to have, but let's use the same style [as the standard library](https://golang.org/pkg/net/http/#Request.Context) and have this instead:
[code]

[2020-05-19 13:00] zhammer commented on #666
@gbbr works for me! need help with a PR or will you put this up?

[2020-05-19 13:23] gbbr commented on #666
We could definitely use help with a PR, we won't be able to do it soon otherwise... Feel free to!

[2020-05-19 21:45] zhammer commented on #666
PR #667

[2020-05-27 04:52] uudashr commented on #465
Do we have fix or conclusion on this?

I'm experiencing the same here.

[2020-05-27 06:07] gbbr commented on #465
@uudashr which tracer version are you using? The issue that this post describes has already been fixed. I'm going to close it but we can discus your specific issue either here or in a new issue if you wish to open one.

The asynchronous flushing of the queue was implemented in #549

[2020-05-27 06:07] #465 closed

[2020-05-27 16:05] johejo commented on #606
Hi.
I have created a package that supports v7, v8 of go-redis/redis.
https://github.com/johejo/dd-trace-go-redis
If you are interested, please give it a try.
Bug reports and PRs are welcome.
But I'm just a DataDog user so it is not official support.

[2020-06-01 11:16] ktr0731 opened #669 "contrib/google.golang.org/grpc: serverServiceName occurs data race"
Hi, thanks for the great project!
We found a data race related to `*config` in contrib/google.golang.org/grpc package.

L35 modifies `cfg.serviceName` without locking, so it occurs a data race when gRPC server is invoked concurrently.

https://github.com/DataDog/dd-trace-go/blob/f511c53cbbcb9c2fb1a9c051487dc9d07ca416dd/contrib/google.golang.org/grpc/option.go#L33-L41

To avoid this, we should use

[2020-06-02 07:06] gbbr commented on #669
Thanks a lot for bringing this up! I think you're right, it does seem like there could be a race here. I think your suggestion is fine, to change the function in such a way that it does not alter `cfg`. Would you like to contribute this change?

[2020-06-02 11:25] ktr0731 commented on #669
@gbbr
Thanks for reviewing the issue!
I'm interested in contributing to this project. And I created a Pull Request for fixing this issue.

[2020-06-02 12:15] gbbr commented on #669
You are most welcome to!

[2020-06-02 17:51] DarrenTsung opened #671 "ddtrace/tracer: WithGlobalTag does not apply to runtime metrics"
I'm using the tracer library for spans as well as reporting the standard runtime metrics for a Go application, and I thought that `tracer.WithGlobalTag("foo", "bar")` would apply to runtime metrics, but it does not.

It appears that runtime metrics only get the tags defined here:
https://github.com/DataDog/dd-trace-go/blob/66397230038c0b79d932452eba484879c6a40705/ddtrace/tracer/option.go#L138

And

[2020-06-03 06:14] gbbr commented on #671
I guess we could add them in there too, I don't see any reason not to. PRs are welcome :)

[2020-06-03 16:15] knusbaum commented on #471
To summarize what needs to be done:
 - Add go.mod file - This should not contain any contrib dependencies. Those should be resolved by the importing project. Compatibility can be controlled by versioned import paths.
- Remove a bunch of stuff from the CI pipeline - We no longer need to vendor particular versions for some things
- Use versioned import paths for some contrib packages

Let me know if

[2020-06-03 16:42] #666 closed

[2020-06-03 16:59] roopakv commented on #471
@knusbaum your contrib packages are wrappers so they can continue to be here (I think). You just need to make sure that they rely on go mod to fetch other packages (`go mod tidy` will help create the current dependencies you use)

However the second point you made is the main one. I would add in addition that you don't clone the repo within GOPATH. that would be a great test.

[2020-06-03 17:04] DarrenTsung commented on #671
@gbbr I opened at PR with #673 - seems like it needs a milestone attached to it before the checks run though.

[2020-06-04 13:25] gbbr commented on #471
Got an initial PR working in https://github.com/DataDog/dd-trace-go/pull/672. It also contains a CI refactor. @roopakv @mbyio comments welcome.

[2020-06-05 08:01] gbbr commented on #471
PR is merged. Help with testing welcome.

[2020-06-05 08:01] gbbr commented on #543
#672 has been merged, so we should be able to do this work now, if there is still interest.

[2020-06-05 08:01] gbbr commented on #606
#672 has been merged, so we should be able to do this work now, if there is still interest.

[2020-06-05 08:02] gbbr commented on #620
#672 has been merged, so we should be able to do this work now, if there is still interest.

[2020-06-05 09:16] gbbr commented on #543
There's a [v1.25.0-rc2](https://github.com/DataDog/dd-trace-go/releases/tag/v1.25.0-rc2) out for testing. It contains [a few other changes too](https://github.com/DataDog/dd-trace-go/compare/v1.24.1...v1.25.0-rc2). Feel free to try it out and give feedback. This does not mean that we freeze master and have started to prepare for releasing 1.25. It is just an intermediate testing step which require

[2020-06-05 09:16] gbbr commented on #471
There's a [v1.25.0-rc2](https://github.com/DataDog/dd-trace-go/releases/tag/v1.25.0-rc2) out for testing. It contains [a few other changes too](https://github.com/DataDog/dd-trace-go/compare/v1.24.1...v1.25.0-rc2). Feel free to try it out and give feedback. This does not mean that we freeze master and have started to prepare for releasing 1.25. It is just an intermediate testing step which require

[2020-06-05 10:46] #669 closed

[2020-06-09 06:29] #671 closed

[2020-06-09 21:27] patriczek opened #681 "Add support for go-pg integration"
Hi,  i would like to add new integration for go-pg orm.

https://github.com/go-pg/pg

[2020-06-10 08:21] gbbr commented on #681
Hi 👋 Thanks for the offer. I don't see why not! Before starting work, can we go over how we will approach the implementation here? Does this library provide any hooks for tracing?

[2020-06-10 08:52] patriczek commented on #681
Hi,
yes ofc they provide hooks, i have some preview here:
https://github.com/patriczek/dd-trace-go/commit/11a3cc4dd501ecbfe1d39af674fafe54cf64ed1e

[2020-06-10 11:57] gbbr commented on #681
I see! Thanks for sharing that! That's no problem at all. The approach looks good to me. You can open a PR if you like. However, I'd leave `Wrap` out of it. Providing only the `Hook` should be enough.

[2020-06-22 10:29] mingrammer commented on #552
Any update?

[2020-06-22 21:35] jareklupinski opened #684 "contrib/jinzhu/gorm: support v2"
The existing GORM module I am using, https://github.com/jinzhu/gorm, will be V2'd under https://github.com/go-gorm/gorm

I am testing a DataDog-enhanced repo for upgradeability to GORM V2, and would like to know if an adapter for the new GORM is in the works? Looking forward to it :) Thanks!

[2020-06-22 23:59] catkins commented on #552
@mingrammer I haven't had a chance to look at this myself. We had some company-specific stuff that we needed to do, so we ended up wrapping the tracing up in a higher-level bit.

[2020-06-29 08:12] gbbr commented on #684
Hi, not in the works, but welcome at `contrib/go-gorm/gorm`.

[2020-06-30 20:45] patriczek commented on #681
Sorry for delay, can you please check my MR: #686. Probably there must be some changes.

[2020-07-01 09:17] gbbr commented on #681
Yup. But please have a green CI.

[2020-07-01 09:31] patriczek commented on #681
I don't see which errors are in CI

[2020-07-06 08:53] dselim commented on #606
Is the plan for go-redis/redis v7 (and future v8) to have a `redis.v7` directory along side the current `redis` in contrib ?

It is my understanding that it was done for echo v4 #543

[2020-07-06 10:08] gbbr commented on #606
Correct. For each major version we want to have [a separate package](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/README.md#usage).

[2020-07-06 13:07] ichizero opened #689 "contrib/net/http: add support for customizing a resource name in RoundTrip"
`* roundTripper.RoundTrip` sets the fixed value `http.request` in a resource name tag, so it is not possible to analyze each endpoint on the APM service page.

https://github.com/DataDog/dd-trace-go/blob/5ec4cda2230dc7ffe5e833f47957234c4ba7d50c/contrib/net/http/roundtripper.go#L27-L33

Therefore, I propose that `*roundTripper.RoundTrip` supports ResourceNamer like contrib/gin-gonic/gin or contrib/

[2020-07-06 13:16] gbbr commented on #689
The default behaviour is as such because we don't want any potentially sensitive information in URLs to get away (auth tokens, etc). In other routers (like `gorilla/mux` and `gin`) we can use the route pattern which obscures all of that, but I guess this isn't possible in `net/http`.

I think it should be fine to add this feature and give more control to users. If you wish to open a PR, feel free

[2020-07-06 13:50] ichizero commented on #689
Thank you for your reply!

I understand why the default behavior is this way. With that in mind, I'll open a PR.

[2020-07-08 08:55] #689 closed

[2020-07-15 09:54] sullerandras opened #695 "Injected X-B3-Traceid header may be less then 16 characters long"
It seems like the `injectTextMap` function does not add leading zeroes to the traceid when it's emitted in hexadecimal:
https://github.com/DataDog/dd-trace-go/blob/9495abe376f6c458ce6f5c5620d3b1ef17e65d25/ddtrace/tracer/textmap.go#L309-L310

This causes issues in our Ruby app because that assumes the Traceid header will be at least 16 chars long:
https://github.com/twitter/finagle/blob/d2e7485782f

[2020-07-18 07:16] rakshans1 opened #697 "proposal: integrate with github.com/jackc/pgx"
How to integrate with https://github.com/jackc/pgx ?

[2020-07-20 07:18] gbbr commented on #697
We'd have to look at that library and see how it would be possible to integrate. If you want to help, best way to start is:

1. Look at our current integrations
2. Check if our current `database/sql` integration doesn't already supply everything needed to be used with this library.
3. Come back here and propose a plan in the issue.
4. Once we all agree, work can be started.

I'm not sure when we'l

[2020-07-29 21:26] priyanshi-gupta commented on #471
Released in [1.25.0](https://github.com/DataDog/dd-trace-go/releases/tag/v1.25.0)

[2020-07-29 21:26] #471 closed

[2020-07-29 21:37] knusbaum commented on #543
This has been merged in #698 and will be released in `v1.26.0`

[2020-07-29 21:38] #543 closed

[2020-07-30 06:30] mingrammer opened #699 "proposal: contrib/Shopify/sarama: support sarama.ConsumerGroup"
We are using `sarama.ConsumerGroup` of `Shopify/sarama` package, but there are only for `Consumer` and `PartitionConsumer`.

It would be good if the `ConsumerGroup` wrapper also is supported.

Thank you.

[2020-07-30 10:46] gbbr commented on #699
Is it easy to add? Would you be interested in doing the work?

[2020-07-31 02:21] wadrn opened #700 "proposal: integrate with github.com/valyala/fasthttp"
Proposal:
as fasthttp based server is up to 10 times faster than net/http, if we should integrate fasthttp in the framework?

[2020-07-31 07:46] mingrammer commented on #699
Yap. I'll try to implement it!

[2020-07-31 16:28] knusbaum opened #701 "ddtrace/tracer: add support for lambda tracing"
We want to add support for tracing in a serverless environment, specifically AWS lambda. There is already a [POC for the JavaScript tracer for this.](https://github.com/DataDog/dd-trace-js/pull/645)

In a serverless environment, we do not have an agent to which we can send traces. Instead, the current idea is to print traces to the log in a structured JSON format. The POC format is below. The only

[2020-07-31 18:48] ryanschneider opened #703 "question: best way to test pre-release versions?"
I'm interested in testing my code w/ the 1.26.0-rc2 prerelease, but haven't figured out the correct way to get that to work in my `go.mod` since the prerelease versions are not available at `gopkg.in`.

I tried using a replace directive like:

[code]

But that generates the error:

Is there an easy way to point to prerelease versions w/o changing all my imports to github.com instead of gopkg.in?

[2020-08-01 06:20] vatine opened #704 "Module path in go.mod seems to be incorrect"
Trying to download github.com/DataDog/dd-trace-go v1.25.0 fails with an error message indicating a skew between the path used to grab it and the name declared in the go.mod file. Example output:

[code]

The same error is seen with a `go get` rather than a `go mod download`.

Fixing this should be as easy as dropping the `.v1` off the name in the go.mod file.

[2020-08-03 12:28] gbbr commented on #700
Yes I think that would be fantastic! Would you be interested in doing the work? If yes, what's the easiest way to integrate with this library?

[2020-08-03 12:30] gbbr commented on #704
The canonical path for this repository is `gopkg.in/DataDog/dd-trace-go.v1` not `github.com/DataDog/dd-trace-go@v1.25.0`, as described in our [installation notes](https://github.com/DataDog/dd-trace-go#installing). I'm closing it, but feel free to re-open or comment if you feel that there is more to discuss.

[2020-08-03 12:30] #704 closed

[2020-08-03 13:47] vatine commented on #704
With Go 1.14, trying to do a `go get github.com/DataDog/dd-trace-go.v1@v1.25.0` fails with `go get github.com/DataDog/dd-trace-go.v1@v1.25.0: github.com/DataDog/dd-trace-go.v1@v1.25.0: invalid version: unknown revision v1.25.0` and simply  dropping the version number gives:
[code]

These tests have been done from inside the `golang:1.14-buster` docker image,

[2020-08-03 14:18] knusbaum commented on #703
Release candidates should work from gopkg.in without trouble.

I think the trouble you are having is due to your tag. The tag for the second release candidate for 1.26 is `v1.26.0-rc.2` rather than `v1.26.0-rc2`.

[2020-08-03 18:41] knusbaum commented on #695
I don't think that adding this would be a problem.

It's not made crystal-clear, but I think the [B3 specification](https://github.com/openzipkin/b3-propagation#traceid-1) says that these headers should be 16 (or possibly 32 for traceid) characters anyway, so I think we should change this.

[2020-08-04 07:40] gbbr commented on #704
Why are you using the github path again? The correct command is:
[code]
Or, you can selectively get less packages if you don't need all of them.

[2020-08-04 16:40] ryanschneider commented on #703
I see, the correct syntax is:

I originally tried it without the `/...` and got:

[code]

[2020-08-04 16:40] #703 closed

[2020-08-05 18:21] knusbaum opened #705 "Agent connectivity check causes errors in agent logs"
The connectivity check closes the connection early. (#685)
This causes errors to be logged in the agent:
[code]
The errors are harmless, but might confuse users. We should send the header `X-Datadog-Trace-Count: 0` along with an empty msgpack list to avoid triggering these errors in the agent.

[2020-08-18 07:47] speza commented on #270
Sorry to kick this issue back up a little bit, appreciate its been a couple of years (happy to raise a new issue if required).

We're currently using sqlx and DD tracing and still see duplicate traces. Obviously the reasoning here with these being multiple calls to the DB due to prepared statements.

We use sqlx `GetContext(...)` which ends up with 4 calls to `tryTrace(...)`. I end up with the fol

[2020-08-18 08:57] gbbr commented on #270
It would be nice to set a tag on the prepare statement, or even name the operation differently (e.g. `<driver>.prepare`) but I'm not sure if that's easily achievable. Do you have any implementation ideas?

[2020-08-18 14:43] speza commented on #270
Is there a chance that modifying the operation name could break this for people who are already using it?

Adding a new tag is an option.

So there is the `tryTrace(...)` in `contrib/database/sql/conn.go` method, which sets the span resource.name as `resource`.

Problem is that `resource` is mutated to equal the `query` value if a query is provided. On a prepared statement, query is passed in but

[2020-08-19 07:23] gbbr commented on #270
That's true. You're right. We shouldn't do that.

I think one approach is to add a new type in the code, something like:

[code]

Then we would modify `tryTrace` to take a `queryType` as the second parameter. This would then go onto the span as `sql.query_type` and one would be able to tell more details about what happened.

What do you think?

[2020-08-19 07:42] speza commented on #270
Yes, I think something like that would work nicely @gbbr. Happy to submit a PR if you like?

[2020-08-19 12:23] gbbr commented on #270
Please go ahead! Thanks!

[2020-08-19 19:23] goodspark opened #708 "Opentracing example is incorrect"
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace?tab=doc#example-package-Opentracing

[code]

The tracer object returned by `opentracer.New` does not have a `Stop` function.

[2020-08-21 08:35] gbbr commented on #708
True, but in the example, that's `t`, and `Stop` is called on `tracer`, not on `t`, which exists in the `tracer` package: https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer?tab=doc#Stop

[2020-08-21 08:35] #708 closed

[2020-08-21 13:18] abustany opened #710 "contrib/module/redigo: Does not work anymore with Go 1.15"
Version: v1.26.0

Calling `context.WithValue` with a `nil` context is forbidden since https://github.com/golang/go/commit/02057906f7272a4787b8a0b5b7cafff8ad3024f0, but redigo's `withSpan` does that.

[2020-08-24 07:45] gbbr commented on #710
@knusbaum can you please take a look?

[2020-08-24 08:35] #710 closed

[2020-08-31 15:20] patronmike opened #712 "contrib/jinzhu/gorm: package import is broken and not backward compatible"
`github.com/jinzhu/gorm` was moved and all go files in the default branch were deleted, so `go get github.com/jinzhu/gorm` fails.  The package import should be updated to `gopkg.in/jinzhu/gorm.v1` to be able to still use the old package.

Edit: I have a PR ready.

[2020-08-31 15:47] gbbr commented on #712
Thanks! Please feel free to do that. We will have to keep both paths though.

[2020-08-31 17:49] knusbaum opened #714 "proposal: Support github.com/go-gorm/gorm"
The `github.com/jinzhu/gorm` package has moved to `github.com/go-gorm/gorm` for v2.
We should look at support for that.

Related to #712

[2020-09-01 06:55] #712 closed

[2020-09-02 14:03] cube2222 opened #716 "proposal: contrib/jinzhu/gorm: Add custom tags."
Currently the gorm tracer only adds the query to the trace. It'd be very useful to have other tags like rows affected or the SQL query variable values used.

However, I suppose anything useful in this regard can be modelled as a function on *gorm.Scope which is available to the Callback. So I'd propose a new option, WithCustomTag, which receives a tag name, as well as a function which evaluates to

[2020-09-03 05:41] mingrammer commented on #714
Gorm v2 uses its own dialector interface which opens the `sql.DB` internally. So I think we should wrap or implement the gorm's new dialector interface.

[This](https://github.com/go-gorm/postgres) is an official dialector implementation for PostgreSQL.

[code]

[2020-09-03 06:32] gbbr commented on #716
I think this sounds like a great feature! Feel free to go ahead and add it! Thanks!

[2020-09-03 19:50] JDiPierro opened #720 "contrib/go-redis/redis: Support tracing of client.Pipelined and client.TxPipelined"
I'm using the `TxPipelined(fn func(Pipeliner) error) ([]Cmder, error) ` function of `go-redis` but not receiving traces for any of the calls made through the pipeline.

I was able to get these calls traced by adding the following code to the `contrib/go-redis/redis/redis.go` file:

[code]

If that looks good I'd be happy to write a test and open a PR for it :)

[2020-09-04 15:25] knusbaum commented on #714
@mingrammer I think implementing a [`Plugin`](https://pkg.go.dev/gorm.io/gorm?tab=doc#Plugin) would allow us to use the `Callback()` api to instrument gorm v2 the same way we do v1. Then to instrument a gorm db, you would just do something like
[code]

Would implementing the`Dialector` interface allow us to trace the library better, or is a `Plugin` sufficient?

[2020-09-06 14:39] mingrammer commented on #714
I think both ways are good options to achieve tracing purposes. But using `Plugin` and `Callback` could be a more general and extendible approach than implementing dialectors for all kinds of drivers.

[2020-09-07 07:57] #705 closed

[2020-09-07 08:06] CAFxX opened #722 "Support cloud.google.com/go/pubsub"
At Mercari we make heavy use of GCP Cloud PubSub. We would like to contribute a small wrapper that adds tracing to publish and subscripe operations: https://github.com/DataDog/dd-trace-go/pull/721.

(sorry if we didn't open an issue first!)

[2020-09-08 07:07] gbbr commented on #720
Looks good to me! Please go ahead! And sorry for the late response.

[2020-09-08 11:11] #716 closed

[2020-09-08 22:43] mickeyreiss opened #725 "contrib/twitchtv/twirp: ServerHooks incompatible with twirp.ChainHooks"
It seems that the twirp ServerHooks returned by `twirp.NewServerHooks` is incompatible with `twirp.ChainHooks` when another hook that runs after this one starts a new span.

This means that `tracer.SpanFromContext` returns a different span in `responseSentHook` than the one that was started in `requestRoutedHook`. This results in a span that leaks without ever finishing because the wrong span is `

[2020-09-09 05:33] gbbr commented on #725
@cgilmour would you mind taking a look?

[2020-09-09 14:26] marciorodrigues87 opened #728 "gopkg.in/DataDog/dd-trace-go.v1/contrib/net/http not setting span as error on HTTP 500"
Hi guys! Looks like the http client tracer isn't setting the span as error when there's a 500 status code response

<img width="467" alt="Screen Shot 2020-09-09 at 11 20 13" src="https://user-images.githubusercontent.com/4513509/92610962-ad00a580-f28e-11ea-9eb6-3255f0730a9c.png">

Maybe add something here: https://github.com/DataDog/dd-trace-go/blob/v1/contrib/net/http/roundtripper.go#L62 to mark

[2020-09-09 16:13] marciorodrigues87 commented on #728
Here's a workaround:

[code]

[2020-09-11 08:43] jippi commented on #507
Hi, any chance to revive this integration? been 12 months since the last update, it would be fair to think either they changed their interfaces by now, or they never did anyway :)

[2020-09-11 10:00] #722 closed

[2020-09-11 14:58] knusbaum commented on #443
Since #450 was rejected, we should decide how to proceed on this proposal.
@gbbr, is this proposal still viable? Should we attempt option 2 (Add a new option to the gRPC package)?

[2020-09-11 15:14] knusbaum opened #729 "Develop process for supporting v0 libraries."
We generally don't support v0 libraries since they are unstable. This should mostly continue to be true.

 However, some popular libraries (such as gqlgen #507) stay in v0 for long periods of time. We should see if we can develop a sensible process for supporting v0 libraries like this, where users would get significant value out of an integration.

[2020-09-11 15:17] knusbaum commented on #507
We should figure out how we want to support v0 libraries. (#729)
Gqlgen is requested a lot and we want to support it.

I don't know when they plan on publishing v1, but according to this comment by @vektah (https://github.com/DataDog/dd-trace-go/pull/515#issuecomment-559480785), the handler refactor is done.

[2020-09-12 17:16] lbcjbb opened #732 "contrib/garyburd/redigo panics with go 1.15"
Create context from nil parent is no longer supported by go 1.15.
Even if we're using the Do() method with a explicit context in the last argument, the Conn.Close() (called by garyburd/redigo) will panic because a Do("") is called inside.

[2020-09-14 15:32] drewlesueur opened #733 "StartSpanConfig.Parent will not work with anything that satisfies SpanContext"
I am wondering if I am reading the documentation wrong, but it seems that when using a [ddtrace.StartSpanConfig](https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace#StartSpanConfig), I should be able to use anything that satisfies [ddtrace.SpanContext](https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace#SpanContext) as `Parent`.
So when using [tracer.ChildOf](https://godoc.org/gopkg.in

[2020-09-15 14:04] #701 closed

[2020-09-15 14:43] janbuecker opened #735 "contrib/labstack/echo: Add skipper option for echo integrations"
Most of the middlewares that come from labstack itself have the option to skip the middleware. It should be possible to skip tracing for certain conditions.

[2020-09-16 06:56] janbuecker commented on #735
After thinking about the problem again, it turns out that it is easier to tag the trace with the manual drop. So this change is not needed anymore.

[2020-09-16 06:56] #735 closed

[2020-09-16 14:58] knusbaum commented on #606
There is a PR open for `go-redis/redis.v8` #727

[2020-09-16 19:55] knusbaum commented on #733
Hey @drewlesueur. Thanks for the question.
### Why it doesn't work
The interfaces in `"gopkg.in/DataDog/dd-trace-go.v1/ddtrace"` define how a tracer should behave.

We have 3 implementations of the tracer described by `"gopkg.in/DataDog/dd-trace-go.v1/ddtrace"`:
- `"gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer"` - The standard datadog tracer
- `"gopkg.in/DataDog/dd-trace-go.v1/ddtrace/opentracer

[2020-09-16 19:58] knusbaum commented on #732
Fixed in #731

[2020-09-16 20:14] #720 closed

[2020-09-16 20:37] #732 closed

[2020-09-16 20:42] knusbaum commented on #714
I think we should go with the `Plugin` approach for now. It should let us mostly reuse the existing gorm integration, meaning the v2 integration should be mostly the same as v1.

We may even be able to reuse the code in v1 directly rather that copy/pasting it, although I haven't looked into that.

[2020-09-16 22:17] knusbaum commented on #728
This seems like a good idea. We do the same thing in the `gin-gonic/gin` integration (#449)

It should be as simple as setting the `ext.Errors` tag [exactly where you suggested](https://github.com/DataDog/dd-trace-go/blob/e7d03f2c9f20f6b31de1ae1635192e4f3109702e/contrib/net/http/roundtripper.go#L62) like we do [in the `gin-gonic/gin` integration](https://github.com/DataDog/dd-trace-go/blob/e7d03f2

[2020-09-16 22:42] marciorodrigues87 commented on #728
Nice! Thank you for the tips @knusbaum! Here's the PR:

https://github.com/DataDog/dd-trace-go/pull/736

[2020-09-17 15:20] #728 closed

[2020-09-17 17:31] drewlesueur commented on #733
Thank you very much for the response.
Using Extract with a struct that implements TestMapReader worked great.

[2020-09-17 17:31] #733 closed

[2020-09-21 01:01] adw1n commented on #699
It's a duplicate of https://github.com/DataDog/dd-trace-go/issues/552

[2020-09-21 15:55] knusbaum opened #737 "Make ddtrace.StartSpanConfig, ddtrace.FinishConfig internal"
`ddtrace.StartSpanConfig` and `ddtrace.FinishConfig` are defined in and exported from package `ddtrace` so that the start and finish options can be shared among the tracers. However, by exporting them, it also exposes them as an API to our users, which we actually don't want.

It means that we have to be careful when adding or removing items from the structures, even though they are implementation

[2020-09-21 16:03] gbbr commented on #737
I am not against this change, but leaving it here as an argument that people _could_ in theory write their own start and finish (functional) options using these structures, as long as they are exported. I also find it odd to see unexported or inaccessible types referenced in signatures of public API, which would be the case here if we made these internal.

[2020-09-21 19:34] knusbaum opened #741 "proposal: Unify Option Naming"
The option naming convention for configuring the tracer and spans is slightly inconsistent.
When configuring on/off options, we sometimes have `With[X](bool)` (e.g. [WithAnalytics](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.26.0/ddtrace/tracer#WithAnalytics), [WithDebugMode](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.26.0/ddtrace/tracer#WithDebugMode)) and other times, we hav

[2020-09-21 23:34] knusbaum commented on #737
I like the idea that people could write their own start and finish options, but I'm having difficulty producing a *useful* start or finish option that a user could write by using `ddtrace.StartSpanConfig`.

For instance, [`ddtrace.StartSpanConfig`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace@v1.26.0#StartSpanConfig) has a `Parent SpanContext`, but it can already be set with `https:/

[2020-09-22 11:24] gbbr commented on #737
Thanks a lot for taking the time to describe your point of view with so much detail and accuracy. I have nothing more to say. There is nothing I disagree with. 👍

[2020-09-22 15:43] #725 closed

[2020-09-22 17:14] xrn commented on #646
@gbbr it could be probably closed :)

[2020-09-24 00:13] knusbaum commented on #646
Done. :)

[2020-09-24 00:13] #646 closed

[2020-09-24 00:15] knusbaum commented on #699
Thanks, @adw1n.
Closing this as a duplicate of #552

@mingrammer we can continue on that ticket.

[2020-09-24 00:15] #699 closed

[2020-09-24 12:53] StefanoVarotti opened #744 "contrib/net/http: Handler sends stack trace even if http.NoDebugStack is passed"
Wrapping a http.Handler or using ServeMux with the `http.NoStackTrace` option does not disable stack traces on http requests that failed.
This is due to the httputil.ResponseWriter wrapper calling SetTag directly instead of sending the error through `span.Finish`.
IMO the handler wrapper [should send the error using `span.Finish`](https://github.com/DataDog/dd-trace-go/compare/v1...StefanoVarotti:

[2020-09-28 19:48] knusbaum opened #745 "Look for zero responses from http integrations"

[2020-10-02 13:58] xrn opened #750 "Tag v1.27.0 as a release"
Hi,

Via tags, I see that we have new version v1.27.0 - https://github.com/DataDog/dd-trace-go/releases/tag/v1.27.0 also milestone is closed https://github.com/DataDog/dd-trace-go/milestone/48 but it is not visible on releases dashboard https://github.com/DataDog/dd-trace-go/releases

[2020-10-02 18:18] knusbaum commented on #750
Hi, @xrn.
We were just finalizing the release notes.
It should be available now under releases here: https://github.com/DataDog/dd-trace-go/releases/tag/v1.27.0

[2020-10-02 18:18] #750 closed

[2020-10-03 04:37] mickeyreiss opened #752 "proposal: contrib/cloud.google.com/go/pubsub should support custom service names"
It is useful to be able to configure span options, such as a default service name, but `pubsubtrace.WrapReceiveHandler` does not allow this override.

In particular, this signature:

[code]

doesn't allow one to set the service name.

Maybe it should be something like this:

[code]

Here's sql trace, for comparison, which does allow overrides via the third parameter on:

[code]

[2020-10-03 09:20] aeneasr opened #753 "Build fails everywhere except Linux, Windows, macOS"
[code]

[2020-10-05 15:43] #753 closed

[2020-10-05 17:06] lizfeed opened #756 "use DD_AGENT_HOST for submitting traces"
Right now the tracer defaults to [sending traces](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/option.go#L109)  to [localhost](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/transport.go#L43-L45), and can only be overridden by [an explicit option](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/option.go#L309-L315):

But if the agent is located on anot

[2020-10-05 19:04] knusbaum commented on #756
Hi, @lizfeed.

The tracer should pick up and use the variables `DD_AGENT_HOST` and `DD_TRACE_AGENT_PORT`, as seen here:
https://github.com/DataDog/dd-trace-go/blob/54b73b3e126a7489ed774c98aadd301488e44123/ddtrace/tracer/transport.go#L156-L161

Let us know if that works for you.

[2020-10-05 19:11] knusbaum commented on #752
Enabling users to specify things like the service name is ideal.

I think 'WrapReceiveHandler` could just take a variadic list of [StartSpanOption](https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#StartSpanOption), and we can add those to a list of the existing options.

We *do* want to maintain backwards-compatibility, so we should give this function a new name, and have `WrapRece

[2020-10-05 19:16] lizfeed commented on #756
oh, my mistake! I thought this explained a weird behaviour I was seeing,
but it must have been something else. Feel free to close.

On Mon, Oct 5, 2020 at 3:04 PM Kyle Nusbaum <notifications@github.com>
wrote:

--

Liz Frost | she/her | Staff Software Engineer | Principal Prancing Pony
Poster

[2020-10-05 19:22] knusbaum commented on #756
Thanks, @lizfeed
Let us know if you're seeing inconsistent behavior or if there's anything else we can help answer.

[2020-10-05 19:22] #756 closed

[2020-10-06 15:09] knusbaum opened #758 "proposal: Improve CI linting"
Based on #753 we need to do better checking of the source to catch issues with other GOOS/GOARCH.

@aeneasr [suggested linting](https://github.com/DataDog/dd-trace-go/pull/754#issuecomment-703434513) would help with this.

A quick look shows that the [`gometalinter`](https://github.com/alecthomas/gometalinter) has been deprecated in favor of [`golangci-lint`](https://github.com/golangci/golangci-l

[2020-10-14 06:39] CAFxX opened #760 "proposal: database/sql: should trace also the time spent connecting"
It seems like currently the database/sql tracing [does not create a span for time spent establishing connections to the database](https://github.com/DataDog/dd-trace-go/blob/54b73b3e126a7489ed774c98aadd301488e44123/contrib/database/sql/sql.go#L108-L147), and this time is not included in the time reported in query spans.

This can lead to confusion, as establishing a connection can be surprisingly

[2020-10-14 10:19] gbbr commented on #760
Hi Carlo!

I think this is nice to have. I also think we should align ourselves with our other tracers, likely going for option number 2, which makes most sense to me. Would you be interested in doing this change?

[2020-10-16 05:16] isbang opened #763 "proposal: option for ignore sampling on error"
It would be great if there is an option for ignore sampling on error.

#### Example
[code]

#### Result
[code]

[2020-10-16 09:26] gbbr commented on #763
Errors are very relevant to most users, why do you want this functionality? To ignore some trace resources, it's also possible to use `apm_config.ignore_resources` in the agent ([link](https://github.com/DataDog/datadog-agent/blob/master/pkg/config/config_template.yaml#L770))

[2020-10-16 12:25] isbang commented on #763
I think the meaning was misrepresented. I thought "sampled" means "filtered (not captured)". (my mistake. sorry)

In my case, I use datadog apm to trace error sometime. And almost of the case, the span with error was not captured because of 0.1 analytics rate and could not be traced. Then I thought if there is an option to ignore analytics rate, it would be useful. It is just a simple, creative id

[2020-10-16 12:29] gbbr commented on #763
The trace should be captured regardless, especially for errors. The analytics rate only defines what ends up in App Analytics, it doesn't mean that the trace won't be accessible in Datadog.

If there are certain select spans that you would definitely want to keep, you can simply add a priority onto them:
[code]
This will guarantee that the span ends up in Datadog. Do note though that using this ev

[2020-10-16 12:36] isbang commented on #763
Wow, thanks for your help. I didn't know there was such an option. And I'll reach out through support after I review once more to see if there is a problem with the DataDog agent.

It's ok to close Issue. Thank you again.

[2020-10-16 12:38] gbbr commented on #763
You're welcome! Anytime!

[2020-10-16 12:38] #763 closed

[2020-10-19 14:13] polera commented on #650
I've seen this behavior in the wild as well - is there a branch in progress addressing this?

[2020-10-19 17:57] knusbaum commented on #650
@polera
Starting in agent 7.21.0 the max payload is increased in the agent from 10MB to 50MB, which should help. The size is also configurable in the agent via the config `apm_config.max_payload_size` if you want it to accept larger payloads.
https://github.com/DataDog/datadog-agent/pull/5502

[2020-10-21 03:15] CAFxX commented on #760
Hard for me to commit right away. This will stay on my radar, but I'm not sure when I will be able to get to work on it, so if anybody is interested or has the spare cycles... please go right ahead.

[2020-10-21 03:26] CAFxX opened #764 "proposal: implement the v0.5 transport"
datadog-agent [recently added support for a new trace ingestion endpoint](https://github.com/DataDog/datadog-agent/blob/master/CHANGELOG.rst#7220--6220) that is expected to be especially beneficial to lower memory usage and possibly cpu usage of the agent:

IIUC this is [not yet supported by dd-trace-go](https://github.com/DataDog/dd-trace-go/blob/977bbb89f54010b920264aeda051b5a67f46c26a/ddtrace/t

[2020-10-21 06:41] gbbr commented on #764
This is true. We should also implement this new endpoint ([spec](https://github.com/DataDog/datadog-agent/blob/7.22.0/pkg/trace/api/version.go#L21)).

[2020-10-22 07:26] HowJMay opened #765 "Support opentelemetry tracing APIs"
Now Datadog dd-trace-go lacks support of [Opentelemetry](https://github.com/open-telemetry/opentelemetry-go) tracing APIs. This is such a critical issue, since both Opencencus and Opentracing are merged into Opentelemetry. A lack of such tracing API supporting, it would be such a barrier for golang projects which need to conduct tracing.

Is there a way to connect to Datadog with Openetelemetry at

[2020-10-24 04:05] marcind opened #767 "contrib/gin-gonic/gin: support globalconfig.ServiceName()"
Right now the gin trace middleware requires passing in a service name and it does not reference `globalconfig.ServiceName()`. Consider adding support for using the value of `globalconfig.ServiceName()` if the serviceName value passed into the middleware factory function is `""`. This will allow callers to opt into using the global service name without requiring a new overload to the middleware fac

[2020-10-26 08:57] gbbr commented on #767
I'd be happy if you were to open a PR for this. And yes, I agree with you that the signature of `Middleware` could be better.

[2020-10-27 01:38] johejo commented on #764
Implementation in other dd-trace
- https://github.com/DataDog/dd-trace-java/pull/1679
- https://github.com/DataDog/dd-trace-js/pull/1052

What is the priority of this issue within the dd-trace-go maintainer?
Hot or waiting for the community to contribute?

[2020-10-28 05:00] marcind opened #769 "contrib/aws/aws-sdk-go: multiple StartSpan/single Finish for request retries"
The AWS SDK integration wraps a session, adding handlers for `Send` and `Complete` events. The `Complete` event handler will only run once for a particular call to the AWS SDK (see [`Request.Send()`](https://github.com/aws/aws-sdk-go/blob/d1930f00fd9f6a4312fb7a756130ae6e1ec7b4d7/aws/request/request.go#L512-L516)), but the `Send` handler runs once per each retry attempt (i.e. actual HTTP call to AW

[2020-11-02 19:07] vjfreestar commented on #700
Is anyone working on this project at this moment :)

[2020-11-03 18:41] jirikuncar opened #772 "proposal: contrib/testing: add an integration to support tracing tests under CI systems"
Along the same lines as the Python and Ruby tracers have done in https://github.com/DataDog/dd-trace-py/pull/1741 and https://github.com/DataDog/dd-trace-rb/pull/1216, we want to add some basic support for tracing go tests running in a CI environment.

This mostly consists of detecting the CI environment and adding specific tags that the backend understands to spans representing the go tests.

We

[2020-11-03 18:54] knusbaum commented on #772
Can we clarify a bit the difference between the go1.14+ and go1.12-1.13 interface and why it's different?

I'm concerned that `ConfigureTracer` takes over the TestMain function. It means that the function must be the last thing called in `TestMain` and doesn't let the user do post-test processing. I think a `defer` pattern would be preferable.

[2020-11-04 08:53] jirikuncar commented on #772
@knusbaum go 1.14+ has [`t.Cleanup(f func())`](https://golang.org/pkg/testing/#T.Cleanup) method which can be used to automatically register span closing. The `FinishSpanFromContext(ctx)` would be a noop function in go 1.14+.

[2020-11-04 10:47] gbbr commented on #772
What is currently stopping us from using the existing tracing package and functions as they are, in tests? What is missing? Can we have a problem definition (e.g. what we are trying to solve) ?

If we can do it with the tracing package, I don't think we need helper methods.

However, once we have a clear problem definition, we may be able to come up with a testing package along the lines of what @

[2020-11-04 15:28] jirikuncar commented on #772
@gbbr we want consistency in span tags with other languages, so they show up correctly in UI.

[2020-11-04 15:46] knusbaum commented on #772
I've added a description to the issue.
@jirikuncar please update it further if I've misstated anything or left something out.

[2020-11-04 17:57] #483 closed

[2020-11-05 14:35] gbbr commented on #772
The description helps. Sounds like we need a `contrib/testing` package. Let's define the things that this package should do, such as:
* Extract CI specific `Tags` (started in #770)
* Investigate the best approach API-wise to instrument tests.

[2020-11-05 14:38] gbbr commented on #772
Going deeper on the second point, I'd vote against the `ConfigureTracer` proposal because this takes using `m` and `m.Run` out of the user's hands and abstracts it away, stopping him from making any kind of additional `TestMain` changes. Instead, we should just include this into the example file which illustrates usage.

It may already be possible to automatically add all the CI tags within `TestM

[2020-11-06 02:23] knusbaum commented on #700
@vjfreestar I don't believe anybody is working on this currently. Are you interested in working on it?

[2020-11-13 16:33] SamProtas opened #774 "Propagate HTTP Server Trace to HTTP Client Trace *Without* Cancellation"
We have a use case with an HTTP server that occasionally issues "fire and forget" HTTP requests to another service.

We'd like to attach these traces for visibility into the system, but we purposely do _not_ want to link the lifetime/deadline of the inbound HTTP Request handler to the outbound HTTP request due to latency concerns.

My understanding of the context API seems to indicate there's no w

[2020-11-16 18:55] knusbaum commented on #774
It's true that we use go's context package to propagate traces. If you want to "unlink" everything from the downstream http call except the trace, you could simply attach the active span to a new `context.Background()` like so:
[code]
If I understand your case correctly, I think this will do what you want. The `newCtx` deadline, etc will be totally disassociated from the original `Request`'s, but

[2020-11-16 19:44] SamProtas commented on #774
This looks like exactly what I needed. Thank you!

[2020-11-16 19:46] knusbaum commented on #774
Fantastic, I'll close this then. Feel free to reopen if needed.

[2020-11-16 19:46] #774 closed

[2020-11-18 07:54] abruneau opened #778 "contrib/elastic/go-elasticsearch: Add support for github.com/elastic/go-elasticsearch"
given the [olivere/elastic](https://github.com/olivere/elastic) is tentative on v8 and the official support is the long term choice for most customers it is important to add support for [elastic/go-elasticsearch](https://github.com/elastic/go-elasticsearch)

[2020-11-18 08:43] pwmcintyre commented on #661
i've been doing this, but i hate it....
[code]

but i would rather just always include error, and `Finish()` would just know what to do with it
[code]

[2020-11-18 13:52] stroem opened #779 "Support for extracting b3 propagation trace id with 128 bits"
When I try to extract a b3 tracing id of len 32 (128 bits) it fails to parse it.
https://github.com/DataDog/dd-trace-go/blob/a2e9dddb51db578b503d570ce3127d18b8fb93ce/ddtrace/tracer/textmap.go#L337

Reading the specification for the headers it states that the X-B3-TraceId header is encoded as 32 or 16 lower-hex characters.
https://github.com/openzipkin/b3-propagation#identifiers

Would be nice if y

[2020-11-19 02:02] ridhoperdana commented on #700
any update on this? I am stuck with the usage of `context.Context` on tracer package because fasthttp use its own context type.

[2020-11-19 15:16] knusbaum commented on #779
Related to #695

[2020-11-19 15:18] gbbr commented on #779
I guess we can close now.

[2020-11-19 15:18] #779 closed

[2020-11-20 07:52] stroem commented on #779
Added support for B3 extract for dd-lambda-wrapper: https://github.com/DataDog/datadog-lambda-go/issues/50
(@gbbr, would you like to take a look at it?)

[2020-11-23 15:49] knusbaum commented on #700
@ridhoperdana This is still on our radar but is not being actively worked on. If you have questions about our use of `context.Context` we can provide you some guidance.

[2020-11-23 16:11] knusbaum commented on #661
@pwmcintyre Thankfully you don't need to do the first thing, even today. Instead, you can do:
[code]
`tracer.WithError` will have no effect if `err` is nil, so you don't need to check it. `tracer.WithError` already knows what to do with it, as you said you would prefer.
It's still not as nice as it could maybe be since it requires an anonymous function wrapper, but I think it's nicer than what you

[2020-11-23 16:14] knusbaum commented on #764
@johejo We can't give a timeline for this yet, but it is something we are very aware of.
If the community is able to contribute, that is always welcome.

I will note the user interest in this and make sure the priority is set appropriately.

[2020-11-24 01:31] ccbrown commented on #205
There's now a `LogFields` implementation, but... it seems to do something totally wrong?

https://github.com/DataDog/dd-trace-go/blob/v1.27.1/ddtrace/opentracer/span.go#L43-L64

It just set some tags for a few of the common fields and assumes that logged messages are always error messages. 🤔

[2020-11-24 09:40] gbbr commented on #764
Since this requires several changes to the code structure to allow creating different payloads (perhaps using the same transport structure), let's discuss the approach here before committing to writing code, if possible.

[2020-11-24 23:34] pwmcintyre commented on #661
@knusbaum thanks for the tip

question, surely you don't need the anonymous function, since it's just one line - eg:
[code]

this is nice, i like it 👌

[opinion] this should be promoted in the docs!

[2020-11-24 23:43] tills13 commented on #700
I think I'm running into the same issue as @ridhoperdana.

fasthttp uses it's own context-like interface (`RequestCtx`) for its handlers. In my case, I've setup a wrapper for these handlers that ideally would inject a new span into the context:

[code]

example usage:

[code]

I believe I need to use `parentCtx` to really glue everything together, but downstream handlers (`h`) - again - require a

[2020-11-25 00:18] ridhoperdana commented on #700
@knusbaum From what I see the context is used to help if someone wants to create a child span inside whatever function that used the same context, am I right?

@tills13 So you modified the `RequestCtx` of fasthttp to implement the `context.Context` interface?

Right now I am just ignoring the `context.Context` usage, by using a `context.Background` inside the handler, and omit the return of `paren

[2020-11-25 00:42] tills13 commented on #700
no, RequestCtx already implements context.Context -  if you look below [here](https://github.com/valyala/fasthttp/blob/master/server.go#L541), you'll see that it implements all the methods required by context.Context. [There's a test](https://github.com/valyala/fasthttp/blob/master/server_test.go#L23) which ensures it implments context.Context.

The issue to me seems that you can use a RequestCtx

[2020-11-25 02:36] ridhoperdana commented on #700
Wow thanks for the detailed response, and how silly I am not knowing that the `RequestCtx` already implement `context.Context`.
Your solution to inject the span value inside the `RequestCtx` is a very good one. Maybe adding a helper to transfer it into standard `context.Context` will make it better, since I suppose we don't use `fastHttp RequestCtx` inside all our sub-function.

[2020-11-25 05:57] tills13 commented on #700
That's what `MakeChildSpanContext` does.

I'm not sure if it's always the case but it seems to me like a good idea to only really use `RequestCtx` in handlers but `context.Context` everywhere else since you can pass in a `RequestCtx` where a `context.Context` is required.

[2020-12-01 16:00] #752 closed

[2020-12-01 16:25] knusbaum commented on #661
@pwmcintyre Unfortunately, the anonymous function is still required even though it's only one line.
It is because Go evaluates the arguments to deferred functions when it encounters the `defer`, not when it actually calls the deferred function.

Here, `tracer.WithError(err)` is evaluated right away when we encounter the `defer`. If err is set *after*, in the `...` section, it won't be picked up.
[

[2020-12-02 01:13] pwmcintyre commented on #661
@knusbaum appreciate the response, I recently found this out the hard way when my spans were failing to report errors 😅

Raised some discussion here
https://www.reddit.com/r/golang/comments/k1s78r/defer_versus_defer_func

[2020-12-09 03:18] mingrammer commented on #160
Any progress?

[2020-12-09 07:52] pierrre commented on #160
FYI it's not an issue for me anymore.
I've implemented my own tracing for Redis, using opentracing.
(I'm still using Datadog as "tracer")

The version 8 of the Redis library helped me a lot, because it's possible to have "hooks" for each commands,
and all the functions now accept a context argument.

[2020-12-09 14:37] alainstoffels opened #783 "proposal: make DD_TAGS space separated"
We have a AWS ECS cluster which runs the Datadog agent and our services which are monitored with Datadog. We're using the `DD_TAGS` environment variable to set a couple of tags. We want these tags on the infrastructure hosts (which are set by the agent) and on all of our traces (which are set by this dd-trace-go package).

[The agent requires these tags to be space separated](https://docs.datadogh

[2020-12-10 18:29] ryanschneider opened #785 "proposal: Add finalizer to help debug spans left open"
I've been debugging an app that seems to have a leak because one or more spans aren't being closed, I think it'd help debugging if Span had an debug option to use https://golang.org/pkg/runtime/#SetFinalizer to set a finalizer that reports the stack trace for any spans that are left open.

For example go-cloud uses this to warn about forgetting to call `.Close` on a blob: https://github.com/google

[2020-12-10 23:04] #767 closed

[2020-12-11 07:49] gbbr commented on #785
While that would be interesting, I'm afraid we don't want to do that because even though I see the small benefit in your specific scenario, finalizers are not something we want to start adding into the code.

From https://golang.org/pkg/runtime/#SetFinalizer:

I also recommend reading https://crawshaw.io/blog/tragedy-of-finalizers

[2020-12-11 14:36] ryanschneider commented on #785
It's a large code base and the leak has only happened once in the last year. Basically what I'm proposing is what he proposes as the one good use of finalizers in his follow-up blog post: https://crawshaw.io/blog/sharp-edged-finalizers

(Though of course I would argue a panic is way too severe for a package.) But yes we can add the finalizer locally, I'll take a stab at it next week time permittin

[2020-12-12 18:12] andrei-dascalu opened #787 "Proposal: support github.com/gofiber/fiber"
Fiber framework is a fairly popular framework that deserves support.

[2020-12-14 16:36] gbbr commented on #785
Thanks for understanding. If you wish, feel free to share how that investigation goes, perhaps we can make use of it in the future when similar situations arise...

[2020-12-16 14:31] stroem opened #790 "contrib/gorilla/mux: skip tracing for some requests"
Would be nice to skip creating spans for some of the requests.
Like e.g health-endpoints.

ochttp solves it this way (https://github.com/census-instrumentation/opencensus-go/blob/master/plugin/ochttp/server.go#L74):
[code]

[2020-12-16 14:50] stroem opened #791 "ddtrace/tracer/writer: metadata doesn't support newlines"
When running dd-lambda-go with FLUSH_TO_LOGS enabled and have metadata values which contains newlines
the writer outputs every newline as a new log entry.

Would be nice if this could be looked at

[2020-12-16 17:37] jreyeshdez commented on #791
I am also experiencing similar issues using latest `datadog-lambda-go` [release](https://github.com/DataDog/datadog-lambda-go/releases/tag/v0.9.0), specially when trying to also trace SQL queries from Postgres, when the SQL query is long and has newlines, the writer outputs every newline as a new log entry, and for some reason there are no traces at all. What is more, Datadog interprets some of th

[2020-12-17 08:30] gbbr commented on #790
This sounds good to me, and the PR is close to what we want. I'd like to suggest playing with the naming a bit, perhaps bringing it closer to what we have in the [gRPC integration](https://github.com/DataDog/dd-trace-go/blob/b29d64bc922324ea53a42a80bd8f3e2abb76b7fc/contrib/google.golang.org/grpc/option.go#L139-L149) for similar functionality. How about `WithIgnoreRequest` ?

[2020-12-17 22:49] Jesse-Cameron opened #793 "ddtrace/tracer childOf fails if parent span does not contain sampling tags"
👋  Just wanting to confirm if this is the expected behaviour or not.

I am implementing distributed tracing in datadog via an SQS queue. The trace flow is basically `ScalaApp -> SQS -> GolangApp`. I am using the TextMap injector to add the span context into a [message attribute](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html). The [scala librar

[2020-12-22 03:29] mhamrah commented on #765
Upvote

[2020-12-22 22:41] knusbaum commented on #783
We have this in our work queue.

[2020-12-22 23:40] andrewsouthard1 commented on #765
Hey all! We currently have support for the Opentelemetry Collector today: https://docs.datadoghq.com/tracing/setup_overview/open_standards/#opentelemetry-collector-datadog-exporter.

If you are using the Collector, you can send traces to Datadog. The Collector today however can only receive traces from OTel SDKs.

If you are not using the Collector, we are evaluating support next quarter for using

[2020-12-22 23:44] mhamrah commented on #765
Either of those would be great. I was able to get k8sprocessor to tag trace
data with Kubernetes info, however, I can’t figure out container Id
handling to see container metrics in system view of APM.

On Tue, Dec 22, 2020 at 6:40 PM Andrew Southard <notifications@github.com>
wrote:

[2020-12-23 02:24] knusbaum commented on #638
Closing as stale. Please reopen if you have more info.

[2020-12-23 02:24] #638 closed

[2020-12-23 09:09] pierrre opened #798 "ddtrace/tracer: span.SetTag() should check if value implements `String()`"
`span.SetTag` currently checks if the value is an error/bool/string/number.
Then if the value's type is not managed, it calls `fmt.Sprint()`.

I think it should also check if the value implements `.String()`, and call it.
It would avoid to call `fmt.Sprint()`, which uses reflection, and consumes a lot of CPU.

I did a CPU profiling of my application, and the CPU time spent calling `fmt.Sprint()` i

[2020-12-23 09:11] pierrre commented on #798
If it's OK I can submit a PR.

[2020-12-23 19:35] #787 closed

[2020-12-23 19:48] knusbaum commented on #798
@pierrre, This sounds like it could be a good change.

`fmt.Sprintf()` will use the `.String()` method anyway, meaning the values won't change, so if checking for a `.String()` method improves performance noticeably, we can do it.

Please include benchmarks in your PR demonstrating the performance gain. We prefer [`benchcmp`](https://pkg.go.dev/golang.org/x/tools/cmd/benchcmp) for comparisons.

[2020-12-24 13:22] pierrre commented on #798
https://github.com/DataDog/dd-trace-go/pull/799

[2020-12-28 22:46] #790 closed

[2020-12-29 22:18] #798 closed

[2020-12-30 22:50] mgale commented on #480
Coming in late ... could we also include the CORS middleware support? https://github.com/gorilla/mux#handling-cors-requests.

[2020-12-30 23:01] mgale commented on #480
Also it maybe adding an option to blacklist or whitelist query params?

[2020-12-31 02:17] Jesse-Cameron commented on #793
Hi again 👋

I did a little bit of poking around and I have an idea for a fix. We could set a default sampling rate in the [`tracer.StartSpan`](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/tracer.go#L237) call.

[code]

Let me know if this works on your end. I'm sure that there is some larger context that I am missing around how you implement sampling rates in your agents/etc.

Hap

[2021-01-04 05:40] seancaffery opened #803 "contrib/go-redis/redis.v8: support wrapping a go-redis v8 client"
The current [redis-go v8 integration](https://github.com/DataDog/dd-trace-go/blob/75d7e5311c7df567073593d6a0f197564f468d5e/contrib/go-redis/redis.v8/redis.go#L40) only supports a regular Redis client. I'd like to add support for adding a hook to an existing `UniversalClient` so I can add a tracing hook to a `FailOverClient`.

The API would be similar to the one provided for the [previous redis-go

[2021-01-04 14:51] moonsub-kim opened #805 "jinzhu/gorm: Ignore some errors like record not found"
I wish ignore errors especially record not found that is unnecessary to classify as errors in my server.
![image](https://user-images.githubusercontent.com/13393411/103546755-d8b33580-4ee6-11eb-8285-3bfb22824626.png)
The server queries by request from the client that can manipulate req body, then we always allow record_not_found error.
Most of record_not_found error makes me indifferent to see err

[2021-01-04 16:07] #684 closed

[2021-01-04 16:10] knusbaum commented on #805
@moonsub-kim

This seems like an acceptable option to add. We added something similar to `contrib/go-chi/chi` recently (#773).
In that one, we ended up calling the option `WithStatusCheck`, so maybe for consistency we can call this `WithErrorCheck`

We also [just merged `contrib/gorm.io/gorm.v1`](#759) which is where the next version of gorm [moved](https://github.com/jinzhu/gorm/blob/master/READM

[2021-01-04 16:39] knusbaum commented on #803
👍  This looks like something we want to support.

We should be careful to consider any differences (things worth making into tags, etc.) between the `UniversalClient` compared to the regular `Client`.

[2021-01-06 10:39] seancaffery commented on #803
I've created https://github.com/DataDog/dd-trace-go/pull/808. It'd be great to get your thoughts on how we should handle tags for each kind of client.

[2021-01-06 21:40] #769 closed

[2021-01-07 20:25] knusbaum commented on #744
@StefanoVarotti Which option are you trying to use to disable stack traces?
Please have a look at #809 and see if this will fix the issue.

This will work with [`tracer.WithDebugStack(bool)`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/tracer#WithDebugStack). If that is not sufficient, we could potentially add another `StartSpanOption`.

[2021-01-07 20:40] knusbaum commented on #793
Hi, @Jesse-Cameron

This solution could work, but I'd like to clarify what issues you see when constructing a span without a priority set. That will affect the kind of solution we want.

[2021-01-07 22:50] Jesse-Cameron commented on #793
Hey @knusbaum ,

Sure, let me provide more details.

In my application, when I _don't_ have the priority set the span (`job.dispatch`) never shows up in our datadog dashboard. Not even as a span without a parent. As soon as I do set the priority the span appears in the parent trace. Also, if I construct a span that doesn't inherit from a parent, or inherits from a parent that was created with a pr

[2021-01-08 15:29] knusbaum commented on #714
Done!

[2021-01-08 15:29] #714 closed

[2021-01-08 17:31] knusbaum commented on #793
Thanks, @Jesse-Cameron. That helps clarify things.

This is my understanding:
When we start a new trace, we apply the sampling logic and a priority is set:
https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/tracer.go#L321-L325

When we start a new span that is a child, this sampling logic doesn't get applied, and we expect there to be a priority in the parent context:
https://github.com

[2021-01-10 06:57] Jesse-Cameron commented on #793
Hey @knusbaum ,

I just did a quick test of option 2 and it solved the issue I was was seeing.

If you are happy with option 2, I can move forward with putting up a PR using that approach?

[2021-01-11 09:55] felixge opened #810 "Go Modules: Better Way to Prevent Upgrading Customer Libraries"
# Problem

The [go.mod](./https://github.com/DataDog/dd-trace-go/blob/v1/go.mod) file in this repository currently contains only a single dependency despite the repository having many dependencies. @knusbaum told me this done because listing all of the dependencies with an explicit version could cause problems for customers which use lesser versions of these same dependencies in their application.

[2021-01-11 09:56] felixge commented on #810
cc @pmbauer @gbbr @knusbaum (just FYI, no action needed for now)

[2021-01-11 10:08] felixge commented on #810
PR for git workaround is out: https://github.com/DataDog/dd-trace-go/pull/811

[2021-01-11 16:43] davidalpert opened #813 "question: opentracing.SpanFromContext(request.Context()) returns nil inside a datadog span"
I seem unable to instrument code with the opentracing libraries and tie them to the datadog tracer.  all the code samples I can find suggest that I must use the datadog tracing libraries but I thought that datadog supports the opentracing pattern...

in our `main` package we import the `ddtrace/tracer` and the `contrib/gorilla/mux` handler:
[code]

in another package we import the opentracing libr

[2021-01-11 16:43] knusbaum commented on #793
@Jesse-Cameron That would be fantastic. The plan looks good to me.

[2021-01-11 16:51] davidalpert commented on #813
maybe this is what I was missing?
- https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace#example-package-Opentracing

[2021-01-11 17:00] davidalpert commented on #813
added:
[code]
and now initialized the tracer like this:
[code]
and the `span` returned from `opentraging.SpanFromContext(request.Context())` is still `nil`

[2021-01-11 17:50] davidalpert commented on #813
looks like I was able to create a new opentracing span as a child of the datadog tracing span when I first start handling the web request, and after that subsequent use of the opentracing methods link up to the trace as expected:

[code]

in the example above the `ListAvailableVersions` opentracing span doubles up on the `GET /path/to/resource` span created by the datadog tracer.

- is it expected

[2021-01-13 19:10] knusbaum commented on #813
Hi @davidalpert. Sorry it took me a bit to respond. I wanted to dig through the code thoroughly to make sure I could give you a complete response.

### Problem Details
Our `opentracing` client allows users to use the datadog tracer as an opentracing tracer, meaning that the opentracing API can be used with the datadog tracer. However, it's unfortunately not currently seamless to use both the datad

[2021-01-13 19:15] knusbaum commented on #805
Fixed in #806

[2021-01-13 19:15] #805 closed

[2021-01-13 22:09] #803 closed

[2021-01-25 14:34] aymericbeaumet commented on #562
`ext.UserReject` no longer seems to be exposed by the [`ext`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1/ddtrace/ext) package.

For those looking for a working solution (as of 2021), I've found that `span.SetTag(ext.ManualDrop, true)` produces a similar result of dropping the spans tagged that way.

[2021-01-28 22:36] Jurabek opened #828 "Multiple tracers into single Span"
I am struggling with `Datadog Tracing in Golang`, here is the problem description:
sample code here:

[code]
### expected tracing:
[code]

when I look at traces collection, Router and DynamoDb are not connected to each other they are not under the single span, is there any way to connect multiple tracers into a single span context?

the attached screenshot shows two traces which is not connected t

[2021-01-31 23:14] Jurabek commented on #828
I created an example repository with Docker Compose
https://github.com/Jurabek/golang-datadog-multi-tracer

[2021-02-02 18:46] knusbaum commented on #828
Hi, @Jurabek. Thanks for the question.

Whenever you want to connect two services into a single trace, you should make sure you are passing the correct `context.Context` object around.

The Go tracer plumbs its live spans through different parts of an application through contexts, and so in order to create child spans of an existing trace, we need to have the right context to pull the current span

[2021-02-02 19:04] Jurabek commented on #828
@knusbaum Thank you very much for your answer, it solved my problem.

[2021-02-02 19:04] #828 closed

[2021-02-02 19:40] knusbaum commented on #562
@aymericbeaumet
Sorry, the tag should be `ext.PriorityUserReject`. I've updated the original comment mentioning `ext.UserReject`.
You are correct in pointing out `ext.ManualDrop`. `span.SetTag(ext.ManualDrop, true)` will have the exact same effect.

[2021-02-02 19:44] #695 closed

[2021-02-03 14:21] peay opened #833 "proposal: add support for more advanced trace filtering"
I would like to get some thoughts on the feasability of a `Sampler` that would allow:

- Send all errors (or X% of errors)
- Send Y% of successful requests.

This is possible in other SDKs (e.g., in ddtrace-py with a custom sampler), and it would be helpful on large volumes to make sure errors are not missed due to sampling.

The current `ddtrace.Span` interface passed to the samples does not seem

[2021-02-03 15:51] fuadajip opened #834 "undefined statsd NoOpClient"
Hi i'm experiencing this issue with v1.28
pkg/mod/gopkg.in/!data!dog/dd-trace-go.v1@v1.28.0/ddtrace/tracer/option.go:207:16: undefined: statsd.NoOpClient
pkg/mod/gopkg.in/!data!dog/dd-trace-go.v1@v1.28.0/profiler/options.go:100:19: undefined: statsd.NoOpClient

How to reproduce
[code]

Env
go version go1.15.7 darwin/amd64
Apple M1

Do i miss something? i think this need to revisit and fix

[2021-02-03 16:01] fuadajip commented on #834
Update: now i'm using v1.26 and it works fine but still not sure v1.28 show errors above

[2021-02-09 22:45] #653 closed

[2021-02-16 12:07] alebabai commented on #834
Hi,

I have the same problem, but v1.26 also doesn't work for me.

[2021-02-16 12:11] gbbr commented on #834
Thanks for reporting this and sorry for the long response time. This is likely because you are using an older version of github.com/DataDog/datadog-go which is required by v1.28. Are you able to update it? I think you need at least v3.1.0 (latest being v4.4.0)

[2021-02-16 12:18] alebabai commented on #834
I tried to `go get -u github.com/DataDog/datadog-go` and `github.com/DataDog/datadog-go v4.4.0+incompatible // indirect` appears in my `go.mod`. It fixes issue on my local setup but still fails on CI.

[2021-02-16 12:32] gbbr commented on #834
I guess this is the one other dependency we should be adding to our `go.mod`.

[2021-02-16 13:27] alebabai opened #844 "proposal: contrib/confluentinc/confluent-kafka-go/kafka update package repository"
Hi!
There is little inconsistency in contrib/confluentinc/confluent-kafka-go/kafka.
It has already been migrated to the go modules.
So, authors recommend to use package from GitHub `github.com/confluentinc/confluent-kafka-go` instead of `gopkg.in/confluentinc/confluent-kafka-go.v1`.
https://github.com/confluentinc/confluent-kafka-go#using-go-modules

[2021-02-16 13:50] alebabai opened #846 "proposal: contrib/confluentinc/confluent-kafka-go/kafka wrappers doesn't fullfil public interface"
Hi.
There are some problems with using this integration.
Wrapper types don't fully match the public interfaces of Consumer/Producer, so it can't seamlessly replace origin one.
For example `func (c *Consumer) ReadMessage(timeout time.Duration) (*Message, error)` is missing in the wrapper.

[2021-02-16 14:07] #834 closed

[2021-02-16 14:29] gbbr commented on #846
Thanks for reporting. Would you be interested at all at resolving it?

[2021-02-16 14:41] alebabai commented on #846
Yep, I can try to resolve it in PR. And yes, it applied to to all versions.

[2021-02-16 14:46] gbbr commented on #846
Great! Thank you!

[2021-02-16 15:21] alebabai commented on #834
I tried to use `gopkg.in/DataDog/dd-trace-go.v1 v1.29.0-alpha.1.0.20210216140755-2d091eca40bb`  but the issue still remains.

[2021-02-17 11:54] alebabai commented on #846
After some investigate I come to mind that do we need to override public methods at all, because we have `wrapped.traceEventsChannel(c.Events())` and `wrapped.traceProduceChannel(p.ProduceChannel())` that used to trace all events from Consumer/Producer. Wrapping public methods produce duplicates in the code and in spans and alos to full-fill interface it's need to wrap all methods that seems to be

[2021-02-18 03:05] nishkala-square commented on #813
Hi, I'm also seeing a similar issue. I'm attempting to use some of the datadog integrations along with opentracing in the app. I believe it should work based on this comment: https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/opentracer/tracer.go#L17

The issue I'm having is that none of the dd-trace/contrib wrappers are being connected to the running span. I have not been able to get it worki

[2021-02-18 09:19] gbbr opened #848 "proposal: move away from gopkg.in as the canonical import path"
Given the fact that we've now switched to modules, it should no longer be necessary to use `gopkg.in` for import paths as a dependency and we can leave it at `github.com`

[2021-02-18 10:04] gbbr commented on #813
Mixing both Opentracing and Datadog spans is not supported and expected to work in dd-trace-go. You have to chose either one or the other. There are many internals specific to each that one might have and the other not.

[2021-02-18 10:53] #844 closed

[2021-02-18 11:23] hatstand opened #849 "contrib/gorm.io/gorm.v1: child database spans are not attached to the gorm parent span"
(As discussed on https://github.com/DataDog/dd-trace-go/pull/759)

If both gorm & the underlying `*sql.DB` connection are setup for tracing, spans for the underlying database connection queries are not attached to the gorm span created for the query.

<img width="536" alt="Screenshot 2021-02-18 at 11 10 43" src="https://user-images.githubusercontent.com/314491/108348890-3e7b2880-71da-11eb-8b9b-220

[2021-02-18 13:00] gbbr commented on #849
Perfect. This is very helpful and paints a very clear picture. Thank you for taking the time to create this issue. Would you have any interest in doing the work? Otherwise we can schedule some work internally.

[2021-02-18 13:14] hatstand commented on #849
I might be able to find time to do this assuming it's as simple as creating the span in `before` instead of `after`.

[2021-02-18 13:17] gbbr commented on #849
I think it should be much easier than that. No need to move it to `before`. Wouldn't this work?

Replacing:
[code]
With:
[code]

[2021-02-18 13:19] gbbr commented on #849
But I see what you mean. Never mind the above :) Perhaps we could store the span in the context, just like we do the start time now...

[2021-02-18 15:15] micrump opened #851 "HTTP Error 500 from DD setTagError"
<img width="959" alt="image" src="https://user-images.githubusercontent.com/60554141/108377167-0a1c6200-7204-11eb-8828-75c46b22c9ef.png">

[code]
There seems to be an issue with the Go Datadog integration. This causes our gateway to return a HTTP 500 instead of a 200 that it receives from a downstream microservice.

[2021-02-18 15:20] nishkala-square commented on #813
My understanding of the comment I linked to in the datadog file was that we should be able to use them interchangably and some of the official datadog documentation seems to agree. https://docs.datadoghq.com/tracing/setup_overview/open_standards/go/

Has that stance changed?

[2021-02-19 11:13] gbbr commented on #851
I realise how this can be misleading at times. That line will show up in all stack trace reports, because it is the tracer which reports the error and records the stack, without excluding itself from the stack report. As you can see the immediate next call is to `debug.Stack`.

This is not an issue.

I am going to close, but feel free to write more information if you feel otherwise and I'm happy t

[2021-02-19 11:13] #851 closed

[2021-02-19 11:15] gbbr commented on #813
Unfortunately it's not supported. Never was. I'm not sure why that is in the public documentation. I will look into it. It was always in our readme with the warning ⚠️ emoji. I'm sorry for the confusion.

[2021-02-19 19:29] kamatama41 commented on #606
I have confirmed dd-trace works on `go-redis/redis/v8`.
Although v7 is not still supported, it's ok for my case (as we already migrated to v8).

So I will close this issue, thank you very much 😃

[2021-02-19 19:29] #606 closed

[2021-02-22 06:16] geoffwa opened #854 "question: propagating trace between spans"
Hi Datadog Tracing Team :wave:

I have several background workers that pass work to each other in sequence like a chain:

[code]

I'd like to have this show up as a single trace in Datadog APM with a span per worker activity.

What is the best way to achieve this? There doesn't seem to be a good way to set a trace ID when creating a span.

[2021-02-22 09:18] gbbr commented on #854
You'll have to find a way to share the parent span's context between then. Then any worker (A, B, or C) will be able to create child spans based on that context.

I'd also recommend reaching out to Datadog support, they will help you with this 🙂

[2021-02-23 04:45] shannontan-bolt commented on #813
@gbbr Thanks for your help.

I must say, it is a bit sad that the two libraries are not interchangeable. I want to use an OSS that would be hard to swap out opentracing for a more extensible solution, but then I won't be able to tie in those spans with the spans from Datadog, which is what is used to instrument the rest of the application.

I do want to confirm 1 question though: Is it really not

[2021-02-23 10:48] gbbr commented on #813
I was actually not aware of that interface! That may indeed change something. We'll have to take some time and look at it.

[2021-02-23 16:06] shannontan-bolt commented on #813
FWIW, we'd have to consider moving away from the Datadog tracing contributions and towards opentracing contributions if that doesn't work. We've already made the decision to significantly change our architecture using an OSS that supports OpenTracing (https://github.com/temporalio/sdk-go), and the work to get them/us to support Datadog tracing would be more than us just moving away from it complet

[2021-02-23 19:14] shannontan-bolt commented on #813
Managed to get this working @gbbr! Put up a PR, and I'll be testing it more locally (tested it a few times, but want to make sure its not a fluke). Hopefully, it isn't a fluke though.

One problem though is that this isn't an opt-in functionality, but that means that traces that were previously disconnected are going to be connected. Maybe this is a net-positive, but I can imagine someone saying t

[2021-02-23 19:54] shannontan-bolt commented on #813
Hmm - I did run into an error now, which makes sense I think. My solution only makes it work if an OpenTracing span is the parent, and all child spans are DD spans.

It might not work in the opposite direction - a DD span is the parent, and OpenTracing spans are started from it. Still looking.

[2021-02-24 00:41] jamestelfer opened #856 "Newlines in stacktraces break JSON output, errors not registering in Datadog"
When using the trace library in a context where `DD_FLUSH_TO_LOG` is enabled, stack traces in the output cause it to break the log statement over multiple lines, breaking ingestion.

The outcome is that no error traces register in Datadog, making errors much harder to diagnose and losing significant fidelity in the traces.

For example, the following image shows the output of an error in the Cloud

[2021-02-24 01:22] jamestelfer commented on #856
This is a duplicate of #791, to be fixed in #832.

[2021-02-24 01:22] #856 closed

[2021-02-24 05:08] shannontan-bolt commented on #813
I believe I understand what is happening now. With my change in #855, I _think_:

- Starting an OpenTracing span will also call `tracer.ContextWithSpan`. Therefore, `opentracing` will set spans for `tracer` spans.
- Starting a `tracer` (DD Tracer) span does *not* call OpenTracing `ContextWithSpan` and therefore, the next time OpenTracing tries to start a Span, it cannot find it and spawns a new on

[2021-02-24 05:26] shannontan-bolt commented on #813
These are what I have as example code snippets, but they don't work because I can't get an `opentracing.Span` version of the ddtrace.Span.

[code]

[code]

[2021-02-24 05:27] shannontan-bolt commented on #813
Not to mention that its just... _weird_

[2021-02-24 05:35] shannontan-bolt commented on #813
Re-reading this thread better, I feel bad that I didn't closely enough read: https://github.com/DataDog/dd-trace-go/issues/813#issuecomment-759658009. My comments are basically a dupe of that.

Sorry!

[2021-02-24 10:27] AnhTaFP commented on #606
Hi,

May I ask if there is still any plan to add support for redis v7? I want to update to v8, but I got some other dependencies on v7 :)

[2021-02-25 11:07] #791 closed

[2021-02-27 08:45] xamenyap opened #857 "proposal: add support for go-redis v7"
`go-redis` v6 and v8 is supported but v7 is not. I have a few dependencies on v7 so I want to add support for it. Please share what you think.
Discussion on v7 was originally in #606

[2021-03-02 19:46] shannontan-bolt commented on #849
I'm pretty sure this is impossible without rewriting Gorm? Since Gorm doesn't call ExecContext, or QueryContext, the context won't even be passed to link the two. I'm not sure how you do this. I imagine this is why Begin/Commit does show up tied to the parent spans - because Gorm calls BeginTx(ctx...)

Gorm uses these interfaces:
[code]

[2021-03-02 19:47] shannontan-bolt commented on #849
I guess that's what I see in my traces - only Begin/Commit show up associated, all others are their own root spans (which is really really annoying)

[2021-03-03 15:16] gbbr commented on #857
It looks like the person who closed the previous issue (#606) was suggesting that the v8 package would work with v7 too. Have you tried that? If it doesn't, we should and are happy to implement it.

[2021-03-03 22:17] eriklarko opened #861 "proposal: Add WithLogStartup tracer startup option"
Thank you for an amazing library, it has helped me debug issues countless times and has been easy to set up and maintain.

When a tracer starts it prints some information to stdout by default. While this was great during development it isn't as useful to us in production so we'd like a way to suppress it. Luckily we can easily do that with the `DD_TRACE_STARTUP_LOGS` environment variable as seen [

[2021-03-04 09:32] gbbr commented on #861
That's really nice to hear 🙂 I will pass this message onto our team internally too!

You can go ahead and make this change if you wish!

[2021-03-09 08:06] gbbr commented on #744
@StefanoVarotti since you've not responded in a while, I'm going to go ahead and close this issue and assume that this isn't longer an issue for you. If that assumption is false, please feel free to re-open or leave another message and we're happy to look into it for you.

[2021-03-09 08:06] #744 closed

[2021-03-09 22:57] shannontan-bolt commented on #376
@gbbr - I'd love to understand why this is not supported. As you already know, I've had to fork dd-trace-go so am also thinking about why this doesn't quite work.

Is it the UI that doesn't support FollowFromRef? Is it the tracer?

[2021-03-10 01:36] shannontan-bolt commented on #376
If I'm reading the code (and some issues from the opentracing specification) correctly, FollowsFrom doesn't have a consistent UI/tracer representation. I'd love to add a flag to allow FollowsFrom to just be represented as a child - either in my fork or upstream.

Would love to hear your thoughts on that.

[2021-03-10 09:14] gbbr commented on #376
That's an interesting idea. I never thought of that as a solution: using a child instead. I'm not sure what the team would think about this. I'd have to check with the rest of APM integrations to see what other languages do because we want to keep it consistent here and we also don't want to confuse people, but I can understand the problem.

And yes, you are right, there is no support for this in

[2021-03-10 09:22] andreasreinhardt opened #865 "Question: Is there a setting DD_HTTP_CLIENT_ERROR_STATUSES?"
Hi team,

for the Java and .NET trace implementation there is an environment variable DD_HTTP_CLIENT_ERROR_STATUSES to configure which status codes should be marked as error. Is there a similar option for go?

Background: I'm moving from nginx ingress controller to traefik ingress controller and while the first one doesn't mark status 404 as error, traefik does, so my error rate goes high. As trae

[2021-03-10 13:42] gbbr commented on #376
@shannontan-bolt if you'd like, it's fine to create a PR to have `FollowsFrom` result in a child span.

[2021-03-11 13:40] gbbr commented on #865
Hi Andreas! Yes, I believe that if this exists in other languages, we should have it in Go too. Would you care to contribute?

[2021-03-11 13:42] gbbr commented on #865
Here are the specs for that:

---

### Allow customers to define status code ranges they consider errors

Using the following Environment Variables (*and* other corresponding config for different languages)
customers can specify ranges of status codes that should be considered errors. We have two
sets of status codes that map to client and server errors with a different meaning.

As an example a `

[2021-03-11 14:28] andreasreinhardt commented on #865
Hi Gabriel!
So you can confirm that there is no such feature in Go?
If it was Java, Kotlin or Python, I wouldn't hesitate to contribute, but Go is not a language that I feel comfortable with. If someone can point me to the code where the error state is set, I can give it a try, but unfortunately, I cannot find it on my own. That is why I have asked this question, otherwise I would have scanned the

[2021-03-11 15:25] gbbr commented on #865
I can confirm that this feature is not available in Go.

No worries in that case. We can do it.

[2021-03-12 09:55] felixge opened #866 "profiler: remove WithAPIKey"
This API is deprecated and there are business reasons for completely removing this option. See PROF-2719.

I'm creating this issue so it can be tracked along with other changes we'd like to make in case of a v2 release in the future.

[2021-03-12 09:58] felixge opened #867 "Move away from gopkg.in"
@gbbr and I discussed this before and it's something we should consider when creating a v2 release in the future.

gopkg.in predates go modules and makes less sense now. It also ties the success of our customers builds to a 3rd party service with unclear funding/maintenance.

[2021-03-12 10:01] felixge opened #868 "profiler: Update API"
The current API is pretty good, but I personally favor structs for configuration over the functional options and there are a few other ways the API could be improved. This isn't critical, but I'm creating this issue in order to not forget about it if we decide to cut a v2 release.

[2021-03-12 10:02] felixge commented on #867
Whups, dupe of https://github.com/DataDog/dd-trace-go/issues/848. Used the wrong query when looking at existing v2 issues.

[2021-03-12 10:02] #867 closed

[2021-03-12 10:13] gbbr commented on #868
Great! Whatever we go for, let's make sure we are consistent with the tracer. Since they are commonly used together and both APM, it would be odd for one to have a struct and the other to have functional options.

[2021-03-12 10:17] felixge commented on #868
@gbbr sounds good. I'm also fine to accept the API style as-is, especially if changing it would require changing all of the APM API as well. I just created this as a reminder to discuss this topic again when we're starting to think about a v2 release.

[2021-03-14 18:10] speza opened #869 "proposal: support aws-sdk-go-v2"
proposal: support aws-sdk-go-v2

Add support for tracing of aws-sdk-go-v2.

[2021-03-14 18:11] speza commented on #869
Is it cool if I pick this one up? I have already implemented most of this outside of the contrib package.

[2021-03-15 09:51] kokizzu opened #870 "globalsign/mgo: panic"
I've tried connection string (from Go) with nodejs and it works successfully (after escaping the password):
[code]
but when I tried the exact connection string, which is generated from this code:
[code]
it shows exact same error error as when the password not escaped:
[code]
It runs on alpine docker, what's the other possible cause?

The lines `testmongo1/database/mongodb/mongodb.go:67` are:
[code

[2021-03-15 10:00] gbbr commented on #869
Hi Sam! Yes, absolutely. You're more than welcome to!

[2021-03-16 09:03] #480 closed

[2021-03-16 13:08] awbuana opened #873 "contrib/globalsign/mgo: infinite Loop on query "Find.One""
I got infinite loop when call query Find.One. This is the heap snapshot
![image](https://user-images.githubusercontent.com/14250006/111313489-ffce7600-8692-11eb-995a-ab37ba64d23f.png)

How to Reproduce
[code]

Is it supposed to be call original globalsign/mgo Find.One  ?

[2021-03-16 13:46] gbbr commented on #873
Thanks for reporting this. You're right. This looks like a terrible bug. It seems like this line: https://github.com/DataDog/dd-trace-go/blob/v1/contrib/globalsign/mgo/query.go#L93 should instead be:
[code]
And the same for every other method that is wrapped.

Would you care to contribute the fix or would you like us to take a look internally?

[2021-03-16 13:55] gbbr commented on #870
Have you tried posting this issue on the `globalsign/mgo` repository? Based on the stack trace it seems like the problem is coming from there...

[2021-03-17 13:30] #873 closed

[2021-03-17 13:34] gbbr commented on #873
I've released https://github.com/DataDog/dd-trace-go/releases/tag/v1.29.1 with the fix. Please let me know how that goes.

[2021-03-18 05:03] mosaxiv opened #876 "Add support for aerospike integration"
I would like to add new integration for aerospike.
https://github.com/aerospike/aerospike-client-go

hook does not exist in aerospike-client-go.

So wrap it like memcache integration.
New Client that wraps the `aerospike.Client`, implements all the same methods, and also supports a WithContext method.

[2021-03-18 20:13] jpfaria opened #877 "proposal: adds contrib/go-chi/chi.v5"
it would be interesting to have the integration with chi v5 (github.com/go-chi/chi/v5)

[2021-03-19 09:18] gbbr commented on #877
Absolutely! Is this something you'd like Datadog to add or are you opening the issue with the intention to contribute?

[2021-03-19 09:19] gbbr commented on #876
Hey there 👋 Thank you, you're more than welcome to! Your approach seems sound to me!

[2021-03-19 13:12] andrewsouthard1 commented on #650
Hey @polera - were you still experiencing this issue with the latest version of the Datadog Agent? Please feel free to reopen if that is the case.

[2021-03-19 13:12] #650 closed

[2021-03-19 13:56] jpfaria commented on #877
I can add. I've already done it, basically just rename the package.

[2021-03-20 17:03] vadimi commented on #877
I'm also interested in this change. By the way there is already another PR open to add chi v5 support: https://github.com/DataDog/dd-trace-go/pull/858

[2021-03-22 10:25] gbbr commented on #877
@vadimi thanks for that. I missed that one. Let's give that one a day and see if we get a response. It is only fair that it gets priority since it came first.

[2021-03-22 14:01] #877 closed

[2021-03-22 14:19] #846 closed

[2021-03-22 15:07] pellared commented on #810
What do you think of splitting this repo into multiple Go Modules?
You can check how it is done in Go SDK for OpenTelemetry: https://github.com/open-telemetry/opentelemetry-go
I have also started doing some work on a fork https://github.com/signalfx/signalfx-go-tracing/pull/67

[2021-03-22 15:12] gbbr commented on #810
@pellared we've considered it, but since it's very easy to make a mistake and screw everything up, we've avoided. If we find strong reasons to go that way, I am still open to it as a possibility. We should outline the advantages and disadvantages of that to properly take it into consideration.

[2021-03-22 15:29] pellared commented on #810
@gbbr Might be worth to check how it is done in https://github.com/googleapis/google-cloud-go

[2021-03-22 16:39] felixge commented on #810
@pellared thanks for the link. It seems like they have separate `go.mod` files for some, but not all, sub-directories. I'll dig into this some more later, but the approach seems worth considering.

[2021-03-24 12:02] gbbr commented on #813
I think that's fine! Seems like a fix to me! 💯

Is this a possibility for you? What did you end up doing? Can we close this issue?

[2021-03-27 10:58] awbuana commented on #873
thank you, it works as expected

[2021-03-29 10:02] gbbr commented on #873
Great! Glad to hear! Thanks for reporting and for confirming!

[2021-03-29 22:58] shannontan-bolt commented on #813
I ended up swapping all of my non-leaf traces to OpenTracing. This was a bit annoying, but not the end of the world. I was able to use Datadog traces in places where I knew there wasn't any additional downstream traces (like requests to the DB or to Elasticsearch). Examples that I had to move were manual traces, Gorilla mux router, graphql-gophers.

Feel free to close - I was just waiting to merge

[2021-03-30 00:05] shannontan-bolt commented on #376
See #883

[2021-03-30 09:14] gbbr commented on #813
Wonderful. I'm glad it worked out. I guess it does make sense to go with just one system throughout (be that OT or DD). Let's wait for the PR to officially close 🙂

[2021-03-31 15:23] #857 closed

[2021-04-01 17:01] davidalpert commented on #813
I've missed this issue since the discussion took off so have some catching up to do; apologies if this is out of context or has already been addressed.

It does not make sense to me to have to pick one or the other. That seems like an unrealistic requirement to place on client code.

[2021-04-01 17:39] davidalpert commented on #813
If I can ask, why is it a hard requirement that the datadog tracing libraries have no reference to the opentracing libraries?

It seems like the point of the opentracing libraries is to be an implementation-agnostic standard that allows client libraries to plug into whatever tracer the host application happens to be using.

Forcing datadog dependencies throughout the code seems to violate the spir

[2021-04-01 17:40] davidalpert commented on #813
When I tried the `span, ok := ddSpan.(opentracing.Span)` type conversion I get an error stating that no type can implement both `gopkg.in/DataDog/dd-trace-go.v1/ddtrace.Span` and `github.com/opentracing/opentracing-go.Span`

[2021-04-01 17:56] davidalpert commented on #813
seems to me that a datadog span/context should be an opentracing span/context with extra features, thus implying that downstream code can always use it as an opentracing span (if the downstream code does not want or is unable to take a dependency on datadog) and can optionally inspect it to see if it also implements the datadog span/context so that downstream clients who do want to or need to depe

[2021-04-05 08:30] gbbr commented on #813
Sure. The idea back then was to avoid dependencies on 3rd party instrumentation systems.

I agree, but I'm not entirely sure what you mean by “forcing dependencies” here. I'm suggesting exactly that: to use only Opentracing or only Datadog, not mix both.

Ultimately, we don't want to base our APM system on Opentracing, OpenTelemetry, or OpenCensus, or whatever library comes up in the future. We wa

[2021-04-05 15:39] alebabai commented on #813
#855 really make my day.
After some research about why there is no span hierarchy in my service I found exactly the same conclusion that `ddtrace/opentracing` misses `opentracing.TracerContextWithSpanExtension`.
@shannontan-bolt thanks a lot for the implementation.
Is it possible to somehow speed up the merge, because it also blocks me a bit?

[2021-04-08 12:12] william20111 commented on #869
Any ETA on this being released? Would be incredibly useful for new project im working on using v2 sdk

[2021-04-08 12:23] speza commented on #869
I'm currently away at the moment. I've been using very similar code from this but directly in a project with no issues thus far. I can look to potentially tidy any final bits up next week.

[2021-04-08 12:30] william20111 commented on #869
Thanks for the quick reply! Thats awesome no pressure, been playing dynamo v2 sdk and would be awesome to get DD apm with it.

[2021-04-12 16:45] pradeepp28 opened #899 "proposal: add support for github.com/segmentio/kafka-go"
The github.com/segmentio/kafka-go package provides both low and high level APIs for interacting with Kafka, mirroring concepts and implementing interfaces of the Go standard library to make it easy to use and integrate with existing software.

The kafka-go package has a Reader and Writer. We can wrap these structs and trace requests similar to: #295 and #309

[2021-04-15 09:50] bullgare opened #902 "contrib/net/http: add a getter to retrieve original round tripper"
I'm having an http client library that has options system.
One of the options is to force ipv4 for http.Transport by updating `http.Transport.DialContext`.

If I add options in this order, it works fine:
[code]
as I can get the exact type like this - `if trans, ok := c.client.Transport.(*http.Transport); ok {`.

But if I change the order of options:

[code]
it is failing as there is no way to get

[2021-04-15 14:24] gbbr commented on #902
I think that should be fine, but let's call it `Unwrap`. I think that'd be a better name. What do you think?

[2021-04-15 15:05] bullgare commented on #902
Makes sense

[2021-04-15 15:10] bullgare commented on #902
Updated the issue description and the implementation.

[2021-04-16 09:00] #902 closed

[2021-04-16 09:00] gbbr commented on #902
Thanks. We'll be releasing this soon. Probably next week.

[2021-04-16 09:10] bullgare commented on #902
Thank you, @gbbr !

[2021-04-16 09:20] gbbr commented on #902
You're welcome and thank you too for contributing

[2021-04-18 09:17] KarthikNayak opened #904 "question: opentracing: is the chi middleware compatible with opentracing?"
Hello,

I'm facing a weird problem. I'm trying to use the `chi` middleware with opentracing, although the middleware injects the span into the request ctx, consequent middlewares are not getting the span.

So in my main, I initiate the tracer as such:

[code]

I add the chi middleware as so

[code]

and in subsequent middlewares I try obtaining the span as so
[code]

But this errors out as span is

[2021-04-19 08:03] gbbr commented on #904
While there have been some efforts to try and get this to work, not much success happened until today. This is also written in our (arguably not so easy to find) [README.md](https://github.com/DataDog/dd-trace-go/blob/v1/contrib/README.md) file of our integrations.

Unfortunately when using Opentracing, one is limited to their own integrations: https://github.com/opentracing-contrib.

[2021-04-19 08:26] KarthikNayak commented on #904
@gbbr I see that https://github.com/DataDog/dd-trace-go/pull/855 will help with this regards. Any timeline for 1.30.0? So I can plan this accordingly?

[2021-04-19 08:28] gbbr commented on #904
Indeed! That might help. I'm planning to release 1.30.0 very soon. Unfortunately we haven't heard from the author of that PR. I might pick it up myself and take it across the finish line.

[2021-04-19 08:37] gbbr commented on #904
Would it make sense in that case to close this in favour of #813 and consider it a duplicate?

[2021-04-19 08:42] gbbr commented on #813
#855 was merged.

[2021-04-19 08:42] #813 closed

[2021-04-19 08:54] #376 closed

[2021-04-19 08:54] gbbr commented on #376
Merged. Should be out soon with v1.30.0!

[2021-04-19 09:01] #904 closed

[2021-04-21 17:00] emirot opened #909 "proposal: allow traversing 128-bit IDs via B3"
As explained in this original [thread](https://github.com/DataDog/dd-trace-java/issues/2434), for now all Datadog APM (except java 0.79) are using trace id length of 64 bits.
Unfortunately, all my other systems are using a trace length of 128 bits, as it's now the default in [istio/envoy](https://github.com/istio/istio/issues/10732) and [jaeger](https://www.jaegertracing.io/docs/1.22/client-librar

[2021-04-22 02:17] emirot commented on #909
To better explain what I mean:
Dockerfile
[code]

main.go

[code]

Result:
[code]

As you can see the `X-B3-Traceid` is not passed along. I guess it's because of https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/ddtrace.go#L71

[2021-04-22 07:09] gbbr commented on #909
Hi @emirot

I can certainly understand the issue. Thanks for all the detail you have provided.

This isn't strictly a dd-trace-go related problem, it's more of a product wide concern. As it was explained in the other issue, all of Datadog APM uses 64-bit IDs. We are not currently able to easily change that, although, it might be somewhere on the horizon. If you'd like to find out more about this,

[2021-04-22 07:10] gbbr commented on #909
I renamed the issue, please let me know if I was inaccurate in any way or misunderstood what you're asking.

[2021-04-22 08:05] emirot commented on #909
@gbbr thank you for updating the issue, yes I already have a ticket open #474435 regarding that.

[2021-04-25 04:31] peters95 opened #911 "question: getting the full root module throws grpc v0.1.2 error messages"
Issue running:

`go get gopkg.in/DataDog/dd-trace-go.v1/...`

Fails both locally as well as ubuntu docker image.

#14 222.0 # gopkg.in/DataDog/dd-trace-go.v1/contrib/google.golang.org/grpc.v12
#14 222.0 root/go/pkg/mod/gopkg.in/!data!dog/dd-trace-go.v1@v1.31.0/contrib/google.golang.org/grpc.v12/grpc.go:61:11: undefined: metadata.FromContext
#14 222.0 root/go/pkg/mod/gopkg.in/!data!dog/dd-trace-go.

[2021-04-25 08:34] felixge commented on #911
@peters95 hey, sorry you ran into this. @gbbr can probably provide more details, but afaik this is a [known](https://github.com/DataDog/dd-trace-go#testing) [issue](https://github.com/DataDog/dd-trace-go/issues/444).

For now you could you try to use `go get gopkg.in/DataDog/dd-trace-go.v1/ddtrace`?

That being said, we should definitely try to figure out how to make the error for `go get gopkg.in

[2021-04-25 17:03] peters95 commented on #911
New command works thanks! I think if you updated the README this would be super helpful for others in the future.

[2021-04-26 09:16] gbbr commented on #911
@felixge is right. Unfortunately because we have to provide support for multiple versions of the `grpc` package, getting that on your system will throw that error. For that reason, it is best to only get the modules/packages you need. I'm glad it worked out. We should maybe update our README. Before doing that, I'd like to make sure about something: are you sure that this fails on your system? As

[2021-04-27 09:21] #681 closed

[2021-04-28 14:27] felixge commented on #911
@gbbr I just did some [testing](https://gist.github.com/felixge/22790a88ac9ae3a2a51862b09c04f1db)  using different versions of Go (1.14, 1.15, 1.16) and want to summarize the [results](https://drive.google.com/file/d/101CywX_tS9uJH5RVvhjMTMmlX5HKKErU/view?usp=sharing) here:

- `go get gopkg.in/DataDog/dd-trace-go.v1/...`
  - All versions print warnings about: `../go/pkg/mod/gopkg.in/!data!dog/dd-t

[2021-04-30 07:16] SophisticaSean opened #914 "Continuing a distributed trace with this library is extraordinarily unclear"
It took me about a day of ripping through this library to understand how to manually continue a trace given a parent span id and a trace id.

This is what I ended up with which feels needlessly esoteric (and is absolutely poorly documented at best):

[code]

[2021-04-30 07:34] SophisticaSean commented on #914
I'm happy to make the change to fix it, I just want advice on what y'all recommend? I personally think we should add a `tracer.ContinueTrace(trace_id, parent_span_id) (spanCTX, error)` method.

[2021-04-30 11:08] felixge commented on #914
Hey @SophisticaSean, sorry you had a frustrating experience with this! I work on the `profiler` package, so I'll leave it to @gbbr or @knusbaum to take a look.

Anyway, the code snippet you're showing looks indeed very cumbersome. If there is a better way, we need to make it more obvious. If not I'd be supportive of considering a new API. Thank you so much for offering your help on that!

[2021-05-02 12:51] vmlellis opened #915 "proposal: gorm.io/gorm.v1 - Ignore some errors like record not found"
I wish ignore errors such as "record not found",  that is unnecessary to classify as error.

It is the same suggestion to jinzhu/gorm (https://github.com/DataDog/dd-trace-go/issues/805), it's interesting to keep the same option in case the jinzhu/gorm be upgraded to gorm.io/gorm.v1 .

As suggested in the issue of jinzhu/gorm, I also suggest adding an option that can ignore some type of errors like

[2021-05-04 03:44] SophisticaSean commented on #914
Thanks a ton for responding! :) yeah I couldn't find a cleaner way to do it so if someone knows let me know!

[2021-05-05 06:13] #911 closed

[2021-05-05 08:47] felixge commented on #911
I was going to keep this issue open because I still think this problem isn't fully solved yet. The README fix should cover most users, but contributors will still run into issues. Should I open a new issue for that?

See https://github.com/DataDog/dd-trace-go/pull/917

[2021-05-14 12:39] william20111 commented on #869
@gbbr is the new PR good to get merged for this?

[2021-05-17 14:10] HurSungYun commented on #160
new `WrapClient` method was added in v1.29.x (https://github.com/DataDog/dd-trace-go/pull/808) and I believe this issue can be closed.

[2021-05-18 01:44] petejkim commented on #697
👍

[2021-05-18 22:57] ptsurko opened #928 "Passing nil value of *time.Time into span.SetTag results in panic"
Passing nil value of *time.Time into span.SetTag results in panic.

Code example:
[code]

Crashes with error: `value method time.Time.String called using nil *Time pointer`

I think this is because String is declared on time.Time and not on pointer.

This is related to this commit: https://github.com/DataDog/dd-trace-go/commit/75d7e5311c7df567073593d6a0f197564f468d5e

[2021-05-19 06:50] gbbr commented on #928
Thanks for reporting this. I guess a good solution would probably be adding something like this into `SetTag`:
[code]

[2021-05-19 22:34] mfechner opened #929 "Version 1.31.0 is missing in tags"
Dear all,

FreeBSD depends for go modules on tags hosted on github.
It seems that the go modules was released here:
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0

But not on github.

To be able to build packages using version 1.31.0 FreeBSD (freebsd.org) requires the package to be existing on github.

Is it possible to add the missing tag?

Thanks a lot.

[2021-05-21 03:49] CAFxX opened #931 "mocktracer does not call `String()` on tag values"
`mocktracer` does not call `String()` on tag values, whereas the normal tracer does. This disparity can make it look like, during tests when `mocktracer` is used, that everything is fine - just to have the program do something different (e.g. panic) when the regular tracer is used. Don't ask how we found out. 🤣

It would be maybe enough to have `mocktracer` call `String()` internally (and discard

[2021-05-21 08:54] felixge commented on #929
cc @knusbaum @gbbr I can add the tag, should I? Or was 1.31.0 release to pkg.go.dev by accident?

[2021-05-21 13:42] wouafff commented on #929
+1

[2021-05-24 08:12] gbbr commented on #929
We will be releasing `v1.31.0` next, and then it should be fine. Not exactly sure how this happened...

[2021-05-24 17:14] dmitshur commented on #929
What I wrote in https://github.com/golang/go/issues/46348#issuecomment-847189748 may be relevant.

Perhaps PR #910 and issue #911 are also relevant, since there are mentions of `v1.31.0` in them, and their dates are close after the index date.

Please be mindful that if v1.31.0 was published previously and its tag was deleted, there may be checksum entries for that version in some user's go.sum fi

[2021-05-25 14:00] gbbr commented on #929
Thanks for jumping in here @dmitshur. I'd suggest that probably the best solution here would be to go for `v1.31.1` as a "patch" for the bad tag incident.

[2021-05-25 19:19] knusbaum commented on #928
On closer inspection, this is not nearly as simple as it seems. In fact, it shows something really surprising about Go in general.

## Investigation

Go allows (and even encourages) calling pointer-receiver methods on `nil` objects. (https://tour.golang.org/methods/12). Go assumes that any method taking a pointer receiver should handle a `nil` receiver. This is [everywhere throughout the standard

[2021-05-26 05:49] comwls opened #934 "symbol(s) not found for architecture arm64 Doesn't support m1 chip?"
go get gopkg.in/DataDog/dd-trace-go.v1/...
# google.golang.org/api/transport/grpc
../../go/pkg/mod/google.golang.org/api@v0.3.1/transport/grpc/dial.go:64:3: undefined: grpc.WithWaitForHandshake
# gopkg.in/DataDog/dd-trace-go.v1/contrib/google.golang.org/grpc.v12
../../go/pkg/mod/gopkg.in/!data!dog/dd-trace-go.v1@v1.31.0/contrib/google.golang.org/grpc.v12/grpc.go:61:11: undefined: metadata.FromCont

[2021-05-26 11:06] william20111 commented on #869
Any progress on getting the above merged? Would be great to get it in 1.31

[2021-05-26 15:36] knusbaum commented on #869
@william20111
We're reviewing the PR currently.

[2021-05-26 19:10] knusbaum commented on #914
Hi, @SophisticaSean. Sorry for the late response.

You have it right. Using the `Extract` and `ChildOf` functions to manually create a child of a distributed trace is the way to go. I would recommend using the header constants defined in the `tracer` package rather than string literals though:
https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer#pkg-constants

When propagating

[2021-05-26 19:12] knusbaum commented on #934
@comwls Are you able to do `go get gopkg.in/DataDog/dd-trace-go.v1`?
We have some integrations that pull in things that you may not need if you use the `/...`.

Try getting just the top-level module and see what (if any) issues arise.

[2021-05-26 19:15] knusbaum commented on #931
+1

The mock spans should execute the same mangling logic (and as much of the same logic in general as possible).

I'm guessing you found out similarly to this:
https://github.com/DataDog/dd-trace-go/issues/928

[2021-05-26 19:22] knusbaum opened #936 "proposal: ddtrace/tracer: Support injecting span context into JSON-formatted logs."
Other tracers support injecting span context into logs in JSON format. (See Python https://docs.datadoghq.com/tracing/connect_logs_and_traces/python#without-standard-library-logging)

dd-trace-go currently only supports plain-text injection via the `%v` formatting verb of the `tracer.span` type. (https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/span.go#L448-L475)

Potential solutions:

[2021-05-26 19:52] knusbaum commented on #929
Version `v1.31.1` has just been published, so this should be fixed. Version `v1.31.0` is still not available, but any future `go get gopkg.in/DataDog/dd-trace-go.v1` should get the later version, not the bad `v1.31.0` version.

Sorry for the inconvenience.

[2021-05-26 19:52] #929 closed

[2021-05-26 20:02] knusbaum commented on #915
+1 This suggestion looks acceptable to me.

[2021-05-26 20:06] knusbaum commented on #785
Closing after rejection. Feel free to reopen if we need to revisit this topic.

[2021-05-26 20:06] #785 closed

[2021-05-26 20:06] knusbaum commented on #661
Closing after rejection.

[2021-05-26 20:06] #661 closed

[2021-05-26 20:22] knusbaum commented on #870
@kokizzu

Based on your trace, I believe I see that we're calling `BuildInfo` on a `nil` `mgo.(*Session)` object on [this line](https://github.com/DataDog/dd-trace-go/blob/v1.31.1/contrib/globalsign/mgo/mgo.go#L25)

It looks like we don't check the `err` return before using the `*Session`.

[code]

[2021-05-26 20:41] knusbaum commented on #854
@geoffwa
Please see also the notes on "distributed tracing" [here](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer) as well as the documentation for the [TextMapReader](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer#TextMapReader) and [TextMapWriter](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer#TextMapWriter) interfa

[2021-05-26 20:41] #854 closed

[2021-05-26 20:48] andrewsouthard1 commented on #833
Hey @peay! Thanks for reaching out here. Have you taken a look at using our retention filters to solve this use case? https://docs.datadoghq.com/tracing/trace_retention_and_ingestion/

[2021-05-26 21:00] knusbaum commented on #608
@goodspark I've been unable to reproduce this issue.
I recommend reaching out to our support team to help handle this issue if you still need support in identifying the cause of this latency.

[2021-05-26 21:00] #608 closed

[2021-05-27 03:04] drmaples commented on #697
Any idea how to convert the traced db connection to a `pgx` flavor? I thought [Conn.Raw](https://golang.org/pkg/database/sql/#Conn.Raw) would do the trick, but I am probably doing something wrong.

[code]

[2021-05-27 09:29] felixge commented on #697
@drmaples I'm not sure this is possible right now.

That being said, I totally understand the problem and think we should figure out a way to fix it. Perhaps one thing we could do is make `*sql.tracedConn` a public type that exposes a method for getting the real underlaying pgx connection. You wouldn't get APM tracing on it, but your CopyTo() use case should work.

Anyway, I haven't fully thought

[2021-05-28 15:23] knusbaum commented on #160
@HurSungYun That looks correct. Closing this.

[2021-05-28 15:23] #160 closed

[2021-06-01 18:24] hexa00 opened #941 "contrib/confluentinc/confluent-kafka-go Can't pass context per message when producing"
The context used when producing kafka messages can't be set on a per message basis since it's
using the context from the cfg.ctx member variable of the producer.

See : https://github.com/DataDog/dd-trace-go/blob/11d96fd8c742ad50503212dced147833dd1712ff/contrib/confluentinc/confluent-kafka-go/kafka/kafka.go#L109

This makes it impossible to pass a relevant parent span as the context of a message b

[2021-06-02 23:15] meatballhat commented on #697
I'm attempting to make this, although I feel like I'm learning more about how pgx could be modified to allow a less gnarly integration 😂 https://github.com/DataDog/dd-trace-go/compare/v1...rstudio:contrib-jackc-pgx. If anyone else sees this comment and is already doing the work, I would love to know how I can help. Alternatively, I welcome help at the linked fork ❤️

[2021-06-03 09:49] VinhVu95 opened #944 "[redigo] Issue using gomodule/redigo to call Lua script"
#### Version
`gopkg.in/DataDog/dd-trace-go.v1 v1.26.0` `go 1.14`

#### Description
When using connection created by ddtrace redigo module to invoke Lua script, I got error `NOSCRIPT No matching script. Please use EVAL.`

[code]

[2021-06-03 20:03] meatballhat commented on #697
The fully wrapped version works, but is an anxiety-inducing amount of code. This attempt uses the existing pgx logger capabilities: https://github.com/DataDog/dd-trace-go/compare/v1...rstudio:contrib-jackc-pgx-logger

[2021-06-03 22:25] rafi-fisker opened #945 "Datadog tracer configuration log level is incorrect in datadog"
These logs are being incorrectly marked as error level in datadog logging even though it says `INFO`

[code]

![image](https://user-images.githubusercontent.com/72412693/120719706-92570800-c47f-11eb-850e-b971ba8ca994.png)

![image](https://user-images.githubusercontent.com/72412693/120719734-a3a01480-c47f-11eb-868e-fa0ea2aecbaa.png)

![image](https://user-images.githubusercontent.com/72412693/1207

[2021-06-04 08:30] #944 closed

[2021-06-04 16:46] felixge commented on #697
@meatballhat IDK, doesn't seem to be too bad in terms of LoC 🙃 . Quick Q: How do the spans created in the wrapped logger know the start time? Is that getting injected in the context already somehow? Do you have a full example that's using this?

[2021-06-04 19:18] rliebz opened #946 "proposal: Support for DD_TRACE_ENABLED environment variable"
Many of the DataDog clients support the `DD_TRACE_ENABLED` environment variable. For example:
- Java: https://docs.datadoghq.com/tracing/setup_overview/setup/java/?tab=containers
- Node: https://docs.datadoghq.com/tracing/setup_overview/setup/nodejs/?tab=containers
- Python: https://ddtrace.readthedocs.io/en/stable/configuration.html
- Go Lambdas: https://github.com/DataDog/datadog-lambda-go

It w

[2021-06-05 12:31] meatballhat commented on #697
@felixge I'm glad you're less irked by the LoC 😂! The fully wrapped approach is (AFAICT?) going to provide deeper insights than the wrapped logger approach.

You're absolutely right about the timings being fishy in the logger-based version -- it's going to be an approximation at best. I'm seeing behaviors where the pgx-level spans are basically offering no insights into time percentage of parent s

[2021-06-07 09:22] felixge commented on #697
Oh wait, I clicked only one of the two links : p. The full wrapper is pretty excessive indeed 🙈. From my PoV that would only be acceptable if it would be automatically generated in order to keep up with upstream.

What timings are you seeing? Are they plausible at all? I'm still not sure how you get any timings without instrumenting both start + end of the operation?

[2021-06-07 09:32] felixge commented on #945
@rafi-fisker it seems like you might have to [configure a parser](https://docs.datadoghq.com/logs/faq/why-do-my-logs-show-up-with-an-info-status-even-for-warnings-or-errors/) to get the right status.

@knusbaum is there anything we can do on our end to make sure tracer log levels are automatically picked up by the logs product? Maybe use JSON output?

[2021-06-07 09:55] prasad-marne opened #947 "proposal: contrib/net/http: skip tracing for some endpoints"
I think gorilla mux already has this feature implemented and would be nice to support the same in "net/http" as well.
https://github.com/DataDog/dd-trace-go/issues/790

If it's ok I can make PR for the same. Thank you.

[2021-06-07 16:47] rafi-fisker commented on #945
I think it may have to do with when the tracer is initialized. We are writing all logs to JSON format, but that logger might be getting initialized after the tracer...

[2021-06-08 11:09] MichaelMure opened #948 "ddtrace/tracer: use sync.Pool for payload to improve performance"
I noticed when using pprof on a production server that the datadog tracer is doing a non-trivial amount of heap memory allocation (about 13% in our case while the rest of the code is not especially memory efficient).

Zooming in and following the code, you can see that pretty much all of those allocations are done in [`payload.buf`](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/pay

[2021-06-08 12:21] gbbr commented on #948
Hi Michael!

What I'm seeing in your graph is that `msgp.Encode` is using 100% of the time. I'm not sure I understand how a pool would improve that... Can you clarify?

[2021-06-08 15:36] MichaelMure commented on #948
Yes, to be clear the flamegraph I posted show **the heap allocations during a time period**, not the memory used at a specific time (that is, not the "permanent" allocations). Unit is in bytes, not in number of allocations.

This view is also zoomed in on the tracer part (~13%) and ignore all the application specific part (87%), including some other small allocations when doing tracing (those are

[2021-06-09 04:45] knusbaum commented on #931
I spent some time looking at this. The purpose of `mockspan` is basically to record the calls made to a `Span` to make sure those are correct, rather than to validate `tracer.span`'s internal behavior.

We already use real spans to test the behavior of spans, and the bug you encountered was the result of a lack of test coverage, which is corrected (here)[https://github.com/DataDog/dd-trace-go/pull

[2021-06-09 07:05] gbbr commented on #948
Hi Michael!

I see what you mean. I haven't worked on this part for a while, but as far as I remember, we've tried this and had some issue with a race condition. The difficulty lies within the fact that the payload is sent to the transport [here](https://github.com/DataDog/dd-trace-go/blob/91b87dfa35b827bd8a8b1ce19acd683403bc4455/ddtrace/tracer/writer.go#L92), and then subsequently to the HTTP cli

[2021-06-09 11:18] smitthakkar96 opened #949 "Add Env var called `DD_APM_RECEIVER_SOCKET` to not conflict with `DD_DOGSTATSD_SOCKET`"
Since the sockets are supported for both StatsD and APM setting DD_AGENT_HOST would break either DogStatd or APM as they both have different paths. As per the helm chart the socket paths are as followed /var/run/datadog/apm.socket and /var/run/datadog/dsd.socket.

[2021-06-09 14:49] knusbaum commented on #948
Yes, we've seen this issue from time to time. Reusing payload buffers is a great idea and would likely help the allocation issues.

I'm in support of investigating this and seeing if we can avoid the issues @gbbr mentioned.

[2021-06-09 14:53] knusbaum commented on #945
Hi @rafi-fisker. Sorry that you're encountering issues.

I would reach out to customer support. It's possible we need to change something, but we'll want to coordinate with the logs team to figure out what's happening, and we can better handle that case through support.

[2021-06-09 15:00] knusbaum commented on #947
@prasad-marne This feature looks appropriate. Please feel free to open a PR.

[2021-06-09 20:47] knusbaum commented on #697
@drmaples
I don't think there's a way to get at the underlying `driver.Conn` inside the traced one. We should export that type and provide access to the connection.

[2021-06-10 05:35] prasad-marne commented on #947
Thank you. i will create a PR

[2021-06-10 06:27] prasad-marne commented on #849
Any progress or updates on this? i am facing same issue. If required i can help with the PR.

[2021-06-13 10:29] CAFxX commented on #931
Not sure I understand entirely what you mean by this:

While the check for nil would have covered the specific case we encountered, it would not have caught a related but slightly different case: that of a panicking Stringer (consider the case in which a non-nil Stringer can panic, or otherwise return incorrect/unexpected results, depending on its internal state.

Note that while the Stringer coul

[2021-06-15 07:33] prasad-marne commented on #947
@knusbaum i created PR https://github.com/DataDog/dd-trace-go/pull/950. can you review it?

[2021-06-15 16:46] #793 closed

[2021-06-17 05:00] CAFxX commented on #931
Maybe I am missing something. The reason why I say we would have caught it is because our tests use mocktracer, and the reason our tests did not catch it is because mocktracer did not call String() on a Stringer value that originated from a third-party package and that we used as an argument to SetTag. If mocktracer had called String() on that Stringer value, it would have panicked, the panic woul

[2021-06-18 01:31] knusbaum commented on #931
@CAFxX I see. I think I was missing something too.
You are using mock tracer in your code for testing which is why this was not caught.

I see what you mean.

[2021-06-18 16:49] meatballhat commented on #697
@felixge Sorry for my delay. The timings are plausible only in that they aren't *longer* than the parent spans 😐  It's not great. I'd be up for trying a generated fully-wrapped version.

[2021-06-21 08:52] felixge commented on #697
@meatballhat ok, let's see what @knusbaum thinks. I'm technically working on the `profiler` package and not the tracer. But in my previous job I used PostgreSQL and pgx heavily, so I'd love to see better support for it at Datadog : )

[2021-06-22 09:48] pzvalenta opened #951 "proposal: contrib/go-pg/pg.v10: add ServiceName"
I want to set a ServiceName for go-pg client. Other clients (redis, mongo) already have this feature.

[2021-06-22 13:02] knusbaum commented on #951
This looks fine to me.

[2021-06-22 13:28] knusbaum opened #954 "proposal: Decrease target coverage to 90%"
Based on what other Datadog teams are doing (all teams have target line coverage of >=90%), and [recommendations from industry leaders like Google](https://testing.googleblog.com/2020/08/code-coverage-best-practices.html) which says an "exemplary" target for coverage of patches is ~90%, we should adjust our coverage requirement to 90%.

[2021-06-22 13:33] gbbr commented on #954
Do it!

[2021-06-22 14:18] felixge commented on #954
What's the purpose of the configured target right now? Prevent merges? Act as a warning light?

[2021-06-22 14:54] knusbaum commented on #954
@felixge The target needs to be met for any code changes before PR's can be merged. I think 100% was just a number we started with in #882

[2021-06-22 15:53] #928 closed

[2021-06-22 16:33] knusbaum commented on #697
It would be preferable not to have to maintain a complete wrapper for the pgx. We tend to do that as a last resort. It looks like pgx has an open issue for `opencensus` looking for similar functionality.

I've added my own comment there.
https://github.com/jackc/pgx/issues/853

[2021-06-23 09:11] felixge commented on #697
@knusbaum good call. I've added a thumbs up on your comment.

[2021-06-23 09:47] felixge commented on #954
Does the percentage apply to the new code being added, or the whole code base?

Also, how did we get anything merged before? As far as I can tell current coverage is < 80%?

<img width="1159" alt="2021-06-23 Google Chrome Codecov - 11-47-28" src="https://user-images.githubusercontent.com/15000/123075763-ce471280-d418-11eb-9bdc-035a75ce5d42.png">

[2021-06-25 07:00] knusbaum commented on #954
@felixge These requirements are new, so coverage was not measured or required before now.

The code coverage requirement is for new/changed code. So PR's should achieve a code coverage of >=90%.

The current coverage for the repo is < 80%, but that should hopefully climb over time as more PRs cover more code.

LMK if this causes any issues. We can adjust things as necessary.

[2021-06-25 08:07] felixge commented on #954
I'm okay to try this for a bit.

But I'm a bit worried that this will cause more problems than it solves. For example, this makes it impossible to touch/refactor existing code without adding new test code and/or abstractions to achieve coverage.

Generally speaking it'd be nice if we could have some discussions before adding new quality control checks to our CI pipeline or processes.

[2021-06-25 08:45] gbbr commented on #954
The patch coverage on a PR is just guidance/informative, it's not a blocker to PRs.

[2021-06-25 10:38] felixge commented on #954
@gbbr if that's the case, I'm happy : ). I just thought @knusbaum was saying it's a required blocker for PRs. Thanks for adding this!

[2021-06-28 03:16] isbang opened #957 "proposal: contrib/google.golang.org/grpc: support WithRequestTags in StreamServerInterceptor"
# What I did

[code]

# What I expected

APM with a request tag

# What is the result

APM without a request tag

<img width="698" alt="스크린샷 2021-06-28 12 12 05" src="https://user-images.githubusercontent.com/11886612/123574136-4abb6600-d80a-11eb-887e-d708d7492699.png">

[2021-06-28 06:05] kyfk opened #958 "question: Span duration seems too long while in high load."
Our system is running on AWS ECS, and dd agents are running as a sidecar for each task.
The sqlx wrapper https://github.com/DataDog/dd-trace-go/blob/v1/contrib/jmoiron/sqlx/sql.go is used in the project as MySQL accessor.

I've executed a stress test for our system.

A part of the result is following;

<img width="636" alt="Screen Shot 0003-06-28 at 14 39 11" src="https://user-images.githubusercon

[2021-06-28 17:06] valer-cara commented on #608
I see you're using `go-redis`. I've also encountered issues with NewConnections spiking in Redis/Elasticache.

So far I've been able to track it down to the way go-redis handles it's internal pool. If during a request an error happens, the client decides to [remove](https://github.com/go-redis/redis/blob/9cfca5827def4410970428388a51343632f9396e/redis.go#L276) that connection from the pool. On the

[2021-06-29 09:09] andreasreinhardt commented on #865
Hey! I saw a very fast progress on this topic and lots of good feedback but since more than a month nothing happens anymore. Can I still hope that the feature will be integrated, soon?

[2021-06-29 12:58] knusbaum commented on #954
@gbbr @felixge

This *will* prevent a PR's CI pipeline from being green unless the code coverage is >= 90%. Merging can still be done by override from a repo administrator, but I don't like that as a general policy, and we likely need to disable admin override soon by company policy.

For now merging should still be possible. Let's discuss here and figure out what we want the requirement to be.

[2021-06-29 13:09] #951 closed

[2021-06-29 13:20] knusbaum commented on #941
This looks sensible to me.

[2021-06-29 13:29] hexa00 commented on #941
@knusbaum great thank you!

Let me know if there's anything I need to do...

[2021-06-29 13:37] #869 closed

[2021-06-29 13:51] #947 closed

[2021-06-30 16:55] knusbaum commented on #945
I'm closing this issue since it's been moved to customer support.
Please re-open it if necessary.

[2021-06-30 16:55] #945 closed

[2021-07-05 15:47] maebeam opened #960 "Profiler doesn't stop cleanly if uploads are failing"
Calling `profiler.Stop()` if the profiler is unable to submit profiles hangs the shutdown process

[2021-07-05 15:54] felixge commented on #960
@maebeam thanks for reporting this. Do you have a good way to reproduce this?

[2021-07-05 15:59] maebeam commented on #960
Should be fairly easy to reproduce. Just a simple `main` that starts a profiler but doesn't have a dd-agent to talk to. Trap CTRL+C, call `Stop()`, and the process should hang. Let me know if this is not reproducible as this issue is a few months old

[2021-07-05 16:04] felixge commented on #960
@maebeam sorry, hit close on accident. Trying to reproduce this now. Do you remember which version of dd-trace-go you were using?

[2021-07-05 16:11] felixge commented on #960
@maebeam I'm able to reproduce this, see below. I'll try to fix this ASAP. Thanks again for reporting.

[code]

[code]

[2021-07-06 08:34] felixge commented on #960
@maebeam quick follow-up question: What do you expect `Stop()` to do? Assuming normal operations, the profiler could be in several different states, e.g.:

1. Recording a CPU Profile
2. Uploading the current profile
3. Idle

A graceful shutdown of the profiler would probably wait for 1/2 to complete before shutting down, but this could be perceived as "hanging" for several seconds (e.g. 15s for th

[2021-07-06 17:40] maebeam commented on #960
In my opinion everything should be cancelled but I don't feel strongly either way

[2021-07-07 00:35] shannontan-bolt commented on #948
We're running into an odd but similar problem here where the majority of our heap consists of objects from `makeSlice` that aren't garbage collected. I'm quite lost as to how this has happened.

We're using Datadog's Continuous Profiler, and we can see that the makeSlice method somehow has 400MiB, which is about 80% of our heap live objects.

<img width="280" alt="Screen Shot 2021-07-06 at 5 31 45

[2021-07-07 00:36] shannontan-bolt commented on #948
As a result, we're having to turn off our tracer. We suspect that we ran into this problem now as compared to the past because Datadog advised us to use the tracing without limits and do ingestion control at the Datadog side. Let us know what you recommend or if there's something I'm missing.

[2021-07-07 00:37] shannontan-bolt commented on #948
Also, to be clear, this profile is of "Heap Live Objects", not allocations.

[2021-07-07 07:17] felixge commented on #948
@shannontan-bolt 👋 sorry to hear you're running into issues! I work on the profiler, but maybe I can help a little bit as well : ).

We have an app we use for internal testing called go-prof-app that has an [endpoint](https://github.com/felixge/go-prof-app/blob/main/transaction_handler.go) that does 2 SQL queries and burns a bit of CPU time. It's instrumenting with profiling and tracing, and we're

[2021-07-07 17:23] shannontan-bolt commented on #948
@felixge Thanks for the response. In terms of tracer metrics, we see above ~50k traces dropped. Flush duration spikes, but not considerably high (~160ms max 95percentile). Besides dropped traces + flush duration, is there anything else that we should look at?

"2021-07-02 23:07:20 UTC | TRACE | WARN | (pkg/trace/writer/trace.go:252 in recordEvent) | Trace writer payload rejected by edge: 413 Reque

[2021-07-08 08:21] gbbr commented on #948
@shannontan-bolt which agent version are you running? The agent part with the 413 response is possibly a separate issue.

[2021-07-08 18:16] shannontan-bolt commented on #948
@gbbr looks like 7.24.1 (I think). I'm not a Kubernetes expert, but that looks like what we're pulling from GCR.

[2021-07-09 12:42] isbang commented on #957
@gbbr Would you help me with this?

[2021-07-14 01:47] #941 closed

[2021-07-14 11:10] william20111 commented on #869
Now this is merged...is it possible to cut a release with this feature? 🤞

[2021-07-14 14:26] tsvtitan opened #965 "proposal: Allow setting explicit trace ID when starting a span."
We want propagate trace ID from our business applications via HTTP headers or in a custom TCP protocol, thus we need to have an option to set custom Trace ID for a root span.

So, we covered the possibility here => https://github.com/DataDog/dd-trace-go/pull/964

[2021-07-14 14:33] gbbr commented on #965
This is already done automatically by the tracer. Please read the package documentation (section on injecting a span context).

Source: https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer

You can also create other carriers yourself, besides HTTP headers by implementing [`TextMapReader`](https://pkg.go.dev/gopkg.in/DataDog/dd-trace-go.v1@v1.31.0/ddtrace/tracer#TextMapReader)

[2021-07-15 00:20] shannontan-bolt commented on #948
@gbbr do you think agent version is related? I'm not entirely sure what is at fault here - it makes sense that the agent rejects too large of a payload, but that shouldn't lead to a buildup in the buffer that is unending.

[2021-07-16 12:33] xrn commented on #869
@knusbaum @gbbr will be great if it can be released - thanks in advance

[2021-07-19 14:14] felixge commented on #960
Fixed by https://github.com/DataDog/dd-trace-go/pull/961. Will be in the next release.

[2021-07-19 14:14] #960 closed

[2021-07-19 18:08] omh1280 commented on #946
+1

[2021-07-22 21:42] #870 closed

[2021-07-26 00:52] Mangosteen-Yang commented on #620
Hi, any update on v7 support?

[2021-07-26 01:12] nzin-appdirect opened #969 "proposal: contrib/urfave/negroni: add support for another goland web framework: negroni"
I am not using chi or gin, but negroni (https://github.com/urfave/negroni).

I would like to contribute, and add support for the negroni framework
Do you mind if I create a PR from https://github.com/nzin-appdirect/dd-trace-go/tree/negroni_support ?